{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Beneficios API",
    "description": "Mapeamento de beneficios sociais (Auxilio Brasil, Bolsa Familia, BPC, Auxilio Emergencial) por CPF e renuncias fiscais por CNPJ.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "AuxilioBrasil": {
        "type": "object",
        "properties": {
          "nis_favorecido": {
            "type": "string"
          },
          "mes_competencia": {
            "type": "string"
          },
          "mes_referencia": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "codigo_municipio": {
            "type": "string"
          },
          "nome_municipio": {
            "type": "string"
          },
          "valor_parcela": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "AuxilioEmergencial": {
        "type": "object",
        "properties": {
          "nis_beneficiario": {
            "type": "string"
          },
          "nis_responsavel": {
            "type": "string"
          },
          "mes_disponibilizacao": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "codigo_municipio": {
            "type": "string"
          },
          "nome_municipio": {
            "type": "string"
          },
          "enquadramento": {
            "type": "string"
          },
          "parcela": {
            "type": "string"
          },
          "observacao": {
            "type": "string",
            "nullable": true
          },
          "valor_beneficio": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "Bpc": {
        "type": "object",
        "properties": {
          "nis_beneficiario": {
            "type": "string"
          },
          "mes_competencia": {
            "type": "string"
          },
          "mes_referencia": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "codigo_municipio": {
            "type": "string"
          },
          "nome_municipio": {
            "type": "string"
          },
          "numero_beneficio": {
            "type": "string"
          },
          "beneficio_judicial": {
            "type": "string"
          },
          "valor_parcela": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "RenunciaFiscal": {
        "type": "object",
        "description": "Registro bruto (SELECT *) de empresas.renuncias_fiscais. Valores monetarios vem como string no formato brasileiro (ex: \"1.263,00\").",
        "properties": {
          "ano_calendario": {
            "type": "string"
          },
          "cnpj": {
            "type": "string"
          },
          "razao_social": {
            "type": "string"
          },
          "nome_fantasia": {
            "type": "string"
          },
          "codigo_cnae": {
            "type": "string",
            "nullable": true
          },
          "cnae": {
            "type": "string",
            "nullable": true
          },
          "municipio": {
            "type": "string"
          },
          "uf": {
            "type": "string",
            "nullable": true
          },
          "tipo_renuncia": {
            "type": "string"
          },
          "beneficio_fiscal": {
            "type": "string"
          },
          "fundamento_legal": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          },
          "tributo": {
            "type": "string"
          },
          "forma_tributacao": {
            "type": "string",
            "nullable": true
          },
          "valor_renuncia_fiscal": {
            "type": "string",
            "description": "Valor em R$ no formato brasileiro (ex: \"1.263,00\")"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "BeneficiosCpfResponse": {
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string",
            "description": "CPF consultado (apenas digitos)"
          },
          "nome": {
            "type": "string",
            "description": "Nome do beneficiario (Title Case). String vazia quando nao resolvido."
          },
          "total": {
            "type": "integer"
          },
          "auxilio_brasil": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuxilioBrasil"
            }
          },
          "auxilio_emergencial": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuxilioEmergencial"
            }
          },
          "bolsa_familia": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuxilioBrasil"
            }
          },
          "bpc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bpc"
            }
          }
        }
      },
      "BeneficiosCnpjResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "renuncias_fiscais": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RenunciaFiscal"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/beneficios/cpf/{cpf}": {
      "get": {
        "operationId": "getBeneficiosByCpf",
        "summary": "Beneficios sociais de uma pessoa",
        "description": "Retorna beneficios sociais recebidos: Auxilio Brasil, Bolsa Familia, BPC e Auxilio Emergencial.",
        "tags": [
          "Beneficios"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF do beneficiario (apenas digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "required": false,
            "description": "Filtrar por nome do beneficiario",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficios encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiosCpfResponse"
                },
                "example": {
                  "cpf": "12345678901",
                  "nome": "João Silva De Oliveira",
                  "total": 4,
                  "auxilio_brasil": [
                    {
                      "nis_favorecido": "12345678901",
                      "mes_competencia": "2023-01",
                      "mes_referencia": "2023-01",
                      "uf": "SP",
                      "codigo_municipio": "3550308",
                      "nome_municipio": "São Paulo",
                      "valor_parcela": 600.0
                    }
                  ],
                  "auxilio_emergencial": [
                    {
                      "nis_beneficiario": "12345678901",
                      "nis_responsavel": "12345678901",
                      "mes_disponibilizacao": "2020-04",
                      "uf": "SP",
                      "codigo_municipio": "3550308",
                      "nome_municipio": "São Paulo",
                      "enquadramento": "Informal",
                      "parcela": "1",
                      "observacao": null,
                      "valor_beneficio": 600.0
                    }
                  ],
                  "bolsa_familia": [
                    {
                      "nis_favorecido": "12345678901",
                      "mes_competencia": "2022-12",
                      "mes_referencia": "2022-12",
                      "uf": "SP",
                      "codigo_municipio": "3550308",
                      "nome_municipio": "São Paulo",
                      "valor_parcela": 400.0
                    }
                  ],
                  "bpc": [
                    {
                      "nis_beneficiario": "12345678901",
                      "mes_competencia": "2023-01",
                      "mes_referencia": "2023-01",
                      "uf": "SP",
                      "codigo_municipio": "3550308",
                      "nome_municipio": "São Paulo",
                      "numero_beneficio": "1234567890",
                      "beneficio_judicial": "Não",
                      "valor_parcela": 1518.0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficios/cnpj/{cnpj}": {
      "get": {
        "operationId": "getBeneficiosByCnpj",
        "summary": "Renuncias fiscais de uma empresa",
        "description": "Retorna renuncias fiscais, habilitacoes e imunidades tributarias da empresa.",
        "tags": [
          "Beneficios"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (apenas digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Renuncias fiscais encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiosCnpjResponse"
                },
                "example": {
                  "total": 1,
                  "renuncias_fiscais": [
                    {
                      "ano_calendario": "2023",
                      "cnpj": "12345678000199",
                      "razao_social": "Silva Comércio Ltda",
                      "nome_fantasia": "Silva Store",
                      "codigo_cnae": "4729699",
                      "cnae": "Comércio varejista de produtos alimentícios em geral",
                      "municipio": "São Paulo",
                      "uf": "SP",
                      "tipo_renuncia": "Declarado pelo Contribuinte para Apuração do IRPJ e da CSLL",
                      "beneficio_fiscal": "Simples Nacional",
                      "fundamento_legal": "Lei Complementar 123/2006",
                      "descricao": "Regime Especial Unificado de Arrecadação",
                      "tributo": "IRPJ",
                      "forma_tributacao": "Simples Nacional",
                      "valor_renuncia_fiscal": "12.000,00",
                      "created_at": "2024-01-15 10:30:00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}