{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Cadastros API",
    "description": "Identificacao de cadastros em plataformas comerciais por CPF: Drogasil, Drogaraia, Carrefour, Atacadao, Petz, Fastshop, Livelo.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "CadastroResult": {
        "type": "object",
        "properties": {
          "plataforma": {
            "type": "string",
            "description": "Nome da plataforma (drogasil, carrefour, petz, etc)"
          },
          "existe": {
            "type": "boolean",
            "description": "Se o CPF possui cadastro na plataforma"
          },
          "telefone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "description": "Dados adicionais especificos da plataforma"
          }
        }
      },
      "CadastrosResponse": {
        "type": "object",
        "properties": {
          "cadastros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CadastroResult"
            }
          }
        }
      },
      "AsyncJobCreated": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/cadastros/cpf/{cpf}": {
      "get": {
        "operationId": "getCadastrosByCpf",
        "summary": "Cadastros comerciais de uma pessoa",
        "description": "Verifica em quais plataformas comerciais o CPF possui cadastro. Retorna telefone e email de recuperacao quando disponiveis.",
        "tags": [
          "Cadastros"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cadastros encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CadastrosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cadastros/async/cpf/{cpf}": {
      "post": {
        "operationId": "asyncCadastrosByCpf",
        "summary": "Cadastros comerciais (async)",
        "description": "Enfileira consulta assincrona. Consulte o status via GET /jobs/{jobId}.",
        "tags": [
          "Cadastros"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Job criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobCreated"
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cadastros/jobs/{jobId}": {
      "get": {
        "operationId": "getCadastrosJobStatus",
        "summary": "Status do job de cadastros",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status do job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID do job"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status atual do job",
                      "enum": ["pending", "processing", "completed", "failed"]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "Progresso de 0 a 100"
                    },
                    "data": {
                      "type": "object",
                      "description": "Resultado do job quando completo"
                    }
                  },
                  "example": {
                    "id": "abc123",
                    "status": "completed",
                    "progress": 100,
                    "data": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}