{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Credito - Engines API",
    "description": "Gerenciamento de motores de regras para analise de credito (Mycroft API).",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "blocking",
              "alert"
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "EngineSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isTemplate": {
            "type": "boolean"
          },
          "ruleCount": {
            "type": "integer"
          }
        }
      },
      "EngineDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isTemplate": {
            "type": "boolean"
          },
          "ruleCount": {
            "type": "integer"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rule"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/credito/engines": {
      "get": {
        "operationId": "EnginesController_list",
        "summary": "Listar motores de regras disponiveis",
        "description": "Retorna lista de todos os engines de analise com informacoes resumidas.",
        "responses": {
          "200": {
            "description": "Lista de engines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EngineSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Credito - Engines"
        ]
      },
      "post": {
        "operationId": "EnginesController_create",
        "summary": "Criar novo motor de regras",
        "description": "Cria um engine com regras customizadas ou clonando um existente.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Nome do engine"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Descricao do engine"
                  },
                  "rules": {
                    "type": "object",
                    "description": "Regras customizadas"
                  },
                  "cloneFrom": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID de um engine existente para clonar"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Engine criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineDetail"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validacao"
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Credito - Engines"
        ]
      }
    },
    "/credito/engines/{id}": {
      "get": {
        "operationId": "EnginesController_getById",
        "summary": "Consultar motor de regras especifico",
        "description": "Retorna detalhes do engine incluindo todas as regras configuradas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do engine (UUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do engine com regras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineDetail"
                }
              }
            }
          },
          "404": {
            "description": "Engine nao encontrado"
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Credito - Engines"
        ]
      },
      "put": {
        "operationId": "EnginesController_update",
        "summary": "Atualizar motor de regras",
        "description": "Atualiza nome, descricao e/ou regras de um engine existente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do engine (UUID)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "rules": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Engine atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineDetail"
                }
              }
            }
          },
          "404": {
            "description": "Engine nao encontrado"
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Credito - Engines"
        ]
      },
      "delete": {
        "operationId": "EnginesController_delete",
        "summary": "Remover motor de regras",
        "description": "Remove um engine. Engines template e referenciados por operacoes nao podem ser removidos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do engine (UUID)"
          }
        ],
        "responses": {
          "204": {
            "description": "Engine removido com sucesso"
          },
          "404": {
            "description": "Engine nao encontrado"
          },
          "409": {
            "description": "Engine nao pode ser removido (template ou em uso)"
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Credito - Engines"
        ]
      }
    }
  }
}