{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Documentos API",
    "description": "Inteligencia documental: busca full-text no Diario Oficial de Sao Paulo (DOSP) e no Diario Judicial (PJE).",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "DocumentResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Tipo do documento (rotulo legivel). Valores: \"Diario Oficial de Sao Paulo\" (DOSP) ou \"Diario Judicial\" (PJE)."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "description": "Trecho do conteudo com o match"
          },
          "link": {
            "type": "string",
            "description": "URL do documento original"
          },
          "names": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Papel do nome no documento: \"Mencionado\" ou \"Advogado\""
                }
              }
            },
            "description": "Nomes mencionados no documento"
          },
          "date": {
            "type": "string",
            "nullable": true,
            "description": "Data da publicacao. Sempre null para a fonte PJE."
          },
          "source": {
            "type": "string",
            "enum": [
              "DOSP",
              "PJE"
            ],
            "description": "Fonte do documento: \"DOSP\" (Diario Oficial de Sao Paulo) ou \"PJE\" (Diario Judicial)."
          }
        }
      },
      "DocumentosResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_items": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentResult"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/documentos/busca": {
      "get": {
        "operationId": "searchDocumentos",
        "summary": "Buscar em fontes publicas",
        "description": "Busca full-text em documentos publicos. Aceita CPF, CNPJ, nomes ou termos livres.",
        "tags": [
          "Documentos"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Texto para buscar (CPF, CNPJ, nome ou termo)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Numero da pagina (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados da busca paginados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentosResponse"
                },
                "example": {
                  "page": 1,
                  "page_size": 20,
                  "total_items": 2,
                  "results": [
                    {
                      "type": "Diário Judicial",
                      "title": "Intimação - 0000001-23.2020.8.26.0100",
                      "description": "Tribunal: TJSP, Órgão: 1ª Vara Cível, Classe: Procedimento Comum Cível",
                      "text": "...intimada a parte João Silva de Oliveira para manifestar-se no prazo legal...",
                      "link": "https://comunica.pje.jus.br/consulta/123456",
                      "names": [
                        {
                          "name": "JOAO SILVA DE OLIVEIRA",
                          "type": "Mencionado"
                        },
                        {
                          "name": "Maria Souza",
                          "type": "Advogado"
                        }
                      ],
                      "date": null,
                      "source": "PJE"
                    },
                    {
                      "type": "Diário Oficial de São Paulo",
                      "title": "Diário Oficial Empresarial",
                      "description": "Caderno Executivo - Seção I",
                      "text": "...João Silva de Oliveira nomeado para o cargo de Diretor Técnico, conforme Decreto nº 12.345...",
                      "link": "https://doe.sp.gov.br/empresarial/edicao-123/caderno-1/pagina-45",
                      "names": [
                        {
                          "name": "JOAO SILVA DE OLIVEIRA",
                          "type": "Mencionado"
                        }
                      ],
                      "date": "2024-01-15",
                      "source": "DOSP"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}