{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Documentos API",
    "description": "Inteligencia documental: busca full-text em diarios oficiais (DOU, DJSP) e publicacoes governamentais.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "DocumentResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Tipo do documento"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "description": "Trecho do conteudo com o match"
          },
          "link": {
            "type": "string",
            "description": "URL do documento original"
          },
          "names": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "PF, PJ, etc"
                }
              }
            },
            "description": "Nomes mencionados no documento"
          },
          "date": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "description": "Fonte do documento (DOU, DJSP, etc)"
          }
        }
      },
      "DocumentosResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_items": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentResult"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/documentos/busca": {
      "get": {
        "operationId": "searchDocumentos",
        "summary": "Buscar em fontes publicas",
        "description": "Busca full-text em documentos publicos. Aceita CPF, CNPJ, nomes ou termos livres.",
        "tags": [
          "Documentos"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Texto para buscar (CPF, CNPJ, nome ou termo)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Numero da pagina (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (default: 10)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados da busca paginados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentosResponse"
                },
                "example": {
                  "page": 1,
                  "page_size": 10,
                  "total_items": 5,
                  "results": [
                    {
                      "type": "diario_oficial",
                      "title": "Diário Oficial do Estado de São Paulo",
                      "description": "Seção I - Poder Executivo",
                      "text": "...João Silva de Oliveira nomeado para o cargo de Diretor Técnico, conforme Decreto nº 12.345...",
                      "link": "https://www.imprensaoficial.com.br/DO/BuscaDO2001Documento_11_4.aspx?...",
                      "names": [
                        {
                          "name": "João Silva de Oliveira",
                          "type": "PF"
                        }
                      ],
                      "date": "2020-01-15",
                      "source": "DOE-SP"
                    },
                    {
                      "type": "diario_oficial",
                      "title": "Diário Oficial da União",
                      "description": "Seção III - Contratos",
                      "text": "...Contrato firmado com Silva Comércio LTDA, CNPJ 12.345.678/0001-99, para fornecimento de equipamentos...",
                      "link": "https://www.in.gov.br/web/dou/-/...",
                      "names": [
                        {
                          "name": "Silva Comércio LTDA",
                          "type": "PJ"
                        }
                      ],
                      "date": "2021-06-20",
                      "source": "DOU"
                    },
                    {
                      "type": "diario_justica",
                      "title": "Diário da Justiça de São Paulo",
                      "description": "Caderno Judicial - 1ª Instância - Capital",
                      "text": "...Processo nº 0000001-23.2020.8.26.0100 - Autor: João Silva de Oliveira - Ação de Indenização...",
                      "link": "https://www.djsp.jus.br/...",
                      "names": [
                        {
                          "name": "João Silva de Oliveira",
                          "type": "PF"
                        }
                      ],
                      "date": "2020-03-10",
                      "source": "DJSP"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}