{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Empresas API",
    "description": "Perfil completo de empresas: dados cadastrais, quadro societario, funcionarios, dividas, veiculos, imoveis, processos, aeronaves, patentes, trabalhista, rural, beneficios fiscais e compliance. Ponto de entrada para investigacoes empresariais.",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "TimelineEventValor": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "string",
            "description": "Codigo bruto (situacao, porte, natureza, CNAE) quando houver"
          },
          "descricao": {
            "type": "string",
            "description": "Descricao legivel (ja enriquecida)"
          }
        }
      },
      "TimelineEventPessoa": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome do socio (Title Case)"
          },
          "documento": {
            "type": "string",
            "nullable": true,
            "description": "CPF/CNPJ formatado, ou null"
          },
          "qualificacao": {
            "type": "string",
            "description": "Qualificacao (Socio-Administrador, Diretor, ...)"
          }
        }
      },
      "TimelineEvent": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Data do evento (YYYY-MM-DD). Oficial quando data_oficial=true, senao dia 01 do mes"
          },
          "data_oficial": {
            "type": "boolean",
            "description": "true = data de registro oficial; false = aproximada (so o mes e conhecido)"
          },
          "mes_referencia": {
            "type": "string",
            "description": "Mes em que a alteracao foi detectada (YYYY-MM)"
          },
          "entidade": {
            "type": "string",
            "description": "empresa, estabelecimento, socio, simples ou cnae"
          },
          "estabelecimento": {
            "type": "string",
            "description": "CNPJ formatado do estabelecimento do evento"
          },
          "tipo": {
            "type": "string",
            "description": "Um dos 15 tipos de evento",
            "enum": [
              "socio_entrada",
              "socio_saida",
              "capital_alterado",
              "situacao_alterada",
              "empresa_baixada",
              "razao_social_alterada",
              "porte_alterado",
              "natureza_juridica_alterada",
              "nome_fantasia_alterado",
              "endereco_alterado",
              "cnae_principal_alterado",
              "cnae_secundario_incluido",
              "cnae_secundario_removido",
              "simples_alterado",
              "mei_alterado"
            ]
          },
          "categoria": {
            "type": "string",
            "enum": ["socios", "cadastro", "atividade", "situacao", "tributario"]
          },
          "origem": {
            "type": "string",
            "enum": ["alteracao", "estado_inicial"],
            "description": "alteracao = mudanca detectada; estado_inicial = linha de base do 1o mes coberto"
          },
          "titulo": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          },
          "campo": {
            "type": "string",
            "description": "Coluna de origem da mudanca, quando aplicavel"
          },
          "de": {
            "oneOf": [
              { "$ref": "#/components/schemas/TimelineEventValor" },
              { "type": "object", "nullable": true, "enum": [null] }
            ],
            "description": "Valor anterior (null quando nao se aplica)"
          },
          "para": {
            "oneOf": [
              { "$ref": "#/components/schemas/TimelineEventValor" },
              { "type": "object", "nullable": true, "enum": [null] }
            ],
            "description": "Valor novo (null quando nao se aplica)"
          },
          "pessoa": {
            "oneOf": [
              { "$ref": "#/components/schemas/TimelineEventPessoa" },
              { "type": "object", "nullable": true, "enum": [null] }
            ],
            "description": "Preenchido so em eventos de socio"
          }
        }
      },
      "LinhaDoTempoCobertura": {
        "type": "object",
        "properties": {
          "dados_a_partir_de": {
            "type": "string",
            "nullable": true,
            "description": "1o mes coberto (YYYY-MM), ou null se nada foi processado"
          },
          "meses_disponiveis": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Meses com processamento concluido (YYYY-MM), ascendente"
          },
          "aviso": {
            "type": "string",
            "description": "Aviso sobre cobertura parcial e o significado de estado_inicial"
          }
        }
      },
      "LinhaDoTempoResponse": {
        "type": "object",
        "properties": {
          "cnpj": {
            "type": "string",
            "description": "CNPJ consultado, formatado"
          },
          "cobertura": {
            "$ref": "#/components/schemas/LinhaDoTempoCobertura"
          },
          "retornados": {
            "type": "integer",
            "description": "Quantidade de eventos devolvidos"
          },
          "truncado": {
            "type": "boolean",
            "description": "true quando retornados bateu no limite (ha mais eventos)"
          },
          "linha_do_tempo": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimelineEvent" }
          }
        }
      },
      "Socio": {
        "type": "object",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CPF ou CNPJ formatado do socio"
          },
          "tipo_documento": {
            "type": "string",
            "enum": ["CPF", "CNPJ"]
          },
          "nome": {
            "type": "string"
          },
          "tipo": {
            "type": "string",
            "description": "Pessoa Fisica, Pessoa Juridica"
          },
          "qualificacao": {
            "type": "string"
          },
          "data_entrada": {
            "type": "string"
          },
          "faixa_etaria": {
            "type": "string",
            "nullable": true
          },
          "data_nascimento": {
            "type": "string",
            "nullable": true,
            "description": "Somente para Pessoa Fisica"
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "description": "Somente para Pessoa Fisica"
          },
          "idade": {
            "type": "integer",
            "nullable": true,
            "description": "Somente para Pessoa Fisica"
          },
          "representante": {
            "type": "object",
            "nullable": true,
            "description": "Somente para Pessoa Juridica",
            "properties": {
              "nome": {
                "type": "string"
              },
              "documento": {
                "type": "string"
              },
              "qualificacao": {
                "type": "string"
              }
            }
          }
        }
      },
      "Funcionario": {
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string",
            "description": "CPF formatado"
          },
          "nome": {
            "type": "string"
          },
          "data_nascimento": {
            "type": "string",
            "nullable": true
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "description": "Masculino ou Feminino"
          },
          "cargo": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "ativo ou inativo"
          },
          "data_admissao": {
            "type": "string",
            "nullable": true
          },
          "data_desligamento": {
            "type": "string",
            "nullable": true
          },
          "remuneracao": {
            "type": "object",
            "nullable": true,
            "properties": {
              "valor": {
                "type": "number",
                "nullable": true
              },
              "estimativa_minima": {
                "type": "number",
                "nullable": true
              },
              "estimativa_maxima": {
                "type": "number",
                "nullable": true
              },
              "faixa": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "vinculo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "nivel": {
                "type": "string",
                "nullable": true
              },
              "setor": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "tipo": {
                    "type": "string",
                    "nullable": true
                  },
                  "codigo": {
                    "type": "string",
                    "nullable": true
                  },
                  "descricao": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "contatos": {
            "type": "object",
            "nullable": true,
            "properties": {
              "telefone": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "ddi": {
                    "type": "string"
                  },
                  "ddd": {
                    "type": "string"
                  },
                  "numero": {
                    "type": "string"
                  },
                  "numero_completo": {
                    "type": "string"
                  },
                  "estado": {
                    "type": "string"
                  },
                  "operadora": {
                    "type": "string"
                  }
                }
              },
              "email": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "dominio": {
                    "type": "string"
                  },
                  "corporativo": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      },
      "EmpresaResponse": {
        "type": "object",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CNPJ formatado"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CNPJ"
            ]
          },
          "cnpj_basico": {
            "type": "string",
            "description": "CNPJ raiz (8 dígitos)"
          },
          "razao_social": {
            "type": "string"
          },
          "nome_fantasia": {
            "type": "string",
            "nullable": true
          },
          "situacao": {
            "type": "string",
            "description": "Ativa, Baixada, Inapta, Suspensa, Nula"
          },
          "data_situacao": {
            "type": "string",
            "description": "Data ISO da situação cadastral"
          },
          "motivo_situacao": {
            "type": "string",
            "nullable": true
          },
          "data_abertura": {
            "type": "string",
            "description": "Data ISO de início das atividades"
          },
          "capital_social": {
            "type": "number"
          },
          "porte": {
            "type": "string",
            "nullable": true,
            "description": "Micro empresa, Empresa de pequeno porte, Médio ou Grande porte"
          },
          "matriz_filial": {
            "type": "string",
            "nullable": true,
            "description": "Matriz ou Filial"
          },
          "natureza_juridica": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Código numérico da natureza jurídica"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "atividade_principal": {
            "type": "object",
            "nullable": true,
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Código CNAE"
              },
              "descricao": {
                "type": "string"
              }
            }
          },
          "atividades_secundarias": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "codigo": {
                  "type": "string"
                },
                "descricao": {
                  "type": "string"
                }
              }
            }
          },
          "endereco": {
            "type": "object",
            "properties": {
              "logradouro": {
                "type": "string"
              },
              "numero": {
                "type": "string"
              },
              "complemento": {
                "type": "string",
                "nullable": true
              },
              "bairro": {
                "type": "string"
              },
              "cidade": {
                "type": "string"
              },
              "uf": {
                "type": "string"
              },
              "cep": {
                "type": "string"
              }
            }
          },
          "telefones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ddi": {
                  "type": "string"
                },
                "ddd": {
                  "type": "string"
                },
                "numero": {
                  "type": "string"
                },
                "numero_completo": {
                  "type": "string"
                },
                "estado": {
                  "type": "string"
                },
                "operadora": {
                  "type": "string"
                }
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "dominio": {
                  "type": "string"
                },
                "corporativo": {
                  "type": "boolean"
                }
              }
            }
          },
          "socios": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "nome": {
                  "type": "string"
                },
                "documento": {
                  "type": "string",
                  "nullable": true,
                  "description": "CPF ou CNPJ formatado. Null quando o CPF do sócio está mascarado e não pôde ser resolvido"
                },
                "tipo_documento": {
                  "type": "string",
                  "description": "CPF ou CNPJ"
                },
                "tipo": {
                  "type": "string",
                  "description": "Pessoa Física ou Pessoa Jurídica"
                },
                "qualificacao": {
                  "type": "string"
                },
                "data_entrada": {
                  "type": "string"
                },
                "pais": {
                  "type": "string",
                  "description": "País do sócio (padrão Brasil)"
                },
                "origem": {
                  "type": "string",
                  "description": "Fonte do vínculo societário (ex: qsa)"
                },
                "data_nascimento": {
                  "type": "string",
                  "nullable": true,
                  "description": "Somente Pessoa Física"
                },
                "sexo": {
                  "type": "string",
                  "nullable": true,
                  "description": "Somente Pessoa Física"
                },
                "idade": {
                  "type": "integer",
                  "nullable": true,
                  "description": "Somente Pessoa Física"
                },
                "faixa_etaria": {
                  "type": "string",
                  "nullable": true,
                  "description": "Somente Pessoa Física"
                },
                "representante": {
                  "type": "object",
                  "nullable": true,
                  "description": "Representante legal — somente Pessoa Jurídica",
                  "properties": {
                    "nome": {
                      "type": "string"
                    },
                    "documento": {
                      "type": "string",
                      "nullable": true
                    },
                    "qualificacao": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "situacao_especial": {
            "type": "string",
            "nullable": true
          },
          "data_situacao_especial": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "paths": {
    "/empresas/cnpj/{cnpj}": {
      "get": {
        "operationId": "getEmpresaByCnpj",
        "summary": "Informações básicas",
        "description": "Retorna informações básicas da empresa: dados cadastrais, situação na Receita Federal, natureza jurídica, atividades (CNAEs), endereço, telefones, emails e quadro societário.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          },
          {
            "name": "realtime",
            "in": "query",
            "required": false,
            "description": "Se true, enfileira a validação oficial do nome no TST/BNDT e inclui validacao_oficial na resposta.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil completo da empresa com todos os dados agregados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmpresaResponse"
                },
                "example": {
                  "documento": "33.000.167/0001-01",
                  "tipo_documento": "CNPJ",
                  "cnpj_basico": "33000167",
                  "razao_social": "Petroleo Brasileiro S A Petrobras",
                  "nome_fantasia": "Petrobras - Edise",
                  "situacao": "Ativa",
                  "data_situacao": "2005-11-03",
                  "motivo_situacao": "Sem Motivo",
                  "data_abertura": "1966-09-28",
                  "capital_social": 205431960490.52,
                  "porte": "Médio ou Grande porte",
                  "matriz_filial": "Matriz",
                  "natureza_juridica": {
                    "codigo": "2038",
                    "descricao": "Sociedade de Economia Mista"
                  },
                  "atividade_principal": {
                    "codigo": "0600001",
                    "descricao": "Extração de petróleo e gás natural"
                  },
                  "atividades_secundarias": [
                    {
                      "codigo": "1921700",
                      "descricao": "Fabricação de produtos do refino de petróleo"
                    },
                    {
                      "codigo": "3520401",
                      "descricao": "Produção de gás; processamento de gás natural"
                    }
                  ],
                  "endereco": {
                    "logradouro": "Avenida Republica do Chile",
                    "numero": "65",
                    "complemento": null,
                    "bairro": "Centro",
                    "cidade": "Rio de Janeiro",
                    "uf": "RJ",
                    "cep": "20031170"
                  },
                  "telefones": [
                    {
                      "ddi": "55",
                      "ddd": "21",
                      "numero": "21660000",
                      "numero_completo": "552121660000",
                      "estado": "RJ",
                      "operadora": "Fixo"
                    }
                  ],
                  "emails": [
                    {
                      "email": "cc-rfisc@petrobras.com.br",
                      "dominio": "petrobras.com.br",
                      "corporativo": true
                    }
                  ],
                  "socios": [
                    {
                      "nome": "Claudio Romeo Schlosser",
                      "documento": "406.077.120-15",
                      "tipo_documento": "CPF",
                      "tipo": "Pessoa Física",
                      "qualificacao": "Diretor",
                      "data_entrada": "2023-04-17",
                      "pais": "Brasil",
                      "origem": "qsa",
                      "data_nascimento": "1964-04-15",
                      "sexo": "Masculino",
                      "idade": 61,
                      "faixa_etaria": "Mais de 60 anos"
                    }
                  ],
                  "situacao_especial": null,
                  "data_situacao_especial": null
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/cnpj/{cnpj}/socios": {
      "get": {
        "operationId": "getSociosByCnpj",
        "summary": "Quadro societario",
        "description": "Retorna socios e administradores com qualificacao, data de entrada e representante legal.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de socios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "socios": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Socio"
                      }
                    }
                  }
                },
                "example": {
                  "socios": [
                    {
                      "nome": "João Silva",
                      "documento": "123.456.789-10",
                      "tipo_documento": "CPF",
                      "tipo": "Pessoa Física",
                      "qualificacao": "Sócio-Administrador",
                      "data_entrada": "2019-01-15",
                      "data_nascimento": "1990-01-15",
                      "sexo": "Masculino",
                      "idade": 34,
                      "faixa_etaria": "30 a 40 anos",
                      "representante": null
                    },
                    {
                      "nome": "Empresa Parceira Ltda",
                      "documento": "98.765.432/0001-10",
                      "tipo_documento": "CNPJ",
                      "tipo": "Pessoa Jurídica",
                      "qualificacao": "Sócio",
                      "data_entrada": "2019-01-15",
                      "data_nascimento": null,
                      "sexo": null,
                      "idade": null,
                      "faixa_etaria": null,
                      "representante": {
                        "nome": "Carlos Representante",
                        "documento": "111.222.333-44",
                      "qualificacao": "Administrador"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/cnpj/{cnpj}/funcionarios": {
      "get": {
        "operationId": "getFuncionariosByCnpj",
        "summary": "Quadro de funcionarios",
        "description": "Retorna os funcionarios vinculados a uma empresa com cargo, funcao, remuneracao e situacao. Util para avaliar porte operacional.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de funcionarios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "funcionarios": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Funcionario"
                      }
                    }
                  }
                },
                "example": {
                  "funcionarios": [
                    {
                      "cpf": "123.456.789-10",
                      "nome": "Maria Oliveira",
                      "data_nascimento": "1992-03-20",
                      "sexo": "Feminino",
                      "cargo": "Gerente Comercial",
                      "status": "ativo",
                      "data_admissao": "2019-01-15",
                      "data_desligamento": null,
                      "remuneracao": {
                        "valor": 5000.0,
                        "estimativa_minima": 6072.0,
                        "estimativa_maxima": 15180.0,
                        "faixa": "4 a 10 SM"
                      },
                      "vinculo": {
                        "nivel": "Gerente",
                        "setor": {
                          "tipo": "Privado",
                          "codigo": "4729199",
                          "descricao": "Comércio varejista de outros produtos"
                        }
                      },
                      "contatos": {
                        "telefone": {
                          "ddi": "55",
                          "ddd": "11",
                          "numero": "999998888",
                          "numero_completo": "5511999998888",
                          "estado": "São Paulo",
                          "operadora": "Vivo"
                        },
                        "email": {
                          "email": "maria@silva.com.br",
                          "dominio": "silva.com.br",
                          "corporativo": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/cnpj/{cnpj}/linha-do-tempo": {
      "get": {
        "operationId": "getLinhaDoTempoByCnpj",
        "summary": "Linha do tempo da empresa",
        "description": "Cronologia reversa (mais recente primeiro) de eventos e alteracoes cadastrais da empresa: entrada/saida de socio, capital, situacao, razao social, endereco, CNAE e Simples/MEI. Cada resposta traz um mapa de cobertura (a partir de quando a base e confiavel). Custo: 1 token.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          },
          {
            "name": "tipos",
            "in": "query",
            "required": false,
            "description": "Filtra por tipo de evento. CSV dos 15 tipos (ex.: socio_entrada,capital_alterado). Omitido = todos.",
            "schema": {
              "type": "string",
              "example": "socio_entrada,socio_saida"
            }
          },
          {
            "name": "desde",
            "in": "query",
            "required": false,
            "description": "Mes inicial inclusive (YYYY-MM)",
            "schema": {
              "type": "string",
              "example": "2024-01"
            }
          },
          {
            "name": "ate",
            "in": "query",
            "required": false,
            "description": "Mes final inclusive (YYYY-MM)",
            "schema": {
              "type": "string",
              "example": "2024-12"
            }
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "description": "Maximo de eventos retornados (1 a 2000, padrao 500). Sem offset: use truncado + filtros para ver mais.",
            "schema": {
              "type": "integer",
              "default": 500,
              "maximum": 2000,
              "example": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Linha do tempo com cobertura e eventos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinhaDoTempoResponse"
                },
                "example": {
                  "cnpj": "12.345.678/0001-99",
                  "cobertura": {
                    "dados_a_partir_de": "2024-01",
                    "meses_disponiveis": ["2024-01", "2024-02", "2024-03", "2024-04", "2024-05"],
                    "aviso": "Meses não listados ainda não foram processados; alterações nesses períodos podem não aparecer. Eventos com origem 'estado_inicial' representam o estado no início do monitoramento, não uma alteração."
                  },
                  "retornados": 2,
                  "truncado": false,
                  "linha_do_tempo": [
                    {
                      "data": "2024-05-15",
                      "data_oficial": true,
                      "mes_referencia": "2024-05",
                      "entidade": "empresa",
                      "estabelecimento": "12.345.678/0001-99",
                      "tipo": "razao_social_alterada",
                      "categoria": "cadastro",
                      "origem": "alteracao",
                      "titulo": "Razão social alterada",
                      "descricao": "Razão social alterada de \"Empresa Velha Ltda\" para \"Empresa Nova Ltda\".",
                      "campo": "razao_social",
                      "de": { "descricao": "Empresa Velha Ltda" },
                      "para": { "descricao": "Empresa Nova Ltda" },
                      "pessoa": null
                    },
                    {
                      "data": "2024-04-10",
                      "data_oficial": true,
                      "mes_referencia": "2024-04",
                      "entidade": "socio",
                      "estabelecimento": "12.345.678/0001-99",
                      "tipo": "socio_entrada",
                      "categoria": "socios",
                      "origem": "alteracao",
                      "titulo": "Entrada de sócio",
                      "descricao": "João Silva Da Costa entrou como Sócio-Administrador.",
                      "de": null,
                      "para": { "descricao": "João Silva Da Costa" },
                      "pessoa": {
                        "nome": "João Silva Da Costa",
                        "documento": "123.456.789-10",
                        "qualificacao": "Sócio-Administrador"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido (tipos fora da lista, desde/ate fora de YYYY-MM, limite invalido)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/cnpj/{cnpj}/trabalhista": {
      "get": {
        "operationId": "getEmpresaTrabalhistaByCnpj",
        "summary": "Dados trabalhistas (PAT)",
        "description": "Retorna dados do Programa de Alimentacao do Trabalhador (PAT) e informacoes trabalhistas da empresa.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados trabalhistas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "beneficiarias": [
                    {
                      "programa": "PAT",
                      "documento": "12.345.678/0001-99",
                      "tipo_documento": "CNPJ",
                      "razao_social": "Silva Ltda",
                      "data_inclusao": "2020-01-15"
                    }
                  ],
                  "facilitadoras": [],
                  "fornecedoras": []
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/cnpj/{cnpj}/beneficios": {
      "get": {
        "operationId": "getEmpresaBeneficiosByCnpj",
        "summary": "Renuncias fiscais",
        "description": "Retorna beneficios e renuncias fiscais concedidos a empresa.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficios fiscais",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "renuncias_fiscais": [
                    {
                      "documento": "12.345.678/0001-99",
                      "tipo_documento": "CNPJ",
                      "razao_social": "Silva Comércio Ltda",
                      "nome_fantasia": "Silva Store",
                      "cnae": "4729199",
                      "municipio": "São Paulo",
                      "uf": "SP",
                      "ano_calendario": "2023",
                      "tipo_renuncia": "Habilitação",
                      "beneficio_fiscal": "Simples Nacional",
                      "tributo": "IRPJ",
                      "valor_renuncia": 12000.0
                    }
                  ],
                  "empresas_habilitadas": [],
                  "empresas_imunes": [],
                  "renuncias_por_beneficiario": []
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/cpf/{cpf}": {
      "get": {
        "operationId": "getSociedadesByCpf",
        "summary": "Vinculos societarios",
        "description": "Busca reversa: retorna todas as empresas onde a pessoa consta como socia ou administradora, cada uma com seu quadro societario completo (socios). Essencial para mapear a rede empresarial de um investigado e percorrer graus de conexao sem chamadas adicionais.",
        "tags": [
          "Busca Reversa"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF do socio (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "required": false,
            "description": "Nome do socio (melhora precisao)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de empresas onde a pessoa consta como socia ou administradora",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "empresas": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmpresaResponse"
                      }
                    }
                  }
                },
                "example": {
                  "empresas": [
                    {
                      "documento": "33.000.167/0001-01",
                      "tipo_documento": "CNPJ",
                      "cnpj_basico": "33000167",
                      "razao_social": "Petroleo Brasileiro S A Petrobras",
                      "nome_fantasia": "Petrobras - Edise",
                      "situacao": "Ativa",
                      "data_situacao": "2005-11-03",
                      "motivo_situacao": "Sem Motivo",
                      "data_abertura": "1966-09-28",
                      "capital_social": 205431960490.52,
                      "porte": "Média ou Grande Porte",
                      "matriz_filial": "Matriz",
                      "natureza_juridica": {
                        "codigo": "2038",
                        "descricao": "Sociedade de Economia Mista"
                      },
                      "atividade_principal": {
                        "codigo": "0600001",
                        "descricao": "Extração de petróleo e gás natural"
                      },
                      "atividades_secundarias": [
                        {
                          "codigo": "1921700",
                          "descricao": "Fabricação de produtos do refino de petróleo"
                        },
                        {
                          "codigo": "3520401",
                          "descricao": "Produção de gás; processamento de gás natural"
                        }
                      ],
                      "endereco": {
                        "logradouro": "Avenida Republica do Chile",
                        "numero": "65",
                        "complemento": null,
                        "bairro": "Centro",
                        "cidade": "Rio de Janeiro",
                        "uf": "RJ",
                        "cep": "20031170"
                      },
                      "telefones": [
                        {
                          "ddi": "55",
                          "ddd": "21",
                          "numero": "21660000",
                          "numero_completo": "552121660000",
                          "estado": "RJ",
                          "operadora": "Fixo"
                        }
                      ],
                      "emails": [
                        {
                          "email": "cc-rfisc@petrobras.com.br",
                          "dominio": "petrobras.com.br",
                          "corporativo": true
                        }
                      ],
                      "socios": [
                        {
                          "nome": "Claudio Romeo Schlosser",
                          "documento": "406.077.120-15",
                          "tipo_documento": "CPF",
                          "tipo": "Pessoa Física",
                          "qualificacao": "Diretor",
                          "data_entrada": "2023-04-17",
                          "data_nascimento": "1964-04-15",
                          "sexo": "Masculino",
                          "idade": 61,
                          "faixa_etaria": "Mais de 60 anos"
                        }
                      ],
                      "situacao_especial": null,
                      "data_situacao_especial": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/email/{email}": {
      "get": {
        "operationId": "getEmpresasByEmail",
        "summary": "Identificar empresas por email",
        "description": "Busca reversa: identifica empresas que possuem o email informado no cadastro da Receita Federal. Retorna o perfil completo de cada empresa. O array `socios` nao e populado neste endpoint (use /empresas/cnpj/{cnpj} ou /empresas/cpf/{cpf} para o quadro societario).",
        "tags": [
          "Busca Reversa"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Email cadastrado na empresa",
            "schema": {
              "type": "string",
              "example": "contato@empresa.com.br"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empresas encontradas (perfil completo, `socios` vazio)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "empresas": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmpresaResponse"
                      }
                    }
                  }
                },
                "example": {
                  "empresas": [
                    {
                      "documento": "12.345.678/0001-99",
                      "tipo_documento": "CNPJ",
                      "cnpj_basico": "12345678",
                      "razao_social": "Empresa Exemplo Ltda",
                      "nome_fantasia": "Exemplo",
                      "situacao": "Ativa",
                      "data_situacao": "2010-05-20",
                      "capital_social": 100000,
                      "porte": "Empresa de Pequeno Porte",
                      "matriz_filial": "Matriz",
                      "natureza_juridica": {
                        "codigo": "2062",
                        "descricao": "Sociedade Empresária Limitada"
                      },
                      "atividade_principal": {
                        "codigo": "4729199",
                        "descricao": "Comércio varejista de outros produtos"
                      },
                      "atividades_secundarias": [],
                      "endereco": {
                        "logradouro": "Rua Exemplo",
                        "numero": "100",
                        "complemento": null,
                        "bairro": "Centro",
                        "cidade": "São Paulo",
                        "uf": "SP",
                        "cep": "01000000"
                      },
                      "telefones": [
                        {
                          "ddi": "55",
                          "ddd": "11",
                          "numero": "33334444",
                          "numero_completo": "551133334444",
                          "estado": "SP",
                          "operadora": "Fixo"
                        }
                      ],
                      "emails": [
                        {
                          "email": "contato@empresa.com.br",
                          "dominio": "empresa.com.br",
                          "corporativo": true
                        }
                      ],
                      "socios": [],
                      "situacao_especial": null,
                      "data_situacao_especial": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/telefone/{telefone}": {
      "get": {
        "operationId": "getEmpresasByTelefone",
        "summary": "Identificar empresas por telefone",
        "description": "Busca reversa: identifica empresas que possuem o telefone informado no cadastro da Receita Federal. Retorna o perfil completo de cada empresa. O array `socios` nao e populado neste endpoint (use /empresas/cnpj/{cnpj} ou /empresas/cpf/{cpf} para o quadro societario).",
        "tags": [
          "Busca Reversa"
        ],
        "parameters": [
          {
            "name": "telefone",
            "in": "path",
            "required": true,
            "description": "Telefone com DDD (10-11 digitos)",
            "schema": {
              "type": "string",
              "example": "11999998888"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empresas encontradas (perfil completo, `socios` vazio)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "empresas": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmpresaResponse"
                      }
                    }
                  }
                },
                "example": {
                  "empresas": [
                    {
                      "documento": "12.345.678/0001-99",
                      "tipo_documento": "CNPJ",
                      "cnpj_basico": "12345678",
                      "razao_social": "Empresa Exemplo Ltda",
                      "nome_fantasia": "Exemplo",
                      "situacao": "Ativa",
                      "data_situacao": "2010-05-20",
                      "capital_social": 100000,
                      "porte": "Empresa de Pequeno Porte",
                      "matriz_filial": "Matriz",
                      "natureza_juridica": {
                        "codigo": "2062",
                        "descricao": "Sociedade Empresária Limitada"
                      },
                      "atividade_principal": {
                        "codigo": "4729199",
                        "descricao": "Comércio varejista de outros produtos"
                      },
                      "atividades_secundarias": [],
                      "endereco": {
                        "logradouro": "Rua Exemplo",
                        "numero": "100",
                        "complemento": null,
                        "bairro": "Centro",
                        "cidade": "São Paulo",
                        "uf": "SP",
                        "cep": "01000000"
                      },
                      "telefones": [
                        {
                          "ddi": "55",
                          "ddd": "11",
                          "numero": "33334444",
                          "numero_completo": "551133334444",
                          "estado": "SP",
                          "operadora": "Fixo"
                        }
                      ],
                      "emails": [
                        {
                          "email": "contato@empresa.com.br",
                          "dominio": "empresa.com.br",
                          "corporativo": true
                        }
                      ],
                      "socios": [],
                      "situacao_especial": null,
                      "data_situacao_especial": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/processos/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__processos_cnpj__cnpj_",
        "summary": "Processos judiciais",
        "description": "Processos judiciais da empresa",
        "tags": [
          "Juridico"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processos judiciais da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "processos": [
                    {
                      "numero_processo": "0000001-23.2020.8.26.0100",
                      "tribunal": "TJ-SP",
                      "classe_codigo": 1234,
                      "classe_nome": "Procedimento Comum Cível",
                      "grau": "G1",
                      "data_ajuizamento": "2020-01-15",
                      "orgao_julgador": "1ª Vara Cível",
                      "assuntos": "Indenização por Dano Moral",
                      "partes": [
                        {
                          "nome": "João Silva de Oliveira",
                          "documento": "123.456.789-01",
                          "tipo_documento": "CPF",
                          "polo": "Autor",
                          "tipo": "Física"
                        },
                        {
                          "nome": "Empresa X Ltda",
                          "documento": "12.345.678/0001-99",
                          "tipo_documento": "CNPJ",
                          "polo": "Réu",
                          "tipo": "Jurídica"
                        }
                      ],
                      "advogados": [
                        {
                          "nome": "Dr. José Advogado",
                          "oab": "SP123456"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trabalhista/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__trabalhista_cnpj__cnpj_",
        "summary": "Trabalhista",
        "description": "PAT e irregularidades trabalhistas",
        "tags": [
          "Juridico"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PAT e irregularidades trabalhistas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "beneficiarias": [
                    {
                      "programa": "PAT",
                      "documento": "12.345.678/0001-99",
                      "tipo_documento": "CNPJ",
                      "razao_social": "Silva Ltda",
                      "data_inclusao": "2020-01-15"
                    }
                  ],
                  "facilitadoras": [],
                  "fornecedoras": []
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dividas/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__dividas_cnpj__cnpj_",
        "summary": "Dividas federais",
        "description": "Divida Ativa da Uniao e Previdenciaria",
        "tags": [
          "Financeiro"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Divida Ativa da Uniao e Previdenciaria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documento": "12.345.678/0001-99",
                  "tipo_documento": "CNPJ",
                  "nome": "Empresa Exemplo Ltda",
                  "total": 2,
                  "valor_total": 24150.5,
                  "ajuizado": true,
                  "dividas": [
                    {
                      "numero_inscricao": "80000000000001",
                      "fonte": "ativa_uniao",
                      "receita": "IRPF",
                      "ajuizado": true,
                      "data_inscricao": "2020-03-15",
                      "valor_atual": 15420.5,
                      "uf": "SP",
                      "unidade_responsavel": "DRF CAMPINAS",
                      "historico": [
                        {
                          "situacao": "Ativa Ajuizada",
                          "valor": 15420.5,
                          "data_inscricao": "2020-03-15"
                        }
                      ]
                    },
                    {
                      "numero_inscricao": "80000000000002",
                      "fonte": "fgts",
                      "receita": "FGTS",
                      "ajuizado": false,
                      "data_inscricao": "2021-07-01",
                      "valor_atual": 8730.0,
                      "uf": "SP",
                      "unidade_responsavel": "SRTE/SP",
                      "entidade_responsavel": "CEF",
                      "historico": [
                        {
                          "situacao": "Ativa",
                          "valor": 8730.0,
                          "data_inscricao": "2021-07-01"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficios/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__beneficios_cnpj__cnpj_",
        "summary": "Renuncias fiscais",
        "description": "Renuncias e beneficios fiscais",
        "tags": [
          "Financeiro"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Renuncias e beneficios fiscais",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "renuncias_fiscais": [
                    {
                      "documento": "12.345.678/0001-99",
                      "tipo_documento": "CNPJ",
                      "razao_social": "Silva Comércio Ltda",
                      "nome_fantasia": "Silva Store",
                      "cnae": "4729199",
                      "municipio": "São Paulo",
                      "uf": "SP",
                      "ano_calendario": "2023",
                      "tipo_renuncia": "Habilitação",
                      "beneficio_fiscal": "Simples Nacional",
                      "tributo": "IRPJ",
                      "valor_renuncia": 12000.0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veiculos/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__veiculos_cnpj__cnpj_",
        "summary": "Frota",
        "description": "Veiculos da empresa",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Veiculos da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "veiculos": [
                    {
                      "placa": "ABC1D23",
                      "placa_antiga": "ABC1234",
                      "chassi": "9BWAG45N1YT123456",
                      "renavam": "12345678901",
                      "modelo": "FIAT/STRADA TREK CE",
                      "marca": "FIAT",
                      "ano_fabricacao": 2021,
                      "ano_modelo": 2022,
                      "cor": "Prata",
                      "combustivel": "Flex",
                      "municipio": "São Paulo",
                      "uf": "SP",
                      "tipo_veiculo": "Automóvel",
                      "especie_veiculo": "Passageiro",
                      "situacao_veiculo": "Circulação",
                      "potencia": "130",
                      "cilindradas": "1300",
                      "restricoes": [
                        "Alienação Fiduciária"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__imoveis_cnpj__cnpj_",
        "summary": "Imoveis",
        "description": "Imoveis urbanos da empresa",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Imoveis urbanos da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "imoveis": [
                    {
                      "inscricao": "031.044.0094-1",
                      "fonte": "prefeitura_sp",
                      "localizacao": {
                        "logradouro": "Rua Propriedade",
                        "numero": "456",
                        "complemento": "",
                        "bairro": "Vila Mariana",
                        "cidade": "São Paulo",
                        "uf": "SP",
                        "cep": "04101000"
                      },
                      "terreno": {
                        "area": 250.0
                      },
                      "propriedade": {
                        "areaConstruida": 150.0,
                        "anoConstrucao": 2005,
                        "tipoImovel": "Residencial"
                      },
                      "proprietario": {
                        "nome": "João Silva",
                        "documento": "123.456.789-01",
                        "tipo_documento": "CPF"
                      },
                      "valoracao": {
                        "valorVenalIptu": 500000.0,
                        "valorIptu": 2500.0
                      },
                      "fontes": [
                        "IPTU São Paulo"
                      ],
                      "images": {
                        "fachada": null,
                        "satelite": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aeronaves/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__aeronaves_cnpj__cnpj_",
        "summary": "Aeronaves",
        "description": "Aeronaves e drones da empresa",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aeronaves e drones da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "avioes": [
                    {
                      "marca": "PT-ABC",
                      "modelo": "EMB-110",
                      "fabricante": "Embraer",
                      "tipo": "Avião",
                      "categoria": "TPP",
                      "proprietario": "João Silva",
                      "uf": "SP",
                      "ano_fabricacao": "2010",
                      "certificado_matricula": "12345",
                      "numero_serie": "110-001",
                      "classe": "CLT",
                      "pmd": "5700",
                      "tripulacao_minima": "2",
                      "passageiros_maximo": "19",
                      "tipo_motor": "Turboélice",
                      "quantidade_motores": "2"
                    }
                  ],
                  "drones": [
                    {
                      "codigo_aeronave": "PR-DRONE123",
                      "modelo": "DJI Phantom 4 Pro",
                      "fabricante": "DJI",
                      "tipo_uso": "Recreação",
                      "operador": "João Silva",
                      "documento": "123.456.789-01",
                      "tipo_documento": "CPF",
                      "data_validade": "2025-12-31",
                      "numero_serie": "ABC123456",
                      "peso_maximo": "1.388 kg",
                      "ramo_atividade": "Fotografia"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/patentes/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__patentes_cnpj__cnpj_",
        "summary": "Patentes",
        "description": "Patentes e marcas da empresa",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patentes e marcas da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "patentes": [
                    {
                      "numero_inpi": "BR1020200001234",
                      "titulo": "Sistema de automação para irrigação agrícola",
                      "natureza": "Patente de Invenção",
                      "data_deposito": "2020-01-15",
                      "data_publicacao": "2021-07-20"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rural/cnpj/{cnpj}": {
      "get": {
        "operationId": "empresas__rural_cnpj__cnpj_",
        "summary": "Rural",
        "description": "Imoveis rurais da empresa",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Imoveis rurais da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sncr": [
                    {
                      "codigo_imovel": "9200123456",
                      "nome_imovel": "Fazenda Boa Vista",
                      "municipio": "Ribeirão Preto",
                      "uf": "SP",
                      "area_total": 500.5,
                      "modulos_fiscais": 25.0,
                      "cod_ibge": "3543402",
                      "nome_detentor": "João Silva",
                      "documento": "123.456.789-01",
                      "tipo_documento": "CPF",
                      "tipo_detentor": "Proprietário",
                      "fracao": 100.0,
                      "condicao_detentor": "Proprietário"
                    }
                  ],
                  "cafir": [
                    {
                      "nirf": "1234567890",
                      "area_total": 500.5,
                      "codigo_incra": "9200123456",
                      "nome_imovel": "Fazenda Boa Vista",
                      "situacao": "Ativo",
                      "logradouro": "Estrada Rural km 5",
                      "distrito": "Distrito Rural",
                      "uf": "SP",
                      "municipio": "Ribeirão Preto",
                      "cep": "14000000",
                      "data_atualizacao": "2023-01-15",
                      "imune_isento": "Não",
                      "codigo_sncr": "9200123456"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/empresas/codigos": {
      "get": {
        "operationId": "getCodigos",
        "summary": "Tabela de códigos",
        "description": "Retorna tabelas de tradução de códigos usados nos dados de empresas. Use o parâmetro tipo para filtrar uma tabela específica.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "description": "Filtrar por tipo: naturezas, cnaes, qualificacoes, motivos, paises. Se omitido, retorna todas.",
            "schema": {
              "type": "string",
              "example": "naturezas"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tabelas de códigos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tipo": {
                      "type": "string",
                      "description": "Tipo da tabela filtrada"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total de registros"
                    },
                    "dados": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "description": "Código identificador"
                          },
                          "descricao": {
                            "type": "string",
                            "description": "Descrição do código"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "tipo": "naturezas",
                  "total": 90,
                  "dados": [
                    {
                      "codigo": "2011",
                      "descricao": "Empresa Pública"
                    },
                    {
                      "codigo": "2038",
                      "descricao": "Sociedade de Economia Mista"
                    },
                    {
                      "codigo": "2046",
                      "descricao": "Sociedade Anônima Aberta"
                    },
                    {
                      "codigo": "2054",
                      "descricao": "Sociedade Anônima Fechada"
                    },
                    {
                      "codigo": "2062",
                      "descricao": "Sociedade Empresária Limitada"
                    },
                    {
                      "codigo": "2135",
                      "descricao": "Empresário (Individual)"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
