{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Motor de Borderô - API v1",
    "description": "API pública do Motor de Borderô: cria operações assíncronas de análise de borderô CNAB 400 via multipart/form-data (cedente, sacados, títulos e validação cruzada com NFe), consulta o status por polling e busca o resultado hierárquico (cedente → sacados → títulos, com issues por nó) em /result. Autenticação por chave de API (Bearer slhk_) no header. Erros em RFC 7807 (application/problem+json). Em beta: requer a feature analysis_engine habilitada no workspace.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sherlocker.com.br",
      "description": "Beta - host definitivo sera confirmado na promocao a producao; durante o beta use o host fornecido pelo time Sherlocker"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Chave de API do workspace (prefixo slhk_), enviada no header: Authorization: Bearer slhk_sua_chave_aqui"
      }
    },
    "schemas": {
      "CreateOperationRequest": {
        "type": "object",
        "required": [
          "file",
          "cedente_cnpj"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Arquivo CNAB 400 remessa (.REM) — Banco Paulista 611, 444 colunas, Windows-1252. Obrigatório. Máximo de 16 MB."
          },
          "xmls": {
            "type": "string",
            "format": "binary",
            "description": "ZIP com os XMLs de NFe (nfeProc) dos títulos, para validação cruzada. Opcional. Máximo de 32 MB."
          },
          "cedente_cnpj": {
            "type": "string",
            "description": "CNPJ do cedente, 14 dígitos ou formatado. Obrigatório; o dígito verificador é validado.",
            "example": "12345678000195"
          },
          "engine_id": {
            "type": "string",
            "description": "ID da engine de borderô a usar. Omitido ou \"template-padrao\": usa a engine template do sistema. Engine não utilizável retorna 422 no_engine.",
            "example": "template-padrao"
          },
          "purpose": {
            "type": "string",
            "description": "Finalidade da análise (auditoria LGPD). Opcional."
          },
          "legal_basis": {
            "type": "string",
            "description": "Base legal LGPD para os sacados PF. Opcional."
          }
        }
      },
      "CreateOperationAccepted": {
        "type": "object",
        "required": [
          "operation_id",
          "status",
          "created_at"
        ],
        "properties": {
          "operation_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID da operação criada. Use no GET /v1/operations/{id} e no GET /v1/operations/{id}/result."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ],
            "description": "Sempre queued imediatamente após a criação."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp ISO 8601 de criação."
          }
        }
      },
      "Operation": {
        "type": "object",
        "required": [
          "id",
          "status",
          "file_name",
          "engine_id",
          "created_at",
          "queued_at"
        ],
        "description": "Envelope de status da operação. Todos os campos estão sempre presentes; as contagens são null até status completed.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID da operação."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Estado do ciclo de vida da operação. Em failed, os tokens são estornados automaticamente."
          },
          "file_name": {
            "type": "string",
            "description": "Nome do arquivo CNAB enviado."
          },
          "file_size": {
            "type": "number",
            "nullable": true,
            "description": "Tamanho do arquivo em bytes. Pode ser null em operações antigas."
          },
          "engine_id": {
            "type": "string",
            "description": "Engine de borderô efetivamente usada (explícita ou o template do sistema)."
          },
          "titulo_count": {
            "type": "number",
            "nullable": true,
            "description": "Total de títulos do borderô. null até status completed."
          },
          "approved_count": {
            "type": "number",
            "nullable": true,
            "description": "Títulos aprovados. null até status completed."
          },
          "blocked_count": {
            "type": "number",
            "nullable": true,
            "description": "Títulos bloqueados. null até status completed."
          },
          "alert_count": {
            "type": "number",
            "nullable": true,
            "description": "Títulos em alerta, incluindo os com análise incompleta (fonte indisponível). null até status completed. approved_count + blocked_count + alert_count = titulo_count."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp ISO 8601 de criação."
          },
          "queued_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp ISO 8601 do enfileiramento."
          },
          "processing_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp ISO 8601 do início do processamento; null enquanto queued."
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp ISO 8601 da conclusão. Preenchido apenas em completed."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Mensagem de erro. Preenchida apenas em failed."
          }
        }
      },
      "Issue": {
        "type": "object",
        "description": "Uma violação de regra anexada a um nó da árvore (cedente, sacado ou título).",
        "properties": {
          "rule_id": {
            "type": "string",
            "description": "Identificador estável da regra violada (ex.: SACADO_PROTESTOS).",
            "example": "SACADO_PROTESTOS"
          },
          "rule_name": {
            "type": "string",
            "description": "Nome legível da regra.",
            "example": "Protestos"
          },
          "category": {
            "type": "string",
            "enum": [
              "blocking",
              "alert"
            ],
            "description": "Categoria da regra: blocking (impeditiva) ou alert (ponto de atenção)."
          },
          "status": {
            "type": "string",
            "enum": [
              "blocked",
              "alerted"
            ],
            "description": "Efeito da violação no nó."
          },
          "message": {
            "type": "string",
            "description": "Mensagem legível da violação.",
            "example": "Sacado: Protestos encontrados"
          },
          "detail": {
            "type": "object",
            "description": "Detalhe estruturado da violação.",
            "properties": {
              "field": {
                "type": "string",
                "example": "protestos"
              },
              "actual": {
                "type": "string",
                "example": "3"
              },
              "expected": {
                "type": "string",
                "example": "0"
              }
            }
          },
          "data_sources": {
            "type": "array",
            "description": "Fontes de dados que embasaram a violação.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "cenprot"
                },
                "fetched_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "age_days": {
                  "type": "number",
                  "example": 3
                }
              }
            }
          }
        }
      },
      "ResultTitulo": {
        "type": "object",
        "description": "Nó de título na árvore do resultado.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador do título no resultado."
          },
          "numero": {
            "type": "string",
            "description": "Identificador do título no arquivo remessa (campo seu número do CNAB 400).",
            "example": "DOC-001"
          },
          "valor": {
            "type": "number",
            "description": "Valor do título.",
            "example": 1234.56
          },
          "data_vencimento": {
            "type": "string",
            "format": "date",
            "description": "Data de vencimento do título (YYYY-MM-DD)."
          },
          "nfe_chave": {
            "type": "string",
            "nullable": true,
            "description": "Chave da NFe vinculada ao título; null se o título não traz chave. Problemas de NFe aparecem como issues do título."
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "blocked",
              "alerted"
            ],
            "description": "Status consolidado do título, derivado das suas issues (worst-of)."
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            },
            "description": "Violações de regra do título."
          }
        }
      },
      "ResultSacado": {
        "type": "object",
        "description": "Nó de sacado na árvore do resultado.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador do sacado no resultado."
          },
          "cnpj_cpf": {
            "type": "string",
            "description": "Documento do sacado (CNPJ ou CPF).",
            "example": "98765432000188"
          },
          "razao_social": {
            "type": "string",
            "description": "Razão social (PJ) ou nome (PF) do sacado.",
            "example": "SACADO SA"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "PJ",
              "PF"
            ],
            "description": "Tipo do sacado."
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "blocked",
              "alerted"
            ],
            "description": "Status consolidado do sacado: o pior entre as issues próprias e os títulos (worst-of)."
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            },
            "description": "Violações de regra do próprio sacado."
          },
          "titulos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultTitulo"
            },
            "description": "Títulos do sacado. Com filter=issues (padrão), títulos aprovados são podados."
          }
        }
      },
      "ResultCedente": {
        "type": "object",
        "description": "Nó raiz da árvore do resultado.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador do cedente no resultado."
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ do cedente.",
            "example": "12345678000195"
          },
          "razao_social": {
            "type": "string",
            "description": "Razão social do cedente.",
            "example": "CEDENTE LTDA"
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "blocked",
              "alerted"
            ],
            "description": "Status consolidado do cedente: o pior entre as issues próprias e os sacados (worst-of)."
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            },
            "description": "Violações de regra do próprio cedente."
          },
          "sacados": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultSacado"
            },
            "description": "Sacados do borderô. Com filter=issues (padrão), sacados sem problemas são podados."
          }
        }
      },
      "ResultSummary": {
        "type": "object",
        "description": "Resumo do dataset completo. Não muda com o parâmetro filter. O verdict interno incompleto aparece como alerted, com o motivo em degraded_rules.",
        "properties": {
          "total_titulos": {
            "type": "number",
            "description": "Total de títulos do borderô.",
            "example": 12
          },
          "approved": {
            "type": "number",
            "description": "Títulos aprovados.",
            "example": 9
          },
          "blocked": {
            "type": "number",
            "description": "Títulos bloqueados.",
            "example": 2
          },
          "alerted": {
            "type": "number",
            "description": "Títulos em alerta, incluindo os com análise incompleta (fonte indisponível).",
            "example": 1
          },
          "total_value": {
            "type": "number",
            "description": "Valor monetário total do borderô.",
            "example": 100000
          },
          "approved_value": {
            "type": "number",
            "description": "Valor monetário dos títulos aprovados.",
            "example": 80000
          },
          "blocked_value": {
            "type": "number",
            "description": "Valor monetário dos títulos bloqueados.",
            "example": 15000
          },
          "alerted_value": {
            "type": "number",
            "description": "Valor monetário dos títulos em alerta.",
            "example": 5000
          },
          "sacados": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "description": "Total de sacados únicos do borderô.",
                "example": 5
              },
              "with_issues": {
                "type": "number",
                "description": "Sacados com pelo menos um problema.",
                "example": 2
              }
            }
          },
          "cedente": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "approved",
                  "blocked",
                  "alerted"
                ],
                "description": "Status consolidado do cedente."
              }
            }
          }
        }
      },
      "CoverageEntry": {
        "type": "object",
        "description": "Cobertura de um provider de dados na operação.",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Identificador do provider consultado.",
            "example": "rfb"
          },
          "requested": {
            "type": "number",
            "description": "Consultas solicitadas ao provider.",
            "example": 6
          },
          "succeeded": {
            "type": "number",
            "description": "Consultas bem-sucedidas.",
            "example": 5
          },
          "failed_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Documentos cujas consultas falharam.",
            "example": [
              "98765432000188"
            ]
          }
        }
      },
      "DegradedRule": {
        "type": "object",
        "description": "Regra que não pôde ser avaliada porque a fonte de dados ficou indisponível. Não vira issue: os títulos afetados contam como alerted no summary.",
        "properties": {
          "rule_id": {
            "type": "string",
            "description": "Identificador da regra degradada.",
            "example": "SACADO_SERASA"
          },
          "provider": {
            "type": "string",
            "description": "Provider indisponível.",
            "example": "serasa"
          },
          "titulos_affected": {
            "type": "number",
            "description": "Quantidade de títulos afetados.",
            "example": 2
          }
        }
      },
      "OperationResult": {
        "type": "object",
        "description": "Resultado hierárquico da operação: árvore cedente → sacados → títulos, com issues por nó.",
        "required": [
          "operation_id",
          "cedente",
          "summary"
        ],
        "properties": {
          "operation_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID da operação."
          },
          "cedente": {
            "$ref": "#/components/schemas/ResultCedente"
          },
          "summary": {
            "$ref": "#/components/schemas/ResultSummary"
          },
          "engine_id": {
            "type": "string",
            "description": "Engine de borderô usada na operação."
          },
          "engine_name": {
            "type": "string",
            "description": "Nome da engine.",
            "example": "Motor Borderô"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp ISO 8601 do resultado."
          },
          "coverage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoverageEntry"
            },
            "description": "Cobertura por provider: requested, succeeded e failed_keys."
          },
          "degraded_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DegradedRule"
            },
            "description": "Regras não avaliadas por fonte indisponível."
          },
          "execution_plan": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Presente apenas com ?include=execution_plan. Hoje sempre []."
          }
        }
      },
      "Problem": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status",
          "code"
        ],
        "description": "Erro no formato RFC 7807 (application/problem+json). Use o campo code para tratamento programático; type é apenas identificador.",
        "properties": {
          "type": {
            "type": "string",
            "description": "URI que identifica o tipo do problema (https://docs.sherlocker.com.br/problems/<code>)."
          },
          "title": {
            "type": "string",
            "description": "Resumo curto do tipo do problema."
          },
          "status": {
            "type": "integer",
            "description": "Status HTTP desta ocorrência."
          },
          "code": {
            "type": "string",
            "description": "Código estável para tratamento programático (ex.: insufficient_tokens)."
          },
          "detail": {
            "type": "string",
            "description": "Explicação legível específica desta ocorrência."
          },
          "instance": {
            "type": "string",
            "description": "Identificador da ocorrência (/v1?request_id=<request_id>)."
          },
          "errors": {
            "type": "array",
            "description": "Erros de validação por campo (file, xmls, cedente_cnpj). Presente apenas em validation_error (400).",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "required": {
            "type": "number",
            "description": "Tokens necessários. Presente apenas em insufficient_tokens (402)."
          },
          "balance": {
            "type": "number",
            "description": "Saldo atual de tokens. Presente apenas em insufficient_tokens (402)."
          },
          "request_access_url": {
            "type": "string",
            "description": "Onde solicitar acesso. Presente apenas em feature_not_enabled (403)."
          }
        }
      }
    }
  },
  "paths": {
    "/v1/operations": {
      "post": {
        "summary": "Criar operação de borderô",
        "description": "Cria uma operação de borderô a partir de um CNAB 400 (parte `file`) e, opcionalmente, um ZIP de XMLs de NFe (parte `xmls`) para validação cruzada. Enfileira a análise e retorna 202. Faça polling em GET /v1/operations/{id} e busque o resultado em /result.",
        "operationId": "createOperation",
        "tags": [
          "Operações"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opcional. Presente: reenviar a mesma key com o mesmo payload devolve a resposta original (HTTP 200), sem nova operação nem nova cobrança; a mesma key com payload diferente devolve 409 idempotency_conflict. Ausente: cada POST cria uma operação nova."
          },
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identificador de rastreio opcional fornecido pelo cliente. Ecoado no header da resposta (nunca no body)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Operação aceita e enfileirada para processamento. CNAB parseado e tokens debitados (uma cobrança por entidade única do borderô; a cobrança não aparece no payload).",
            "headers": {
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador da requisição (ecoado ou gerado)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationAccepted"
                },
                "example": {
                  "operation_id": "b2c3d4e5-0000-0000-0000-000000000001",
                  "status": "queued",
                  "created_at": "2026-07-09T12:00:00.000Z"
                }
              }
            }
          },
          "200": {
            "description": "Replay idempotente: mesma Idempotency-Key + mesmo payload. Corpo idêntico ao da resposta 202 original; nenhum token adicional é cobrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (validation_error, com errors[] field-level para file, xmls e cedente_cnpj): arquivo ausente (\"No file provided\"), cedente_cnpj ausente (\"cedente_cnpj is required\") ou com dígito verificador inválido (\"Invalid CNPJ format\"), CNAB que não parseia, ou arquivo acima do teto (16 MB para file, 32 MB para xmls). Nada é cobrado — o débito só acontece após o parse.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/validation_error",
                  "title": "Validation Error",
                  "status": 400,
                  "code": "validation_error",
                  "detail": "One or more fields failed validation.",
                  "errors": [
                    {
                      "field": "file",
                      "message": "No file provided"
                    }
                  ],
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API ausente, malformada, inválida ou revogada.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "code": "unauthorized",
                  "detail": "Authentication is required to access this resource.",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "402": {
            "description": "Saldo de tokens do workspace insuficiente para as entidades únicas do borderô. Campos extras: required (tokens necessários) e balance (saldo atual). Nada é cobrado.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/insufficient_tokens",
                  "title": "Payment Required",
                  "status": 402,
                  "code": "insufficient_tokens",
                  "detail": "Insufficient tokens: 5 available, 12 required",
                  "required": 12,
                  "balance": 5,
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "403": {
            "description": "Feature analysis_engine não habilitada no workspace (feature_not_enabled, com request_access_url) ou acesso negado genérico (forbidden).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/feature_not_enabled",
                  "title": "Feature Not Enabled",
                  "status": 403,
                  "code": "feature_not_enabled",
                  "detail": "The analysis_engine feature is not enabled for this workspace. To request access visit https://docs.sherlocker.com.br/api/access or contact support at https://docs.sherlocker.com.br/support.",
                  "request_access_url": "https://docs.sherlocker.com.br/api/access",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "409": {
            "description": "Conflito de idempotência: a mesma Idempotency-Key foi reutilizada com um payload diferente (só ocorre quando o header opcional é enviado).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/idempotency_conflict",
                  "title": "Conflict",
                  "status": 409,
                  "code": "idempotency_conflict",
                  "detail": "A request with the same idempotency key is already in progress or completed.",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "422": {
            "description": "Engine não utilizável ou nenhuma engine de borderô disponível para a operação.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/no_engine",
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "code": "no_engine",
                  "detail": "No bordero engine is available for this operation.",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "500": {
            "description": "Erro inesperado no servidor. Inclua o instance (request_id) ao acionar o suporte.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/server_error",
                  "title": "Internal Server Error",
                  "status": 500,
                  "code": "server_error",
                  "detail": "An unexpected error occurred.",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/{id}": {
      "get": {
        "summary": "Consultar operação",
        "description": "Retorna o envelope de status da operação. As contagens ficam null até o status `completed`; em `failed`, os tokens são estornados. Depois de `completed`, busque a árvore de resultado em GET /v1/operations/{id}/result.",
        "operationId": "getOperation",
        "tags": [
          "Operações"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID da operação (campo operation_id da resposta do POST)."
          },
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identificador de rastreio opcional fornecido pelo cliente. Ecoado no header da resposta (nunca no body)."
          }
        ],
        "responses": {
          "200": {
            "description": "Estado atual da operação.",
            "headers": {
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador da requisição (ecoado ou gerado)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                },
                "examples": {
                  "processing": {
                    "summary": "Em processamento",
                    "value": {
                      "id": "b2c3d4e5-0000-0000-0000-000000000001",
                      "status": "processing",
                      "file_name": "bordero.rem",
                      "file_size": 4440,
                      "engine_id": "0b3c6c7e-9d2a-4f1b-8e5d-2a1b3c4d5e6f",
                      "titulo_count": null,
                      "approved_count": null,
                      "blocked_count": null,
                      "alert_count": null,
                      "created_at": "2026-07-09T12:00:00.000Z",
                      "queued_at": "2026-07-09T12:00:00.000Z",
                      "processing_at": "2026-07-09T12:00:02.000Z",
                      "completed_at": null,
                      "error": null
                    }
                  },
                  "completed": {
                    "summary": "Concluída",
                    "value": {
                      "id": "b2c3d4e5-0000-0000-0000-000000000001",
                      "status": "completed",
                      "file_name": "bordero.rem",
                      "file_size": 4440,
                      "engine_id": "0b3c6c7e-9d2a-4f1b-8e5d-2a1b3c4d5e6f",
                      "titulo_count": 12,
                      "approved_count": 9,
                      "blocked_count": 2,
                      "alert_count": 1,
                      "created_at": "2026-07-09T12:00:00.000Z",
                      "queued_at": "2026-07-09T12:00:00.000Z",
                      "processing_at": "2026-07-09T12:00:02.000Z",
                      "completed_at": "2026-07-09T12:02:15.000Z",
                      "error": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Chave de API ausente, malformada, inválida ou revogada.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Operação inexistente ou pertencente a outro workspace.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/not_found",
                  "title": "Not Found",
                  "status": 404,
                  "code": "not_found",
                  "detail": "Operation not found",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/{id}/result": {
      "get": {
        "summary": "Consultar resultado da operação",
        "description": "Retorna o resultado hierárquico de uma operação `completed`: a árvore cedente → sacados → títulos com issues por nó, mais summary, coverage e degraded_rules. Antes de `completed`, retorna 409. `filter=issues` (padrão) poda nós aprovados; `filter=all` devolve a árvore completa.",
        "operationId": "getOperationResult",
        "tags": [
          "Operações"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID da operação (campo operation_id da resposta do POST)."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "issues",
                "all"
              ],
              "default": "issues"
            },
            "description": "issues (padrão): poda títulos aprovados e sacados sem problemas. all: árvore completa. Outro valor retorna 400 (Invalid filter value. Use \"issues\" or \"all\".)."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Blocos extras, separados por vírgula. Valor suportado: execution_plan (adiciona o campo execution_plan à resposta; hoje sempre [])."
          },
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identificador de rastreio opcional fornecido pelo cliente. Ecoado no header da resposta (nunca no body)."
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado hierárquico da operação.",
            "headers": {
              "x-request-id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador da requisição (ecoado ou gerado)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                },
                "example": {
                  "operation_id": "b2c3d4e5-0000-0000-0000-000000000001",
                  "cedente": {
                    "id": "c0a80001-0000-0000-0000-000000000001",
                    "cnpj": "12345678000195",
                    "razao_social": "CEDENTE LTDA",
                    "status": "blocked",
                    "issues": [
                      {
                        "rule_id": "CEDENTE_PROTESTOS",
                        "rule_name": "Protestos",
                        "category": "blocking",
                        "status": "blocked",
                        "message": "Cedente: Protestos encontrados",
                        "detail": {
                          "field": "protestos",
                          "actual": "3",
                          "expected": "0"
                        },
                        "data_sources": [
                          {
                            "name": "cenprot",
                            "fetched_at": "2026-07-06T09:00:00.000Z",
                            "age_days": 3
                          }
                        ]
                      }
                    ],
                    "sacados": [
                      {
                        "id": "c0a80001-0000-0000-0000-000000000002",
                        "cnpj_cpf": "98765432000188",
                        "razao_social": "SACADO SA",
                        "tipo": "PJ",
                        "status": "alerted",
                        "issues": [],
                        "titulos": [
                          {
                            "id": "c0a80001-0000-0000-0000-000000000003",
                            "numero": "DOC-001",
                            "valor": 1234.56,
                            "data_vencimento": "2026-08-01",
                            "nfe_chave": "35230612345678000195550010000000011000000011",
                            "status": "alerted",
                            "issues": [
                              {
                                "rule_id": "TITULO_NFE_DIVERGENCIA",
                                "rule_name": "Divergência com NFe",
                                "category": "alert",
                                "status": "alerted",
                                "message": "Título: valor diverge da NFe",
                                "detail": {
                                  "field": "valor",
                                  "actual": "1234.56",
                                  "expected": "1230.00"
                                },
                                "data_sources": [
                                  {
                                    "name": "nfe",
                                    "fetched_at": "2026-07-09T12:01:00.000Z",
                                    "age_days": 0
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "summary": {
                    "total_titulos": 12,
                    "approved": 9,
                    "blocked": 2,
                    "alerted": 1,
                    "total_value": 100000,
                    "approved_value": 80000,
                    "blocked_value": 15000,
                    "alerted_value": 5000,
                    "sacados": {
                      "total": 5,
                      "with_issues": 2
                    },
                    "cedente": {
                      "status": "blocked"
                    }
                  },
                  "engine_id": "0b3c6c7e-9d2a-4f1b-8e5d-2a1b3c4d5e6f",
                  "engine_name": "Motor Borderô",
                  "timestamp": "2026-07-09T12:02:15.000Z",
                  "coverage": [
                    {
                      "provider": "rfb",
                      "requested": 6,
                      "succeeded": 5,
                      "failed_keys": [
                        "98765432000188"
                      ]
                    }
                  ],
                  "degraded_rules": [
                    {
                      "rule_id": "SACADO_SERASA",
                      "provider": "serasa",
                      "titulos_affected": 2
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parâmetro filter inválido.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/validation_error",
                  "title": "Validation Error",
                  "status": 400,
                  "code": "validation_error",
                  "detail": "Invalid filter value. Use \"issues\" or \"all\".",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "401": {
            "description": "Chave de API ausente, malformada, inválida ou revogada.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Operação inexistente ou pertencente a outro workspace.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/not_found",
                  "title": "Not Found",
                  "status": 404,
                  "code": "not_found",
                  "detail": "Operation not found",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          },
          "409": {
            "description": "A operação ainda não chegou a completed — o resultado só existe em completed. Faça polling do GET /v1/operations/{id} e tente novamente.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "type": "https://docs.sherlocker.com.br/problems/conflict",
                  "title": "Conflict",
                  "status": 409,
                  "code": "conflict",
                  "detail": "Operation has not completed yet. Current status: processing",
                  "instance": "/v1?request_id=3166fb9a-384c-44b7-ab77-90aca3146e0a"
                }
              }
            }
          }
        }
      }
    }
  }
}
