{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Perfis Agregados",
    "description": "Endpoints de perfil que agregam dados de multiplas fontes em uma unica chamada.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Perfil Cadastral",
      "description": "Dados cadastrais agregados de pessoas fisicas e juridicas"
    },
    {
      "name": "Perfil Patrimonial",
      "description": "Patrimonio agregado: veiculos, imoveis, aeronaves, patentes e propriedades rurais"
    },
    {
      "name": "Perfil Juridico",
      "description": "Processos judiciais, trabalhistas e compliance"
    },
    {
      "name": "Perfil Financeiro",
      "description": "Dividas federais, beneficios sociais e renuncias fiscais"
    }
  ],
  "paths": {
    "/perfil/cadastral/cpf/{cpf}": {
      "get": {
        "operationId": "perfilCadastralCpf",
        "summary": "Perfil Cadastral por CPF",
        "description": "Agrega em uma chamada: identidade, enderecos, telefones, emails, parentes, empresas e empregos.",
        "tags": [
          "Perfil Cadastral"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF da pessoa fisica (somente digitos, 11 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil cadastral completo da pessoa fisica. Observacao: para documento invalido ou nao encontrado a API responde 200 com o corpo { \"erro\": \"...\" } (ex.: CPF invalido, CPF nao encontrado, Servico indisponivel).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilCadastralCpfResponse"
                },
                "example": {
                  "documento": "123.456.789-01",
                  "tipo_documento": "CPF",
                  "nome_completo": "Maria Silva Santos",
                  "genero": "Feminino",
                  "data_nascimento": "1996-01-02",
                  "falecido": false,
                  "obito": null,
                  "enderecos": [
                    {
                      "logradouro": "R HENRIQUE PASSINI",
                      "numero": "748",
                      "complemento": "401",
                      "bairro": "SERRA",
                      "cidade": "BELO HORIZONTE",
                      "uf": "MG",
                      "cep": "30220-380"
                    }
                  ],
                  "telefones": [
                    {
                      "ddi": "55",
                      "ddd": "31",
                      "numero": "987654321",
                      "numero_completo": "5531987654321",
                      "estado": "MG",
                      "operadora": "Vivo",
                      "data": "2022-01-01"
                    }
                  ],
                  "emails": [
                    {
                      "email": "maria@gmail.com",
                      "dominio": "gmail.com",
                      "corporativo": false
                    }
                  ],
                  "parentes": [
                    {
                      "nome": "João da Silva",
                      "documento": "987.654.321-00",
                      "tipo_documento": "CPF",
                      "vinculo_codigo": "03",
                      "vinculo_nome": "Pai"
                    }
                  ],
                  "empresas": [
                    {
                      "documento": "12.345.678/0001-95",
                      "tipo_documento": "CNPJ",
                      "razao_social": "Empresa Ltda",
                      "nome_fantasia": "Empresa"
                    }
                  ],
                  "empregos": [
                    {
                      "documento_empregador": "12.345.678/0001-95",
                      "tipo_documento_empregador": "CNPJ",
                      "nome_empregador": "Empresa Ltda",
                      "cargo": "ANALISTA",
                      "status": "ativo",
                      "data_admissao": "2020-03-15",
                      "data_desligamento": null,
                      "remuneracao": {
                        "valor": 4500.0,
                        "estimativa_minima": 5060.0,
                        "estimativa_maxima": 12650.0,
                        "faixa": "4 a 10 SM"
                      },
                      "vinculo": {
                        "nivel": "Funcionário",
                        "setor": {
                          "tipo": "Privado",
                          "codigo": "6209100",
                          "descricao": "Suporte tecnico em TI"
                        }
                      },
                      "contatos": {
                        "telefone": {
                          "ddi": "55",
                          "ddd": "31",
                          "numero": "987654321",
                          "numero_completo": "5531987654321",
                          "estado": "MG",
                          "operadora": "Vivo"
                        },
                        "email": {
                          "email": "maria@empresa.com.br",
                          "dominio": "empresa.com.br",
                          "corporativo": true
                        }
                      }
                    }
                  ],
                  "publicamente_exposta": false,
                  "cargos_publicos": [],
                  "beneficios": {
                    "auxilio_brasil": [],
                    "bolsa_familia": [],
                    "auxilio_emergencial": [],
                    "bpc": []
                  },
                  "dominios": []
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/cadastral/cnpj/{cnpj}": {
      "get": {
        "operationId": "perfilCadastralCnpj",
        "summary": "Perfil Cadastral por CNPJ",
        "description": "Agrega em uma chamada: dados cadastrais, atividades economicas e socios.",
        "tags": [
          "Perfil Cadastral"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (somente digitos, 14 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678000195"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil cadastral completo da empresa. Observacao: para documento invalido ou nao encontrado a API responde 200 com o corpo { \"erro\": \"...\" } (ex.: CNPJ invalido, CNPJ nao encontrado, Servico indisponivel).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilCadastralCnpjResponse"
                },
                "example": {
                  "documento": "12.345.678/0001-95",
                  "tipo_documento": "CNPJ",
                  "cnpj_basico": "12345678",
                  "razao_social": "Technovacao Digital Ltda",
                  "nome_fantasia": "Technovacao",
                  "situacao": "Ativa",
                  "data_situacao": "2016-01-20",
                  "motivo_situacao": null,
                  "data_abertura": "2016-01-20",
                  "capital_social": 50000.0,
                  "porte": "Empresa de Pequeno Porte",
                  "matriz_filial": "Matriz",
                  "natureza_juridica": {
                    "codigo": "2062",
                    "descricao": "Sociedade Empresária Limitada"
                  },
                  "atividade_principal": {
                    "codigo": "6209100",
                    "descricao": "Suporte tecnico em TI"
                  },
                  "atividades_secundarias": [
                    {
                      "codigo": "6201500",
                      "descricao": "Desenvolvimento de programas de computador sob encomenda"
                    }
                  ],
                  "endereco": {
                    "logradouro": "Avenida Paulista",
                    "numero": "1000",
                    "complemento": "Sala 1201",
                    "bairro": "Bela Vista",
                    "cidade": "Sao Paulo",
                    "uf": "SP",
                    "cep": "01310-100"
                  },
                  "telefones": [
                    {
                      "ddi": "55",
                      "ddd": "11",
                      "numero": "34567890",
                      "numero_completo": "551134567890",
                      "estado": "SP",
                      "operadora": "Fixo"
                    }
                  ],
                  "emails": [
                    {
                      "email": "contato@technovacao.com.br",
                      "dominio": "technovacao.com.br",
                      "corporativo": true
                    }
                  ],
                  "socios": [
                    {
                      "nome": "Maria Da Silva",
                      "documento": "123.456.789-01",
                      "tipo_documento": "CPF",
                      "tipo": "Pessoa Física",
                      "qualificacao": "Socio-Administrador",
                      "data_entrada": "2016-01-20",
                      "pais": "Brasil",
                      "origem": "qsa",
                      "data_nascimento": "1985-03-12",
                      "sexo": "Feminino",
                      "idade": 41,
                      "faixa_etaria": "31 a 40 anos"
                    }
                  ],
                  "situacao_especial": null,
                  "data_situacao_especial": null
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/patrimonial/cpf/{cpf}": {
      "get": {
        "operationId": "perfilPatrimonialCpf",
        "summary": "Perfil Patrimonial por CPF",
        "description": "Agrega em uma chamada: veiculos, imoveis, aeronaves, patentes e perfil rural.",
        "tags": [
          "Perfil Patrimonial"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF da pessoa fisica (somente digitos, 11 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil patrimonial completo da pessoa fisica. Observacao: para CPF invalido a API responde 200 com o corpo { \"erro\": \"CPF invalido\" }.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilPatrimonialResponse"
                },
                "example": {
                  "veiculos": [
                    {
                      "documento": "12345678901",
                      "tipo": "PF",
                      "nome_proprietario": "MARIA DA SILVA",
                      "ano_documento": 2022,
                      "placa": "ABC1D23",
                      "placa_antiga": "ABC1234",
                      "placa_nova": "ABC1D23",
                      "renavam": "12345678901",
                      "chassi": "9BWAG45N1YT123456",
                      "ano_fabricacao": 2019,
                      "ano_modelo": 2020,
                      "marca": "VW",
                      "modelo": "GOL 1.0",
                      "cor": "Prata",
                      "combustivel": "Flex",
                      "tipo_veiculo": "Automovel",
                      "especie_veiculo": "Passageiro",
                      "potencia": "75",
                      "cilindradas": "999",
                      "quantidade_passageiro": "5",
                      "municipio": "SAO PAULO",
                      "uf": "SP",
                      "situacao_veiculo": "Circulacao",
                      "restricao_1": "",
                      "restricao_2": "",
                      "restricao_3": "",
                      "restricao_4": "",
                      "nacionalidade": "",
                      "carroceria": "",
                      "tipo_montagem": "",
                      "peso_bruto_total": "",
                      "cap_maxima_tracao": "",
                      "capacidade_carga": "",
                      "motor": "",
                      "caixa_cambio": "",
                      "situacao_chassi": "",
                      "eixos": "",
                      "media_preco": "",
                      "updated_at": 0
                    }
                  ],
                  "imoveis": [
                    {
                      "id": "a1b2c3",
                      "fonte": "bh",
                      "sql_iptu": "0123456789",
                      "inscricao": "0123456789",
                      "localizacao": {
                        "logradouro": "R EXEMPLO",
                        "numero": "100",
                        "complemento": "",
                        "bairro": "CENTRO",
                        "cidade": "BELO HORIZONTE",
                        "uf": "MG",
                        "cep": "30130-000"
                      },
                      "area_terreno": 360.0,
                      "area_construida": 180.0,
                      "ano_construcao": 1995,
                      "tipo_uso": "RESIDENCIAL",
                      "valor_venal": 450000.0,
                      "valor_iptu": 2400.0,
                      "proprietario": {
                        "nome": "MARIA DA SILVA",
                        "documento": "12345678901",
                        "tipoDocumento": "CPF"
                      }
                    }
                  ],
                  "aeronaves": {
                    "avioes": [],
                    "drones": []
                  },
                  "patentes": [
                    {
                      "numero_inpi": "BR102020012345",
                      "codigo_interno": "",
                      "depositante": "MARIA DA SILVA",
                      "cgccpfdepositante": "12345678901",
                      "tipopessoadepositante": "Fisica",
                      "pais": "BR",
                      "estado": "SP",
                      "data_inicio_depositante": "",
                      "data_fim_depositante": "",
                      "titulo": "DISPOSITIVO PARA FILTRAGEM",
                      "resumo": "",
                      "natureza": "PATENTE DE INVENCAO",
                      "data_deposito": "2020-06-15",
                      "data_publicacao": "2021-12-21",
                      "data_concessao": "",
                      "classificacao_ipc": "",
                      "despacho_codigo": "",
                      "despacho_texto": "",
                      "despacho_data_rpi": "",
                      "inventores": "",
                      "procuradores": ""
                    }
                  ],
                  "rural": null
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/patrimonial/cnpj/{cnpj}": {
      "get": {
        "operationId": "perfilPatrimonialCnpj",
        "summary": "Perfil Patrimonial por CNPJ",
        "description": "Agrega em uma chamada: veiculos, imoveis, aeronaves, patentes e rural da empresa.",
        "tags": [
          "Perfil Patrimonial"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (somente digitos, 14 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678000195"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil patrimonial completo da empresa. Observacao: para CNPJ invalido a API responde 200 com o corpo { \"erro\": \"CNPJ invalido\" }.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilPatrimonialResponse"
                },
                "example": {
                  "veiculos": [
                    {
                      "documento": "12345678000195",
                      "tipo": "PJ",
                      "nome_proprietario": "TECHNOVACAO DIGITAL LTDA",
                      "ano_documento": 2022,
                      "placa": "DEF2G34",
                      "placa_antiga": "DEF2345",
                      "placa_nova": "DEF2G34",
                      "renavam": "98765432101",
                      "chassi": "9BGRD08X04G123456",
                      "ano_fabricacao": 2021,
                      "ano_modelo": 2022,
                      "marca": "FIAT",
                      "modelo": "STRADA TREK CE",
                      "cor": "Branca",
                      "combustivel": "Flex",
                      "tipo_veiculo": "Automovel",
                      "especie_veiculo": "Carga",
                      "potencia": "130",
                      "cilindradas": "1300",
                      "quantidade_passageiro": "2",
                      "municipio": "SAO PAULO",
                      "uf": "SP",
                      "situacao_veiculo": "Circulacao",
                      "restricao_1": "Alienacao Fiduciaria",
                      "restricao_2": "",
                      "restricao_3": "",
                      "restricao_4": "",
                      "nacionalidade": "",
                      "carroceria": "",
                      "tipo_montagem": "",
                      "peso_bruto_total": "",
                      "cap_maxima_tracao": "",
                      "capacidade_carga": "",
                      "motor": "",
                      "caixa_cambio": "",
                      "situacao_chassi": "",
                      "eixos": "",
                      "media_preco": "",
                      "updated_at": 0
                    }
                  ],
                  "imoveis": [
                    {
                      "id": "a1b2c3",
                      "fonte": "bh",
                      "sql_iptu": "0123456789",
                      "inscricao": "0123456789",
                      "localizacao": {
                        "logradouro": "R EXEMPLO",
                        "numero": "100",
                        "complemento": "",
                        "bairro": "CENTRO",
                        "cidade": "BELO HORIZONTE",
                        "uf": "MG",
                        "cep": "30130-000"
                      },
                      "area_terreno": 360.0,
                      "area_construida": 180.0,
                      "ano_construcao": 1995,
                      "tipo_uso": "COMERCIAL",
                      "valor_venal": 450000.0,
                      "valor_iptu": 2400.0,
                      "proprietario": {
                        "nome": "TECHNOVACAO DIGITAL LTDA",
                        "documento": "12345678000195",
                        "tipoDocumento": "CNPJ"
                      }
                    }
                  ],
                  "aeronaves": {
                    "avioes": [],
                    "drones": []
                  },
                  "patentes": [
                    {
                      "numero_inpi": "BR102020012345",
                      "codigo_interno": "",
                      "depositante": "TECHNOVACAO DIGITAL LTDA",
                      "cgccpfdepositante": "12345678000195",
                      "tipopessoadepositante": "Juridica",
                      "pais": "BR",
                      "estado": "SP",
                      "data_inicio_depositante": "",
                      "data_fim_depositante": "",
                      "titulo": "DISPOSITIVO PARA FILTRAGEM",
                      "resumo": "",
                      "natureza": "PATENTE DE INVENCAO",
                      "data_deposito": "2020-06-15",
                      "data_publicacao": "2021-12-21",
                      "data_concessao": "",
                      "classificacao_ipc": "",
                      "despacho_codigo": "",
                      "despacho_texto": "",
                      "despacho_data_rpi": "",
                      "inventores": "",
                      "procuradores": ""
                    }
                  ],
                  "rural": null
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/juridico/cpf/{cpf}": {
      "get": {
        "operationId": "perfilJuridicoCpf",
        "summary": "Perfil Juridico por CPF",
        "description": "Agrega em uma chamada: processos judiciais da pessoa fisica.",
        "tags": [
          "Perfil Juridico"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF da pessoa fisica (somente digitos, 11 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil juridico completo da pessoa fisica",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilJuridicoCpfResponse"
                },
                "example": {
                  "processos": [
                    {
                      "numero_processo": "0000001-23.2020.8.26.0100",
                      "tribunal": "TJ-SP",
                      "classe_codigo": 7,
                      "classe_nome": "Procedimento Comum Civel",
                      "data_ajuizamento": "2023-05-15",
                      "partes": [
                        {
                          "nome": "Maria da Silva",
                          "documento": "123.456.789-01",
                          "tipo_documento": "CPF",
                          "polo": "Autor",
                          "tipo": "Fisica"
                        }
                      ],
                      "advogados": [
                        {
                          "nome": "Dr. José Advogado",
                          "oab": "SP123456"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/juridico/cnpj/{cnpj}": {
      "get": {
        "operationId": "perfilJuridicoCnpj",
        "summary": "Perfil Juridico por CNPJ",
        "description": "Agrega em uma chamada: processos, trabalhista, regularidade e compliance.",
        "tags": [
          "Perfil Juridico"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (somente digitos, 14 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678000195"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil juridico completo da empresa, incluindo processos, trabalhista e compliance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilJuridicoCnpjResponse"
                },
                "example": {
                  "processos": [
                    {
                      "numero_processo": "0000001-23.2020.8.26.0100",
                      "tribunal": "TJ-SP",
                      "classe_codigo": 7,
                      "classe_nome": "Procedimento Comum Civel",
                      "data_ajuizamento": "2023-05-15",
                      "partes": [
                        {
                          "nome": "Technovação Digital Ltda",
                          "documento": "12.345.678/0001-95",
                          "tipo_documento": "CNPJ",
                          "polo": "Reu",
                          "tipo": "Juridica"
                        }
                      ],
                      "advogados": [
                        {
                          "nome": "Dr. José Advogado",
                          "oab": "SP123456"
                        }
                      ]
                    }
                  ],
                  "trabalhista": {
                    "beneficiarias": [],
                    "facilitadoras": [],
                    "fornecedoras": []
                  },
                  "compliance": {
                    "trabalho_escravo": [],
                    "ibama_embargos": [],
                    "ceis": [],
                    "cnep": [],
                    "ceaf": [],
                    "pep": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/financeiro/cpf/{cpf}": {
      "get": {
        "operationId": "perfilFinanceiroCpf",
        "summary": "Perfil Financeiro por CPF",
        "description": "Agrega em uma chamada: dividas federais e beneficios sociais.",
        "tags": [
          "Perfil Financeiro"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF da pessoa fisica (somente digitos, 11 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil financeiro completo da pessoa fisica",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilFinanceiroCpfResponse"
                },
                "example": {
                  "dividas": {
                    "documento": "123.456.789-01",
                    "tipo_documento": "CPF",
                    "nome": "Maria da Silva",
                    "total": 2,
                    "valor_total": 24150.5,
                    "ajuizado": true,
                    "dividas": [
                      {
                        "numero_inscricao": "80000000000001",
                        "fonte": "ativa_uniao",
                        "receita": "IRPF",
                        "ajuizado": true,
                        "data_inscricao": "2020-03-15",
                        "valor_atual": 15420.5,
                        "uf": "SP",
                        "unidade_responsavel": "DRF CAMPINAS",
                        "historico": [
                          {
                            "situacao": "Ativa Ajuizada",
                            "valor": 15420.5,
                            "data_inscricao": "2020-03-15"
                          }
                        ]
                      },
                      {
                        "numero_inscricao": "80000000000002",
                        "fonte": "fgts",
                        "receita": "FGTS",
                        "ajuizado": false,
                        "data_inscricao": "2021-07-01",
                        "valor_atual": 8730.0,
                        "uf": "SP",
                        "unidade_responsavel": "SRTE/SP",
                        "entidade_responsavel": "CEF",
                        "historico": [
                          {
                            "situacao": "Ativa",
                            "valor": 8730.0,
                            "data_inscricao": "2021-07-01"
                          }
                        ]
                      }
                    ]
                  },
                  "beneficios": {
                    "auxilio_brasil": [],
                    "bolsa_familia": [],
                    "auxilio_emergencial": [],
                    "bpc": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/perfil/financeiro/cnpj/{cnpj}": {
      "get": {
        "operationId": "perfilFinanceiroCnpj",
        "summary": "Perfil Financeiro por CNPJ",
        "description": "Agrega em uma chamada: dividas federais e renuncias fiscais.",
        "tags": [
          "Perfil Financeiro"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (somente digitos, 14 caracteres)",
            "schema": {
              "type": "string",
              "example": "12345678000195"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil financeiro completo da empresa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerfilFinanceiroCnpjResponse"
                },
                "example": {
                  "dividas": {
                    "documento": "12.345.678/0001-95",
                    "tipo_documento": "CNPJ",
                    "nome": "Technovação Digital Ltda",
                    "total": 2,
                    "valor_total": 24150.5,
                    "ajuizado": true,
                    "dividas": [
                      {
                        "numero_inscricao": "80000000000001",
                        "fonte": "ativa_uniao",
                        "receita": "IRPF",
                        "ajuizado": true,
                        "data_inscricao": "2020-03-15",
                        "valor_atual": 15420.5,
                        "uf": "SP",
                        "unidade_responsavel": "DRF CAMPINAS",
                        "historico": [
                          {
                            "situacao": "Ativa Ajuizada",
                            "valor": 15420.5,
                            "data_inscricao": "2020-03-15"
                          }
                        ]
                      },
                      {
                        "numero_inscricao": "80000000000002",
                        "fonte": "fgts",
                        "receita": "FGTS",
                        "ajuizado": false,
                        "data_inscricao": "2021-07-01",
                        "valor_atual": 8730.0,
                        "uf": "SP",
                        "unidade_responsavel": "SRTE/SP",
                        "entidade_responsavel": "CEF",
                        "historico": [
                          {
                            "situacao": "Ativa",
                            "valor": 8730.0,
                            "data_inscricao": "2021-07-01"
                          }
                        ]
                      }
                    ]
                  },
                  "beneficios": {
                    "renuncias_fiscais": [
                      {
                        "documento": "12.345.678/0001-95",
                        "tipo_documento": "CNPJ",
                        "razao_social": "Empresa Ltda",
                        "tipo_renuncia": "ISENCAO",
                        "tributo": "IRPJ",
                        "valor_renuncia": 50000.0,
                        "ano_calendario": "2023"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "Endereco": {
        "type": "object",
        "description": "Endereco completo",
        "properties": {
          "logradouro": {
            "type": "string",
            "description": "Nome da rua, avenida ou logradouro",
            "example": "R HENRIQUE PASSINI"
          },
          "numero": {
            "type": "string",
            "description": "Numero do imovel",
            "example": "748"
          },
          "complemento": {
            "type": "string",
            "description": "Complemento do endereco (apartamento, sala, etc.)",
            "example": "401"
          },
          "bairro": {
            "type": "string",
            "description": "Nome do bairro",
            "example": "SERRA"
          },
          "cidade": {
            "type": "string",
            "description": "Nome da cidade",
            "example": "BELO HORIZONTE"
          },
          "uf": {
            "type": "string",
            "description": "Sigla da unidade federativa (estado)",
            "example": "MG"
          },
          "cep": {
            "type": "string",
            "description": "CEP no formato 00000-000",
            "example": "30220-380"
          }
        }
      },
      "Telefone": {
        "type": "object",
        "description": "Informacoes de telefone com detalhes da operadora",
        "properties": {
          "ddi": {
            "type": "string",
            "description": "Codigo DDI do pais",
            "example": "55"
          },
          "ddd": {
            "type": "string",
            "description": "Codigo DDD da regiao",
            "example": "31"
          },
          "numero": {
            "type": "string",
            "description": "Numero do telefone sem DDD",
            "example": "987654321"
          },
          "numero_completo": {
            "type": "string",
            "description": "Numero completo com DDI + DDD + numero",
            "example": "5531987654321"
          },
          "estado": {
            "type": "string",
            "description": "UF associada ao DDD",
            "example": "MG"
          },
          "operadora": {
            "type": "string",
            "description": "Nome da operadora de telefonia",
            "example": "Vivo"
          },
          "data": {
            "type": "string",
            "nullable": true,
            "description": "Ano de referencia do registro do telefone no formato YYYY-01-01 (sempre 1o de janeiro do ano derivado), ou null. Presente apenas nos telefones de pessoa fisica (telefones de empresa e de contatos de emprego nao incluem este campo).",
            "example": "2022-01-01"
          }
        }
      },
      "Email": {
        "type": "object",
        "description": "Endereco de email com classificacao",
        "properties": {
          "email": {
            "type": "string",
            "description": "Endereco de email completo",
            "example": "maria@gmail.com"
          },
          "dominio": {
            "type": "string",
            "description": "Dominio do email",
            "example": "gmail.com"
          },
          "corporativo": {
            "type": "boolean",
            "description": "Indica se o email e corporativo (dominio proprio)",
            "example": false
          }
        }
      },
      "Parente": {
        "type": "object",
        "description": "Vinculo familiar da pessoa",
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome completo do parente",
            "example": "JOAO DA SILVA"
          },
          "documento": {
            "type": "string",
            "description": "CPF formatado do parente (000.000.000-00), ou string vazia quando indisponivel",
            "example": "987.654.321-00"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CPF"
            ],
            "example": "CPF"
          },
          "vinculo_codigo": {
            "type": "string",
            "description": "Codigo do vinculo familiar (ex: 01)",
            "example": "01"
          },
          "vinculo_nome": {
            "type": "string",
            "description": "Descricao do vinculo (Conjuge, Pai, Mae, Filho, etc.)",
            "example": "Pai"
          }
        }
      },
      "EmpresaVinculada": {
        "type": "object",
        "description": "Empresa vinculada a pessoa fisica (como socio ou responsavel)",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CNPJ formatado da empresa (00.000.000/0000-00)",
            "example": "12.345.678/0001-95"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CNPJ"
            ],
            "example": "CNPJ"
          },
          "razao_social": {
            "type": "string",
            "description": "Razao social da empresa",
            "example": "EMPRESA LTDA"
          },
          "nome_fantasia": {
            "type": "string",
            "description": "Nome fantasia da empresa",
            "example": "EMPRESA"
          }
        }
      },
      "Emprego": {
        "type": "object",
        "description": "Vinculo empregaticio da pessoa fisica",
        "properties": {
          "documento_empregador": {
            "type": "string",
            "description": "CNPJ formatado do empregador (00.000.000/0000-00)",
            "example": "12.345.678/0001-95"
          },
          "tipo_documento_empregador": {
            "type": "string",
            "enum": [
              "CNPJ"
            ],
            "example": "CNPJ"
          },
          "nome_empregador": {
            "type": "string",
            "description": "Razao social do empregador",
            "example": "Silva Comercio LTDA"
          },
          "cargo": {
            "type": "string",
            "nullable": true,
            "description": "Cargo ou funcao exercida (null se indisponivel)",
            "example": "Gerente Comercial"
          },
          "status": {
            "type": "string",
            "description": "ativo ou inativo"
          },
          "data_admissao": {
            "type": "string",
            "nullable": true,
            "description": "Data de admissao no formato YYYY-MM-DD (null se indisponivel)",
            "example": "2019-01-15"
          },
          "data_desligamento": {
            "type": "string",
            "nullable": true,
            "description": "Data de desligamento (null se ainda empregado)"
          },
          "remuneracao": {
            "type": "object",
            "nullable": true,
            "properties": {
              "valor": {
                "type": "number",
                "nullable": true
              },
              "estimativa_minima": {
                "type": "number",
                "nullable": true
              },
              "estimativa_maxima": {
                "type": "number",
                "nullable": true
              },
              "faixa": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "vinculo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "nivel": {
                "type": "string",
                "nullable": true
              },
              "setor": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "tipo": {
                    "type": "string",
                    "nullable": true
                  },
                  "codigo": {
                    "type": "string",
                    "nullable": true
                  },
                  "descricao": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "contatos": {
            "type": "object",
            "nullable": true,
            "properties": {
              "telefone": {
                "$ref": "#/components/schemas/Telefone"
              },
              "email": {
                "$ref": "#/components/schemas/Email"
              }
            }
          }
        }
      },
      "Cnae": {
        "type": "object",
        "description": "Classificacao Nacional de Atividades Economicas",
        "properties": {
          "codigo": {
            "type": "string",
            "description": "Codigo CNAE (7 digitos)",
            "example": "6209100"
          },
          "descricao": {
            "type": "string",
            "description": "Descricao da atividade economica",
            "example": "Suporte tecnico em TI"
          }
        }
      },
      "Socio": {
        "type": "object",
        "description": "Socio ou administrador da empresa",
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome completo do socio",
            "example": "MARIA DA SILVA"
          },
          "documento": {
            "type": "string",
            "nullable": true,
            "description": "CPF ou CNPJ formatado do socio. null para PF quando o CPF nao pode ser resolvido (mascarado)",
            "example": "123.456.789-01"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CPF",
              "CNPJ"
            ],
            "description": "CPF para Pessoa Fisica, CNPJ para Pessoa Juridica",
            "example": "CPF"
          },
          "tipo": {
            "type": "string",
            "description": "Pessoa Fisica ou Pessoa Juridica",
            "example": "Pessoa Física"
          },
          "qualificacao": {
            "type": "string",
            "description": "Qualificacao do socio (ex: Socio-Administrador, Socio, etc.)",
            "example": "Socio-Administrador"
          },
          "data_entrada": {
            "type": "string",
            "description": "Data de entrada na sociedade no formato YYYY-MM-DD",
            "example": "2016-01-20"
          },
          "pais": {
            "type": "string",
            "description": "Pais do socio (default Brasil)",
            "example": "Brasil"
          },
          "origem": {
            "type": "string",
            "description": "Origem do registro do socio (ex: qsa)",
            "example": "qsa"
          },
          "data_nascimento": {
            "type": "string",
            "nullable": true,
            "description": "Somente para Pessoa Fisica"
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "description": "Somente para Pessoa Fisica"
          },
          "idade": {
            "type": "integer",
            "nullable": true,
            "description": "Somente para Pessoa Fisica"
          },
          "faixa_etaria": {
            "type": "string",
            "nullable": true
          },
          "representante": {
            "type": "object",
            "nullable": true,
            "description": "Somente para Pessoa Juridica",
            "properties": {
              "nome": {
                "type": "string"
              },
              "documento": {
                "type": "string",
                "nullable": true,
                "description": "CPF formatado do representante, ou null quando mascarado/nao resolvido"
              },
              "qualificacao": {
                "type": "string"
              }
            }
          }
        }
      },
      "Funcionario": {
        "type": "object",
        "description": "Funcionario da empresa",
        "properties": {
          "cpf": {
            "type": "string",
            "description": "CPF formatado do funcionario",
            "example": "123.456.789-10"
          },
          "nome": {
            "type": "string",
            "description": "Nome completo do funcionario",
            "example": "Maria Oliveira"
          },
          "data_nascimento": {
            "type": "string",
            "nullable": true
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "description": "Masculino ou Feminino"
          },
          "cargo": {
            "type": "string",
            "description": "Cargo ou funcao exercida",
            "example": "Gerente Comercial"
          },
          "status": {
            "type": "string",
            "description": "ativo ou inativo"
          },
          "data_admissao": {
            "type": "string",
            "nullable": true
          },
          "data_desligamento": {
            "type": "string",
            "nullable": true
          },
          "remuneracao": {
            "type": "object",
            "nullable": true,
            "properties": {
              "valor": {
                "type": "number",
                "nullable": true
              },
              "estimativa_minima": {
                "type": "number",
                "nullable": true
              },
              "estimativa_maxima": {
                "type": "number",
                "nullable": true
              },
              "faixa": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "vinculo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "nivel": {
                "type": "string",
                "nullable": true
              },
              "setor": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "tipo": {
                    "type": "string",
                    "nullable": true
                  },
                  "codigo": {
                    "type": "string",
                    "nullable": true
                  },
                  "descricao": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "contatos": {
            "type": "object",
            "nullable": true,
            "properties": {
              "telefone": {
                "$ref": "#/components/schemas/Telefone"
              },
              "email": {
                "$ref": "#/components/schemas/Email"
              }
            }
          }
        }
      },
      "Veiculo": {
        "type": "object",
        "description": "Veiculo registrado em nome da pessoa ou empresa (linha bruta da base, sem normalizacao de marca/modelo)",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CPF/CNPJ do proprietario (somente digitos)",
            "example": "12345678901"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "PF",
              "PJ"
            ],
            "description": "Tipo de pessoa do proprietario",
            "example": "PF"
          },
          "nome_proprietario": {
            "type": "string",
            "description": "Nome do proprietario do veiculo",
            "example": "MARIA DA SILVA"
          },
          "ano_documento": {
            "type": "integer",
            "description": "Ano de referencia do registro de propriedade",
            "example": 2022
          },
          "placa": {
            "type": "string",
            "description": "Placa atual do veiculo",
            "example": "ABC1D23"
          },
          "placa_antiga": {
            "type": "string",
            "description": "Placa formato antigo (ABC-1234)",
            "example": "ABC1234"
          },
          "placa_nova": {
            "type": "string",
            "description": "Placa modelo Mercosul",
            "example": "ABC1D23"
          },
          "renavam": {
            "type": "string",
            "description": "Codigo RENAVAM",
            "example": "12345678901"
          },
          "chassi": {
            "type": "string",
            "description": "Numero do chassi",
            "example": "9BWAG45N1YT123456"
          },
          "ano_fabricacao": {
            "type": "integer",
            "description": "Ano de fabricacao",
            "example": 2021
          },
          "ano_modelo": {
            "type": "integer",
            "description": "Ano do modelo",
            "example": 2022
          },
          "marca": {
            "type": "string",
            "description": "Marca do fabricante (extraida da parte antes da barra em modelo)",
            "example": "FIAT"
          },
          "modelo": {
            "type": "string",
            "description": "Modelo do veiculo",
            "example": "STRADA TREK CE"
          },
          "cor": {
            "type": "string",
            "description": "Cor predominante do veiculo",
            "example": "Prata"
          },
          "combustivel": {
            "type": "string",
            "description": "Tipo de combustivel",
            "example": "Flex"
          },
          "tipo_veiculo": {
            "type": "string",
            "description": "Tipo do veiculo (Automovel, Motocicleta, Caminhao, etc.)",
            "example": "Automovel"
          },
          "especie_veiculo": {
            "type": "string",
            "description": "Especie do veiculo (codigo ou descricao crua da base)",
            "example": "Passageiro"
          },
          "potencia": {
            "type": "string",
            "description": "Potencia do motor",
            "example": "130"
          },
          "cilindradas": {
            "type": "string",
            "description": "Cilindradas do motor",
            "example": "1300"
          },
          "quantidade_passageiro": {
            "type": "string",
            "description": "Quantidade de passageiros",
            "example": "5"
          },
          "municipio": {
            "type": "string",
            "description": "Municipio de registro do veiculo",
            "example": "SAO PAULO"
          },
          "uf": {
            "type": "string",
            "description": "UF de registro do veiculo",
            "example": "SP"
          },
          "situacao_veiculo": {
            "type": "string",
            "description": "Situacao atual do veiculo (codigo ou descricao crua da base)",
            "example": "Circulacao"
          },
          "restricao_1": {
            "type": "string",
            "description": "Restricao 1 do veiculo (string vazia se nenhuma)",
            "example": "Alienacao Fiduciaria"
          },
          "restricao_2": {
            "type": "string",
            "description": "Restricao 2 do veiculo (string vazia se nenhuma)",
            "example": ""
          },
          "restricao_3": {
            "type": "string",
            "description": "Restricao 3 do veiculo (string vazia se nenhuma)",
            "example": ""
          },
          "restricao_4": {
            "type": "string",
            "description": "Restricao 4 do veiculo (string vazia se nenhuma)",
            "example": ""
          },
          "nacionalidade": {
            "type": "string",
            "description": "Nacionalidade do veiculo",
            "example": ""
          },
          "carroceria": {
            "type": "string",
            "description": "Tipo de carroceria",
            "example": ""
          },
          "tipo_montagem": {
            "type": "string",
            "description": "Tipo de montagem",
            "example": ""
          },
          "peso_bruto_total": {
            "type": "string",
            "description": "Peso bruto total",
            "example": ""
          },
          "cap_maxima_tracao": {
            "type": "string",
            "description": "Capacidade maxima de tracao",
            "example": ""
          },
          "capacidade_carga": {
            "type": "string",
            "description": "Capacidade de carga",
            "example": ""
          },
          "motor": {
            "type": "string",
            "description": "Numero/identificacao do motor",
            "example": ""
          },
          "caixa_cambio": {
            "type": "string",
            "description": "Identificacao da caixa de cambio",
            "example": ""
          },
          "situacao_chassi": {
            "type": "string",
            "description": "Situacao do chassi",
            "example": ""
          },
          "eixos": {
            "type": "string",
            "description": "Quantidade de eixos",
            "example": ""
          },
          "media_preco": {
            "type": "string",
            "description": "Media de preco estimada (string)",
            "example": ""
          },
          "updated_at": {
            "type": "integer",
            "description": "Timestamp interno de atualizacao (retorna 0 nesta consulta)",
            "example": 0
          }
        }
      },
      "LocalizacaoImovel": {
        "type": "object",
        "description": "Localizacao do imovel",
        "properties": {
          "logradouro": {
            "type": "string",
            "description": "Nome da rua, avenida ou logradouro",
            "example": "R EXEMPLO"
          },
          "numero": {
            "type": "string",
            "description": "Numero do imovel",
            "example": "100"
          },
          "complemento": {
            "type": "string",
            "description": "Complemento do endereco",
            "example": ""
          },
          "bairro": {
            "type": "string",
            "description": "Nome do bairro",
            "example": "CENTRO"
          },
          "cidade": {
            "type": "string",
            "description": "Nome da cidade",
            "example": "BELO HORIZONTE"
          },
          "uf": {
            "type": "string",
            "description": "Sigla da unidade federativa",
            "example": "MG"
          },
          "cep": {
            "type": "string",
            "description": "CEP no formato 00000-000",
            "example": "30130-000"
          }
        }
      },
      "Imovel": {
        "type": "object",
        "description": "Imovel registrado em nome da pessoa ou empresa",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador unico interno do imovel",
            "example": "a1b2c3"
          },
          "fonte": {
            "type": "string",
            "description": "Fonte dos dados do imovel (codigo da cidade)",
            "example": "bh"
          },
          "sql_iptu": {
            "type": "string",
            "description": "Numero SQL/IPTU do imovel",
            "example": "0123456789"
          },
          "inscricao": {
            "type": "string",
            "description": "Numero da inscricao imobiliaria municipal",
            "example": "0123456789"
          },
          "localizacao": {
            "$ref": "#/components/schemas/LocalizacaoImovel"
          },
          "area_terreno": {
            "type": "number",
            "description": "Area do terreno em metros quadrados",
            "example": 360.0
          },
          "area_construida": {
            "type": "number",
            "description": "Area construida em metros quadrados",
            "example": 180.0
          },
          "ano_construcao": {
            "type": "integer",
            "description": "Ano de construcao do imovel",
            "example": 1995
          },
          "tipo_uso": {
            "type": "string",
            "description": "Tipo de uso do imovel (RESIDENCIAL, COMERCIAL, INDUSTRIAL, etc.)",
            "example": "RESIDENCIAL"
          },
          "valor_venal": {
            "type": "number",
            "description": "Valor venal do imovel em reais",
            "example": 450000.0
          },
          "valor_iptu": {
            "type": "number",
            "description": "Valor anual do IPTU em reais",
            "example": 2400.0
          },
          "proprietario": {
            "type": "object",
            "description": "Proprietario do imovel. ATENCAO: o campo do tipo de documento usa camelCase (tipoDocumento), diferente do padrao snake_case do restante da API.",
            "properties": {
              "nome": {
                "type": "string",
                "description": "Nome do proprietario (string vazia se indisponivel)",
                "example": "MARIA DA SILVA"
              },
              "documento": {
                "type": "string",
                "nullable": true,
                "description": "CPF/CNPJ do proprietario (somente digitos), ou null",
                "example": "12345678901"
              },
              "tipoDocumento": {
                "type": "string",
                "enum": [
                  "CPF",
                  "CNPJ"
                ],
                "description": "Tipo do documento. Ausente quando o documento e vazio/invalido (campo opcional, camelCase).",
                "example": "CPF"
              }
            }
          }
        }
      },
      "Aeronaves": {
        "type": "object",
        "description": "Aeronaves registradas (avioes e drones/RPAS)",
        "properties": {
          "avioes": {
            "type": "array",
            "description": "Lista de avioes registrados",
            "items": {
              "$ref": "#/components/schemas/Aeronave"
            }
          },
          "drones": {
            "type": "array",
            "description": "Lista de drones/RPAS registrados",
            "items": {
              "$ref": "#/components/schemas/Drone"
            }
          }
        }
      },
      "Aeronave": {
        "type": "object",
        "description": "Aviao/aeronave tripulada registrada no RAB (linha bruta da base; CPF aparece mascarado em cpf_cgc)",
        "properties": {
          "documento": { "type": "string", "description": "CPF/CNPJ do proprietario (somente digitos)", "example": "12345678901" },
          "tipo": { "type": "string", "enum": ["PF", "PJ"], "example": "PF" },
          "marca": { "type": "string", "description": "Marca de matricula da aeronave", "example": "PR-ABC" },
          "proprietario": { "type": "string", "description": "Nome do proprietario", "example": "Maria Da Silva" },
          "outros_proprietarios": { "type": "string", "example": "" },
          "uf": { "type": "string", "example": "SP" },
          "operador": { "type": "string", "example": "Maria Da Silva" },
          "outros_operadores": { "type": "string", "example": "" },
          "uf_operador": { "type": "string", "example": "SP" },
          "cpf_cgc": { "type": "string", "description": "CPF/CNPJ mascarado conforme a base (ex: 123.XXX.XXX-01)", "example": "123.XXX.XXX-01" },
          "certificado_matricula": { "type": "string", "example": "" },
          "numero_serie": { "type": "string", "example": "" },
          "categoria": { "type": "string", "example": "" },
          "tipo_aeronave": { "type": "string", "description": "Tipo da aeronave (AVIAO, HELICOPTERO, etc.)", "example": "AVIAO" },
          "modelo": { "type": "string", "example": "" },
          "fabricante": { "type": "string", "example": "" },
          "classe": { "type": "string", "example": "" },
          "pmd": { "type": "string", "example": "" },
          "tipo_icao": { "type": "string", "example": "" },
          "tripulacao_minima": { "type": "string", "example": "" },
          "passageiros_maximo": { "type": "string", "example": "" },
          "numero_assentos": { "type": "string", "example": "" },
          "ano_fabricacao": { "type": "string", "example": "" },
          "validade_cva": { "type": "string", "example": "" },
          "validade_ca": { "type": "string", "example": "" },
          "data_cancelamento": { "type": "string", "description": "Data de cancelamento (normalizada para YYYY-MM-DD quando possivel)", "example": "" },
          "motivo_cancelamento": { "type": "string", "example": "" },
          "interdicao": { "type": "string", "example": "" },
          "marca_nacional_1": { "type": "string", "example": "" },
          "marca_nacional_2": { "type": "string", "example": "" },
          "marca_nacional_3": { "type": "string", "example": "" },
          "marca_estrangeira": { "type": "string", "example": "" },
          "data_matricula": { "type": "string", "description": "Data de matricula (normalizada para YYYY-MM-DD quando possivel)", "example": "2019-05-10" },
          "tipo_motor": { "type": "string", "example": "" },
          "quantidade_motores": { "type": "string", "example": "" },
          "tipo_pouso": { "type": "string", "example": "" },
          "preco_estimado": { "type": "number", "description": "Estimativa de preco por categoria (presente apenas quando ha valor mapeado para o tipo_aeronave)", "example": 1500000 }
        }
      },
      "Drone": {
        "type": "object",
        "description": "Drone/RPAS registrado (linha bruta da base; CPF mascarado em codigo/operador conforme fonte)",
        "properties": {
          "documento": { "type": "string", "description": "CPF/CNPJ do proprietario (somente digitos)", "example": "12345678901" },
          "tipo": { "type": "string", "enum": ["PF", "PJ"], "example": "PF" },
          "codigo_aeronave": { "type": "string", "example": "PR-XYZ123" },
          "data_validade": { "type": "string", "description": "Data de validade (normalizada para YYYY-MM-DD quando possivel)", "example": "2025-12-31" },
          "operador": { "type": "string", "example": "Maria Da Silva" },
          "tipo_uso": { "type": "string", "description": "Tipo de uso (RECREACAO, BASICO, AVANCADO, EXPERIMENTAL, etc.)", "example": "RECREACAO" },
          "fabricante": { "type": "string", "example": "DJI" },
          "modelo": { "type": "string", "example": "Mavic" },
          "numero_serie": { "type": "string", "example": "" },
          "peso_maximo": { "type": "string", "example": "" },
          "ramo_atividade": { "type": "string", "example": "" },
          "preco_estimado": { "type": "number", "description": "Estimativa de preco por tipo de uso (presente apenas quando ha valor mapeado)", "example": 3000 }
        }
      },
      "Patente": {
        "type": "object",
        "description": "Patente ou registro de propriedade intelectual no INPI (linha bruta da base; datas no formato armazenado, nao necessariamente ISO)",
        "properties": {
          "numero_inpi": {
            "type": "string",
            "description": "Numero do registro no INPI",
            "example": "BR102020012345"
          },
          "codigo_interno": {
            "type": "string",
            "description": "Codigo interno do registro",
            "example": ""
          },
          "depositante": {
            "type": "string",
            "description": "Nome do depositante",
            "example": "MARIA DA SILVA"
          },
          "cgccpfdepositante": {
            "type": "string",
            "description": "CPF/CNPJ do depositante",
            "example": "12345678901"
          },
          "tipopessoadepositante": {
            "type": "string",
            "description": "Tipo de pessoa do depositante",
            "example": "Fisica"
          },
          "pais": {
            "type": "string",
            "example": "BR"
          },
          "estado": {
            "type": "string",
            "example": "SP"
          },
          "data_inicio_depositante": {
            "type": "string",
            "example": ""
          },
          "data_fim_depositante": {
            "type": "string",
            "example": ""
          },
          "titulo": {
            "type": "string",
            "description": "Titulo da patente ou invencao (texto bruto da base)",
            "example": "DISPOSITIVO PARA FILTRAGEM"
          },
          "resumo": {
            "type": "string",
            "description": "Resumo da patente",
            "example": ""
          },
          "natureza": {
            "type": "string",
            "description": "Natureza da patente (PATENTE DE INVENCAO, MODELO DE UTILIDADE, etc.)",
            "example": "PATENTE DE INVENCAO"
          },
          "data_deposito": {
            "type": "string",
            "description": "Data de deposito (formato armazenado na base)",
            "example": "2020-06-15"
          },
          "data_publicacao": {
            "type": "string",
            "description": "Data de publicacao (formato armazenado na base)",
            "example": "2021-12-21"
          },
          "data_concessao": {
            "type": "string",
            "description": "Data de concessao (formato armazenado na base)",
            "example": ""
          },
          "classificacao_ipc": {
            "type": "string",
            "description": "Classificacao Internacional de Patentes (IPC)",
            "example": ""
          },
          "despacho_codigo": {
            "type": "string",
            "example": ""
          },
          "despacho_texto": {
            "type": "string",
            "example": ""
          },
          "despacho_data_rpi": {
            "type": "string",
            "description": "Data do despacho na RPI",
            "example": ""
          },
          "inventores": {
            "type": "string",
            "description": "Lista de inventores (texto)",
            "example": ""
          },
          "procuradores": {
            "type": "string",
            "description": "Lista de procuradores (texto)",
            "example": ""
          }
        }
      },
      "Parte": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "example": "MARIA DA SILVA"
          },
          "documento": {
            "type": "string",
            "description": "CPF ou CNPJ da parte",
            "example": "12345678901"
          },
          "polo": {
            "type": "string",
            "description": "Autor, Reu, Terceiro, etc",
            "example": "Autor"
          },
          "tipo": {
            "type": "string",
            "description": "Fisica ou Juridica",
            "example": "Fisica"
          }
        }
      },
      "Advogado": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "example": "Dr. Jose Advogado"
          },
          "oab": {
            "type": "string",
            "description": "Numero OAB (ex: SP123456)",
            "example": "SP123456"
          }
        }
      },
      "Processo": {
        "type": "object",
        "description": "Processo judicial",
        "properties": {
          "numero_processo": {
            "type": "string",
            "description": "Numero unico do processo (CNJ)",
            "example": "0000001-23.2020.8.26.0100"
          },
          "tribunal": {
            "type": "string",
            "description": "Sigla do tribunal (TJSP, TRF3, TST, etc.)",
            "example": "TJ-SP"
          },
          "classe_codigo": {
            "type": "integer",
            "description": "Codigo da classe processual conforme tabelas unificadas do CNJ",
            "example": 1234
          },
          "classe_nome": {
            "type": "string",
            "description": "Nome da classe processual",
            "example": "Procedimento Comum Civel"
          },
          "grau": {
            "type": "string",
            "description": "Grau do processo (G1, G2, etc.)",
            "example": "G1"
          },
          "data_ajuizamento": {
            "type": "string",
            "description": "Data de ajuizamento",
            "example": "2020-01-15"
          },
          "orgao_julgador": {
            "type": "string",
            "example": "1a Vara Civel"
          },
          "assuntos": {
            "type": "string",
            "example": "Indenizacao por Dano Moral"
          },
          "partes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parte"
            }
          },
          "advogados": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Advogado"
            }
          }
        }
      },
      "Trabalhista": {
        "type": "object",
        "description": "Informacoes trabalhistas da empresa em listas de transparencia",
        "properties": {
          "beneficiarias": {
            "type": "array",
            "description": "Empresas beneficiarias de trabalho em condicoes analogas a escravidao",
            "items": {
              "type": "object"
            }
          },
          "facilitadoras": {
            "type": "array",
            "description": "Empresas facilitadoras de trabalho em condicoes analogas a escravidao",
            "items": {
              "type": "object"
            }
          },
          "fornecedoras": {
            "type": "array",
            "description": "Empresas fornecedoras envolvidas em irregularidades trabalhistas",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Compliance": {
        "type": "object",
        "description": "Dados de compliance e listas restritivas",
        "properties": {
          "trabalho_escravo": {
            "type": "array",
            "description": "Cadastro de empregadores que tenham submetido trabalhadores a condicoes analogas a escravidao",
            "items": {
              "type": "object"
            }
          },
          "ibama_embargos": {
            "type": "array",
            "description": "Areas embargadas pelo IBAMA por infrações ambientais",
            "items": {
              "type": "object"
            }
          },
          "ceis": {
            "type": "array",
            "description": "Cadastro Nacional de Empresas Inidôneas e Suspensas",
            "items": {
              "type": "object"
            }
          },
          "cnep": {
            "type": "array",
            "description": "Cadastro Nacional de Empresas Punidas",
            "items": {
              "type": "object"
            }
          },
          "ceaf": {
            "type": "array",
            "description": "Cadastro de Expulsões da Administração Federal",
            "items": {
              "type": "object"
            }
          },
          "pep": {
            "type": "array",
            "description": "Pessoas Expostas Politicamente",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BeneficiosCpf": {
        "type": "object",
        "description": "Beneficios sociais recebidos pela pessoa fisica",
        "properties": {
          "auxilio_brasil": {
            "type": "array",
            "description": "Pagamentos do programa Auxilio Brasil",
            "items": {
              "type": "object"
            }
          },
          "bolsa_familia": {
            "type": "array",
            "description": "Pagamentos do programa Bolsa Familia",
            "items": {
              "type": "object"
            }
          },
          "auxilio_emergencial": {
            "type": "array",
            "description": "Pagamentos do Auxilio Emergencial",
            "items": {
              "type": "object"
            }
          },
          "bpc": {
            "type": "array",
            "description": "Pagamentos do Beneficio de Prestacao Continuada (BPC/LOAS)",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "RenunciaFiscal": {
        "type": "object",
        "description": "Renuncia fiscal concedida a empresa",
        "properties": {
          "cnpj": {
            "type": "string",
            "description": "CNPJ da empresa beneficiaria (somente digitos)",
            "example": "12345678000195"
          },
          "razao_social": {
            "type": "string",
            "description": "Razao social da empresa beneficiaria",
            "example": "EMPRESA LTDA"
          },
          "tipo_renuncia": {
            "type": "string",
            "description": "Tipo da renuncia fiscal (ISENCAO, IMUNIDADE, REDUCAO, etc.)",
            "example": "ISENCAO"
          },
          "tributo": {
            "type": "string",
            "description": "Tributo objeto da renuncia (IRPJ, CSLL, PIS, COFINS, etc.)",
            "example": "IRPJ"
          },
          "valor_renuncia": {
            "type": "number",
            "description": "Valor da renuncia fiscal em reais",
            "example": 50000.0
          },
          "ano_calendario": {
            "type": "string",
            "description": "Ano-calendario da renuncia",
            "example": "2023"
          }
        }
      },
      "BeneficiosCnpj": {
        "type": "object",
        "description": "Beneficios e renuncias fiscais da empresa",
        "properties": {
          "renuncias_fiscais": {
            "type": "array",
            "description": "Renuncias fiscais concedidas a empresa",
            "items": {
              "$ref": "#/components/schemas/RenunciaFiscal"
            }
          }
        }
      },
      "CargoPublico": {
        "type": "object",
        "description": "Cargo publico/mandato consolidado de uma pessoa politicamente exposta",
        "properties": {
          "cargo": {
            "type": "string",
            "description": "Descricao do cargo/funcao",
            "example": "Deputado Federal"
          },
          "nivel": {
            "type": "string",
            "nullable": true,
            "description": "Nivel da funcao (null se indisponivel)",
            "example": "Federal"
          },
          "orgao": {
            "type": "string",
            "description": "Orgao (sem o sufixo de UF)",
            "example": "Camara Dos Deputados"
          },
          "uf": {
            "type": "string",
            "description": "UF extraida do nome do orgao (vazio se ausente)",
            "example": "SP"
          },
          "mandatos": {
            "type": "array",
            "description": "Periodos de mandato consolidados para o mesmo cargo/orgao",
            "items": {
              "type": "object",
              "properties": {
                "inicio": {
                  "type": "string",
                  "nullable": true,
                  "description": "Data de inicio (ISO YYYY-MM-DD) ou null"
                },
                "fim": {
                  "type": "string",
                  "nullable": true,
                  "description": "Data de fim (ISO YYYY-MM-DD) ou null"
                },
                "carencia_ate": {
                  "type": "string",
                  "nullable": true,
                  "description": "Fim do periodo de carencia (ISO YYYY-MM-DD) ou null"
                }
              }
            }
          }
        }
      },
      "Dominio": {
        "type": "object",
        "description": "Dominio de internet associado a um email da pessoa",
        "properties": {
          "dominio": {
            "type": "string",
            "example": "exemplo.com.br"
          },
          "registrado": {
            "type": "boolean",
            "example": true
          },
          "data_criacao": {
            "type": "string",
            "nullable": true
          },
          "data_atualizacao": {
            "type": "string",
            "nullable": true
          },
          "data_expiracao": {
            "type": "string",
            "nullable": true
          },
          "registrador": {
            "type": "object",
            "nullable": true,
            "properties": {
              "nome": { "type": "string", "nullable": true },
              "url": { "type": "string", "nullable": true }
            }
          },
          "registrante": {
            "type": "object",
            "nullable": true,
            "properties": {
              "nome": { "type": "string", "nullable": true },
              "empresa": { "type": "string", "nullable": true },
              "email": { "type": "string", "nullable": true },
              "telefone": { "type": "string", "nullable": true },
              "pais": { "type": "string", "nullable": true }
            }
          },
          "email_origem": {
            "type": "string",
            "description": "Email a partir do qual o dominio foi derivado",
            "example": "maria@exemplo.com.br"
          }
        }
      },
      "PerfilCadastralCpfResponse": {
        "type": "object",
        "description": "Perfil cadastral completo de uma pessoa fisica",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CPF formatado (000.000.000-00)",
            "example": "123.456.789-01"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CPF"
            ],
            "example": "CPF"
          },
          "nome_completo": {
            "type": "string",
            "description": "Nome completo da pessoa",
            "example": "Maria Silva Santos"
          },
          "genero": {
            "type": "string",
            "description": "Genero da pessoa (Masculino, Feminino, Intersexo ou string vazia)",
            "example": "Feminino"
          },
          "data_nascimento": {
            "type": "string",
            "description": "Data de nascimento no formato YYYY-MM-DD",
            "example": "1996-01-02"
          },
          "falecido": {
            "type": "boolean",
            "description": "Indica se ha registro de obito para a pessoa",
            "example": false
          },
          "obito": {
            "type": "object",
            "nullable": true,
            "description": "Dados do obito (null quando nao falecido)",
            "properties": {
              "data_obito": {
                "type": "string",
                "description": "Data do obito no formato YYYY-MM-DD",
                "example": "2023-04-10"
              },
              "cartorio": {
                "type": "string",
                "description": "Nome do cartorio de registro",
                "example": "Cartorio Central"
              }
            }
          },
          "enderecos": {
            "type": "array",
            "description": "Lista de enderecos associados a pessoa",
            "items": {
              "$ref": "#/components/schemas/Endereco"
            }
          },
          "telefones": {
            "type": "array",
            "description": "Lista de telefones associados a pessoa",
            "items": {
              "$ref": "#/components/schemas/Telefone"
            }
          },
          "emails": {
            "type": "array",
            "description": "Lista de emails associados a pessoa",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "parentes": {
            "type": "array",
            "description": "Lista de parentes identificados",
            "items": {
              "$ref": "#/components/schemas/Parente"
            }
          },
          "publicamente_exposta": {
            "type": "boolean",
            "description": "Indica se a pessoa e politicamente exposta (PEP)",
            "example": false
          },
          "cargos_publicos": {
            "type": "array",
            "description": "Cargos publicos/mandatos consolidados (vazio quando nao PEP)",
            "items": {
              "$ref": "#/components/schemas/CargoPublico"
            }
          },
          "empresas": {
            "type": "array",
            "description": "Empresas em que a pessoa e socia ou responsavel",
            "items": {
              "$ref": "#/components/schemas/EmpresaVinculada"
            }
          },
          "empregos": {
            "type": "array",
            "description": "Vinculos empregaticos da pessoa",
            "items": {
              "$ref": "#/components/schemas/Emprego"
            }
          },
          "beneficios": {
            "$ref": "#/components/schemas/BeneficiosCpf"
          },
          "dominios": {
            "type": "array",
            "description": "Dominios de internet associados aos emails da pessoa",
            "items": {
              "$ref": "#/components/schemas/Dominio"
            }
          }
        }
      },
      "PerfilCadastralCnpjResponse": {
        "type": "object",
        "description": "Perfil cadastral completo de uma empresa",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CNPJ formatado (00.000.000/0000-00)",
            "example": "12.345.678/0001-95"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CNPJ"
            ],
            "example": "CNPJ"
          },
          "cnpj_basico": {
            "type": "string",
            "description": "Raiz do CNPJ (8 primeiros digitos)",
            "example": "12345678"
          },
          "razao_social": {
            "type": "string",
            "description": "Razao social da empresa",
            "example": "Technovacao Digital Ltda"
          },
          "nome_fantasia": {
            "type": "string",
            "nullable": true,
            "description": "Nome fantasia da empresa (null se ausente)",
            "example": "Technovacao"
          },
          "situacao": {
            "type": "string",
            "description": "Situacao cadastral (Nula, Ativa, Suspensa, Inapta, Baixada) ou o codigo bruto quando nao mapeado",
            "example": "Ativa"
          },
          "data_situacao": {
            "type": "string",
            "description": "Data da situacao cadastral no formato YYYY-MM-DD",
            "example": "2016-01-20"
          },
          "motivo_situacao": {
            "type": "string",
            "nullable": true,
            "description": "Motivo da situacao cadastral (null se ausente)",
            "example": null
          },
          "data_abertura": {
            "type": "string",
            "description": "Data de inicio das atividades no formato YYYY-MM-DD",
            "example": "2016-01-20"
          },
          "capital_social": {
            "type": "number",
            "description": "Capital social da empresa em reais",
            "example": 50000.0
          },
          "porte": {
            "type": "string",
            "nullable": true,
            "description": "Porte da empresa (Microempresa, Empresa de Pequeno Porte, etc.) ou null",
            "example": "Empresa de Pequeno Porte"
          },
          "matriz_filial": {
            "type": "string",
            "nullable": true,
            "description": "Matriz ou Filial (null se indisponivel)",
            "example": "Matriz"
          },
          "natureza_juridica": {
            "type": "object",
            "description": "Natureza juridica da empresa (objeto codigo/descricao)",
            "properties": {
              "codigo": {
                "type": "string",
                "example": "2062"
              },
              "descricao": {
                "type": "string",
                "example": "Sociedade Empresária Limitada"
              }
            }
          },
          "atividade_principal": {
            "type": "object",
            "nullable": true,
            "description": "CNAE principal (fiscal) da empresa, ou null",
            "properties": {
              "codigo": {
                "type": "string",
                "example": "6209100"
              },
              "descricao": {
                "type": "string",
                "example": "Suporte tecnico em TI"
              }
            }
          },
          "atividades_secundarias": {
            "type": "array",
            "description": "CNAEs secundarios da empresa",
            "items": {
              "$ref": "#/components/schemas/Cnae"
            }
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "telefones": {
            "type": "array",
            "description": "Lista de telefones da empresa",
            "items": {
              "$ref": "#/components/schemas/Telefone"
            }
          },
          "emails": {
            "type": "array",
            "description": "Lista de emails da empresa",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "socios": {
            "type": "array",
            "description": "Quadro societario da empresa",
            "items": {
              "$ref": "#/components/schemas/Socio"
            }
          },
          "situacao_especial": {
            "type": "string",
            "nullable": true,
            "description": "Situacao especial da empresa (null se ausente)",
            "example": null
          },
          "data_situacao_especial": {
            "type": "string",
            "nullable": true,
            "description": "Data da situacao especial no formato YYYY-MM-DD (null se ausente)",
            "example": null
          }
        }
      },
      "PerfilPatrimonialResponse": {
        "type": "object",
        "description": "Perfil patrimonial completo com todos os bens identificados",
        "properties": {
          "veiculos": {
            "type": "array",
            "description": "Lista de veiculos registrados",
            "items": {
              "$ref": "#/components/schemas/Veiculo"
            }
          },
          "imoveis": {
            "type": "array",
            "description": "Lista de imoveis identificados via IPTU",
            "items": {
              "$ref": "#/components/schemas/Imovel"
            }
          },
          "aeronaves": {
            "$ref": "#/components/schemas/Aeronaves"
          },
          "patentes": {
            "type": "array",
            "description": "Lista de patentes e registros de propriedade intelectual",
            "items": {
              "$ref": "#/components/schemas/Patente"
            }
          },
          "rural": {
            "type": "object",
            "nullable": true,
            "description": "Dados rurais. ATENCAO: o formato difere por tipo de documento. Para CPF (perfilCompleto): objeto rico { documento, tipo, propriedades_sncr[], propriedades_cafir[], transportes{ total, volume_total, valor_total, produtos[], por_produto[], por_ano[], parceiros[] }, autorizacoes[], infracoes[], produtor_organico[], resumo{ area_total_ha, qtd_imoveis_sncr, qtd_imoveis_cafir, qtd_infracoes, valor_total_multas, qtd_autorizacoes, qtd_transportes, estados[] } }. Para CNPJ (findByCpfCnpj): objeto { imoveisRurais: SncrRow[], perfil: objeto | null }. Em ambos os casos retorna null se a consulta exceder o timeout (5s) ou falhar.",
            "properties": {
              "documento": {
                "type": "string",
                "description": "[CPF] Documento consultado"
              },
              "tipo": {
                "type": "string",
                "enum": [
                  "PF",
                  "PJ"
                ],
                "description": "[CPF] Tipo de pessoa"
              },
              "propriedades_sncr": {
                "type": "array",
                "description": "[CPF] Imoveis no SNCR/INCRA",
                "items": {
                  "type": "object"
                }
              },
              "propriedades_cafir": {
                "type": "array",
                "description": "[CPF] Imoveis no CAFIR",
                "items": {
                  "type": "object"
                }
              },
              "transportes": {
                "type": "object",
                "description": "[CPF] Resumo de transportes de produtos rurais"
              },
              "autorizacoes": {
                "type": "array",
                "description": "[CPF] Autorizacoes (AUTEX) agrupadas",
                "items": {
                  "type": "object"
                }
              },
              "infracoes": {
                "type": "array",
                "description": "[CPF] Fiscalizacoes/infracoes ambientais",
                "items": {
                  "type": "object"
                }
              },
              "produtor_organico": {
                "type": "array",
                "description": "[CPF] Registros de produtor organico",
                "items": {
                  "type": "object"
                }
              },
              "resumo": {
                "type": "object",
                "description": "[CPF] Totalizadores rurais"
              },
              "imoveisRurais": {
                "type": "array",
                "description": "[CNPJ] Imoveis rurais (SncrRow). Observe o nome de campo em camelCase.",
                "items": {
                  "type": "object"
                }
              },
              "perfil": {
                "type": "object",
                "nullable": true,
                "description": "[CNPJ] Perfil rural consolidado, ou null"
              }
            }
          }
        }
      },
      "PerfilJuridicoCpfResponse": {
        "type": "object",
        "description": "Perfil juridico de uma pessoa fisica",
        "properties": {
          "processos": {
            "type": "array",
            "description": "Lista de processos judiciais em que a pessoa e parte",
            "items": {
              "$ref": "#/components/schemas/Processo"
            }
          }
        }
      },
      "PerfilJuridicoCnpjResponse": {
        "type": "object",
        "description": "Perfil juridico de uma empresa, incluindo processos, trabalhista e compliance",
        "properties": {
          "processos": {
            "type": "array",
            "description": "Lista de processos judiciais em que a empresa e parte",
            "items": {
              "$ref": "#/components/schemas/Processo"
            }
          },
          "trabalhista": {
            "$ref": "#/components/schemas/Trabalhista"
          },
          "compliance": {
            "$ref": "#/components/schemas/Compliance"
          }
        }
      },
      "PerfilFinanceiroCpfResponse": {
        "type": "object",
        "description": "Perfil financeiro de uma pessoa fisica",
        "properties": {
          "dividas": {
            "$ref": "#/components/schemas/DividasResponse"
          },
          "beneficios": {
            "$ref": "#/components/schemas/BeneficiosCpf"
          }
        }
      },
      "PerfilFinanceiroCnpjResponse": {
        "type": "object",
        "description": "Perfil financeiro de uma empresa",
        "properties": {
          "dividas": {
            "$ref": "#/components/schemas/DividasResponse"
          },
          "beneficios": {
            "$ref": "#/components/schemas/BeneficiosCnpj"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      },
      "HistoricoItem": {
        "type": "object",
        "properties": {
          "situacao": {
            "type": "string",
            "nullable": true
          },
          "valor": {
            "type": "number",
            "nullable": true
          },
          "data_inscricao": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Divida": {
        "type": "object",
        "description": "Inscricao de divida federal agrupada por numero de inscricao",
        "properties": {
          "numero_inscricao": {
            "type": "string",
            "description": "Numero da inscricao na divida ativa"
          },
          "fonte": {
            "type": "string",
            "enum": [
              "ativa_uniao",
              "fgts",
              "previdenciaria"
            ],
            "description": "Origem da divida"
          },
          "receita": {
            "type": "string",
            "nullable": true,
            "description": "Tipo de tributo (IRPF, CSLL, FGTS, etc.)"
          },
          "ajuizado": {
            "type": "boolean",
            "description": "Se foi ajuizado judicialmente"
          },
          "data_inscricao": {
            "type": "string",
            "nullable": true,
            "description": "Data da inscricao mais recente"
          },
          "valor_atual": {
            "type": "number",
            "nullable": true,
            "description": "Valor consolidado mais recente em R$"
          },
          "uf": {
            "type": "string",
            "nullable": true,
            "description": "UF do devedor"
          },
          "unidade_responsavel": {
            "type": "string",
            "nullable": true
          },
          "entidade_responsavel": {
            "type": "string",
            "nullable": true,
            "description": "Somente FGTS"
          },
          "historico": {
            "type": "array",
            "description": "Historico de situacoes para o mesmo numero de inscricao",
            "items": {
              "type": "object",
              "properties": {
                "situacao": {
                  "type": "string",
                  "nullable": true
                },
                "valor": {
                  "type": "number",
                  "nullable": true
                },
                "data_inscricao": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "DividasResponse": {
        "type": "object",
        "description": "Dividas federais agrupadas por numero de inscricao",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CPF ou CNPJ consultado"
          },
          "nome": {
            "type": "string",
            "nullable": true,
[...]
