{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Pessoas API",
    "description": "Perfil completo de uma pessoa: identidade, localizacao, contatos, rede familiar, beneficios, dividas, patrimonio, processos e historico profissional. Ponto de entrada principal para investigacoes a partir de CPF ou telefone.",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      },
      "Endereco": {
        "type": "object",
        "properties": {
          "logradouro": {
            "type": "string"
          },
          "numero": {
            "type": "string"
          },
          "complemento": {
            "type": "string"
          },
          "bairro": {
            "type": "string"
          },
          "cidade": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "cep": {
            "type": "string"
          }
        }
      },
      "Telefone": {
        "type": "object",
        "properties": {
          "ddi": {
            "type": "string"
          },
          "ddd": {
            "type": "string"
          },
          "numero": {
            "type": "string"
          },
          "numero_completo": {
            "type": "string"
          },
          "estado": {
            "type": "string"
          },
          "operadora": {
            "type": "string"
          },
          "tem_whatsapp": {
            "type": "boolean"
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "dominio": {
            "type": "string"
          },
          "corporativo": {
            "type": "boolean"
          }
        }
      },
      "Emprego": {
        "type": "object",
        "properties": {
          "documento_empregador": {
            "type": "string"
          },
          "tipo_documento_empregador": {
            "type": "string",
            "enum": ["CNPJ"]
          },
          "nome_empregador": {
            "type": "string"
          },
          "cargo": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "ativo ou inativo"
          },
          "data_admissao": {
            "type": "string"
          },
          "data_desligamento": {
            "type": "string",
            "nullable": true
          },
          "remuneracao": {
            "type": "object",
            "nullable": true,
            "properties": {
              "valor": {
                "type": "number",
                "nullable": true
              },
              "estimativa_minima": {
                "type": "number",
                "nullable": true
              },
              "estimativa_maxima": {
                "type": "number",
                "nullable": true
              },
              "faixa": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "vinculo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "nivel": {
                "type": "string",
                "nullable": true
              },
              "setor": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "tipo": {
                    "type": "string",
                    "nullable": true
                  },
                  "codigo": {
                    "type": "string",
                    "nullable": true
                  },
                  "descricao": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "contatos": {
            "type": "object",
            "nullable": true,
            "properties": {
              "telefone": {
                "$ref": "#/components/schemas/Telefone"
              },
              "email": {
                "$ref": "#/components/schemas/Email"
              }
            }
          }
        }
      },
      "Obito": {
        "type": "object",
        "description": "Dados do registro de obito. Presente apenas quando falecido=true.",
        "properties": {
          "data_obito": {
            "type": "string",
            "description": "Data do obito (YYYY-MM-DD)",
            "example": "2017-07-15"
          },
          "cartorio": {
            "type": "string",
            "description": "Nome do cartorio onde o obito foi registrado",
            "example": "Oficial do Rcpn 42 Subdistrito Jabaquara"
          }
        }
      },
      "PessoaReversa": {
        "type": "object",
        "description": "Referencia de pessoa fisica retornada em buscas reversas",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CPF formatado"
          },
          "tipo_documento": {
            "type": "string",
            "enum": [
              "CPF"
            ]
          },
          "nome": {
            "type": "string",
            "nullable": true
          },
          "data_nascimento": {
            "type": "string",
            "nullable": true,
            "description": "Data ISO (YYYY-MM-DD)"
          },
          "genero": {
            "type": "string",
            "nullable": true,
            "description": "Masculino, Feminino ou Intersexo"
          },
          "falecido": {
            "type": "boolean"
          },
          "obito": {
            "type": "object",
            "nullable": true,
            "properties": {
              "data_obito": {
                "type": "string"
              },
              "cartorio": {
                "type": "string"
              }
            }
          }
        }
      },
      "TelefoneReversoResponse": {
        "type": "object",
        "description": "Pessoas associadas ao telefone consultado",
        "properties": {
          "telefone": {
            "type": "string",
            "description": "Telefone consultado (somente digitos)"
          },
          "pessoas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PessoaReversa"
            }
          }
        }
      },
      "EmailReversoResponse": {
        "type": "object",
        "description": "Pessoas associadas ao email consultado",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email consultado (normalizado)"
          },
          "pessoas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PessoaReversa"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/pessoas/cpf/{cpf}": {
      "get": {
        "operationId": "getPessoaByCpf",
        "summary": "Informacoes basicas",
        "description": "Retorna os dados basicos da pessoa: identidade, genero, data de nascimento e parentes.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos, com ou sem formatacao)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "realtime",
            "in": "query",
            "required": false,
            "description": "Se true, enfileira a validação oficial do nome no TST/BNDT e inclui validacao_oficial na resposta.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados basicos da pessoa com parentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documento": {
                      "type": "string",
                      "example": "123.456.789-01"
                    },
                    "tipo_documento": {
                      "type": "string",
                      "enum": ["CPF"]
                    },
                    "nome_completo": {
                      "type": "string",
                      "example": "João Silva de Oliveira"
                    },
                    "genero": {
                      "type": "string",
                      "example": "Masculino"
                    },
                    "data_nascimento": {
                      "type": "string",
                      "example": "1990-01-15"
                    },
                    "falecido": {
                      "type": "boolean",
                      "description": "Indica se a pessoa consta como falecida na base de obitos",
                      "example": false
                    },
                    "obito": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Obito"
                        },
                        {
                          "type": "object",
                          "nullable": true,
                          "enum": [null]
                        }
                      ],
                      "description": "Dados do obito. null se a pessoa nao consta como falecida."
                    },
                    "parentes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nome": {
                            "type": "string",
                            "example": "Maria Silva"
                          },
                            "documento": {
                              "type": "string",
                              "example": "987.654.321-00"
                            },
                            "tipo_documento": {
                              "type": "string",
                              "enum": ["CPF"]
                            },
                          "vinculo_codigo": {
                            "type": "string",
                            "example": "01"
                          },
                          "vinculo_nome": {
                            "type": "string",
                            "example": "Cônjuge"
                          }
                        }
                      }
                    },
                    "validacao_oficial": {
                      "type": "object",
                      "description": "Referência assíncrona incluída quando realtime=true.",
                      "required": ["status", "fonte", "nome_base", "certidao_id", "poll_url"],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": ["queued", "failed"]
                        },
                        "fonte": {
                          "type": "string",
                          "enum": ["tst_bndt"]
                        },
                        "nome_base": {
                          "type": "string",
                          "nullable": true
                        },
                        "certidao_id": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true
                        },
                        "poll_url": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "example": {
                  "documento": "123.456.789-01",
                  "tipo_documento": "CPF",
                  "nome_completo": "João Silva de Oliveira",
                  "genero": "Masculino",
                  "data_nascimento": "1990-01-15",
                  "falecido": false,
                  "obito": null,
                  "parentes": [
                    {
                      "nome": "Maria Silva",
                      "vinculo_codigo": "01",
                      "vinculo_nome": "Cônjuge",
                      "documento": "987.654.321-00",
                      "tipo_documento": "CPF"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pessoas/cpf/{cpf}/enderecos": {
      "get": {
        "operationId": "getEnderecosByCpf",
        "summary": "Enderecos",
        "description": "Retorna todos os enderecos associados ao CPF, revelando movimentacao geografica ao longo do tempo.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de enderecos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enderecos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Endereco"
                      }
                    }
                  }
                },
                "example": {
                  "enderecos": [
                    {
                      "logradouro": "Rua das Flores",
                      "numero": "123",
                      "complemento": "Apto 10",
                      "bairro": "Centro",
                      "cidade": "São Paulo",
                      "uf": "SP",
                      "cep": "01310100"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pessoas/cpf/{cpf}/empregos": {
      "get": {
        "operationId": "getEmpregosByCpfPessoas",
        "summary": "Empregos",
        "description": "Retorna historico completo de vinculos empregaticios com empregador, cargo e datas de admissao/desligamento.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historico de empregos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "empregos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Emprego"
                      }
                    }
                  }
                },
                "example": {
                  "empregos": [
                    {
                      "nome_empregador": "Silva Comércio LTDA",
                      "cargo": "Gerente Comercial",
                      "status": "ativo",
                      "data_admissao": "2019-01-15",
                      "data_desligamento": null,
                      "remuneracao": {
                        "valor": 5000.0,
                        "estimativa_minima": 6072.0,
                        "estimativa_maxima": 15180.0,
                        "faixa": "4 a 10 SM"
                      },
                      "vinculo": {
                        "nivel": "Funcionário",
                        "setor": {
                          "tipo": "Privado",
                          "codigo": "4729199",
                          "descricao": "Comércio varejista de outros produtos"
                        }
                      },
                      "contatos": {
                        "telefone": {
                          "ddi": "55",
                          "ddd": "11",
                          "numero": "999998888",
                          "numero_completo": "5511999998888",
                          "estado": "São Paulo",
                          "operadora": "Vivo"
                        },
                        "email": {
                          "email": "joao@silva.com.br",
                          "dominio": "silva.com.br",
                          "corporativo": true
                        }
                      },
                      "documento_empregador": "12.345.678/0001-99",
                      "tipo_documento_empregador": "CNPJ"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pessoas/telefone/{telefone}": {
      "get": {
        "operationId": "findByTelefone",
        "summary": "Busca por telefone",
        "description": "Busca reversa: dado um telefone, identifica os CPFs associados. Ponto de entrada quando voce tem apenas um numero de telefone.",
        "tags": [
          "Busca Reversa"
        ],
        "parameters": [
          {
            "name": "telefone",
            "in": "path",
            "required": true,
            "description": "Telefone com DDD (10-11 digitos)",
            "schema": {
              "type": "string",
              "example": "11999998888"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CPFs associados ao telefone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelefoneReversoResponse"
                },
                "example": {
                  "telefone": "11999998888",
                  "pessoas": [
                    {
                      "documento": "123.456.789-01",
                      "tipo_documento": "CPF",
                      "nome": "João Silva de Oliveira",
                      "data_nascimento": "1990-01-15",
                      "genero": "Masculino",
                      "falecido": false,
                      "obito": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telefones/cpf/{cpf}": {
      "get": {
        "operationId": "getTelefonesByCpf",
        "summary": "Telefones por CPF",
        "description": "Retorna todos os telefones associados ao CPF.",
        "tags": [
          "Telefones"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documento": {
                      "type": "string",
                      "description": "CPF formatado",
                      "example": "123.456.789-01"
                    },
                    "tipo_documento": {
                      "type": "string",
                      "enum": [
                        "CPF"
                      ],
                      "example": "CPF"
                    },
                    "telefones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ddi": {
                            "type": "string",
                            "example": "55"
                          },
                          "ddd": {
                            "type": "string",
                            "example": "11"
                          },
                          "numero": {
                            "type": "string",
                            "example": "999998888"
                          },
                          "numero_completo": {
                            "type": "string",
                            "example": "5511999998888"
                          },
                          "estado": {
                            "type": "string",
                            "example": "São Paulo"
                          },
                          "operadora": {
                            "type": "string",
                            "example": "Vivo"
                          },
                          "data": {
                            "type": "string",
                            "nullable": true,
                            "description": "Data de referencia (YYYY-MM-DD) ou null",
                            "example": null
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "documento": "123.456.789-01",
                  "tipo_documento": "CPF",
                  "telefones": [
                    {
                      "ddi": "55",
                      "ddd": "11",
                      "numero": "999998888",
                      "numero_completo": "5511999998888",
                      "estado": "São Paulo",
                      "operadora": "Vivo",
                      "data": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/telefones/cnpj/{cnpj}": {
      "get": {
        "operationId": "getTelefonesByCnpj",
        "summary": "Telefones por CNPJ",
        "description": "Retorna todos os telefones associados ao CNPJ.",
        "tags": [
          "Telefones"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documento": {
                      "type": "string",
                      "description": "CNPJ formatado",
                      "example": "12.345.678/0001-99"
                    },
                    "tipo_documento": {
                      "type": "string",
                      "enum": [
                        "CNPJ"
                      ],
                      "example": "CNPJ"
                    },
                    "telefones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ddi": {
                            "type": "string",
                            "example": "55"
                          },
                          "ddd": {
                            "type": "string",
                            "example": "11"
                          },
                          "numero": {
                            "type": "string",
                            "example": "999998888"
                          },
                          "numero_completo": {
                            "type": "string",
                            "example": "5511999998888"
                          },
                          "estado": {
                            "type": "string",
                            "example": "São Paulo"
                          },
                          "operadora": {
                            "type": "string",
                            "example": "Vivo"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "documento": "12.345.678/0001-99",
                  "tipo_documento": "CNPJ",
                  "telefones": [
                    {
                      "ddi": "55",
                      "ddd": "11",
                      "numero": "999998888",
                      "numero_completo": "5511999998888",
                      "estado": "São Paulo",
                      "operadora": "Vivo"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/emails/cpf/{cpf}": {
      "get": {
        "operationId": "getEmailsByCpf",
        "summary": "Emails por CPF",
        "description": "Retorna todos os emails associados ao CPF.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documento": {
                      "type": "string",
                      "description": "CPF formatado",
                      "example": "123.456.789-01"
                    },
                    "tipo_documento": {
                      "type": "string",
                      "enum": [
                        "CPF"
                      ],
                      "example": "CPF"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      }
                    }
                  }
                },
                "example": {
                  "documento": "123.456.789-01",
                  "tipo_documento": "CPF",
                  "emails": [
                    {
                      "email": "joao@gmail.com",
                      "dominio": "gmail.com",
                      "corporativo": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/emails/cnpj/{cnpj}": {
      "get": {
        "operationId": "getEmailsByCnpj",
        "summary": "Emails por CNPJ",
        "description": "Retorna todos os emails associados ao CNPJ.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximo de registros retornados (max 200, padrao 50)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Numero de registros a pular (padrao 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documento": {
                      "type": "string",
                      "description": "CNPJ formatado",
                      "example": "12.345.678/0001-99"
                    },
                    "tipo_documento": {
                      "type": "string",
                      "enum": [
                        "CNPJ"
                      ],
                      "example": "CNPJ"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      }
                    }
                  }
                },
                "example": {
                  "documento": "12.345.678/0001-99",
                  "tipo_documento": "CNPJ",
                  "emails": [
                    {
                      "email": "contato@empresa.com.br",
                      "dominio": "empresa.com.br",
                      "corporativo": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/processos/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__processos_cpf__cpf_",
        "summary": "Processos judiciais",
        "description": "Processos judiciais associados ao CPF",
        "tags": [
          "Juridico"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processos judiciais associados ao CPF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "processos": [
                    {
                      "numero_processo": "0000001-23.2020.8.26.0100",
                      "tribunal": "TJ-SP",
                      "classe_codigo": 1234,
                      "classe_nome": "Procedimento Comum Cível",
                      "grau": "G1",
                      "data_ajuizamento": "2020-01-15",
                      "orgao_julgador": "1ª Vara Cível",
                      "assuntos": "Indenização por Dano Moral",
                      "partes": [
                        {
                          "nome": "João Silva de Oliveira",
                          "documento": "123.456.789-01",
                          "polo": "Autor",
                          "tipo": "Física"
                        },
                        {
                          "nome": "Empresa X LTDA",
                          "documento": "12.345.678/0001-99",
                          "polo": "Réu",
                          "tipo": "Jurídica"
                        }
                      ],
                      "advogados": [
                        {
                          "nome": "Dr. José Advogado",
                          "oab": "SP123456"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dividas/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__dividas_cpf__cpf_",
        "summary": "Dividas federais",
        "description": "Divida Ativa da Uniao, FGTS e Previdenciaria",
        "tags": [
          "Financeiro"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Divida Ativa da Uniao, FGTS e Previdenciaria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documento": "123.456.789-01",
                  "nome": "Maria da Silva",
                  "total": 2,
                  "valor_total": 24150.5,
                  "ajuizado": true,
                  "dividas": [
                    {
                      "numero_inscricao": "80000000000001",
                      "fonte": "ativa_uniao",
                      "receita": "IRPF",
                      "ajuizado": true,
                      "data_inscricao": "2020-03-15",
                      "valor_atual": 15420.5,
                      "uf": "SP",
                      "unidade_responsavel": "DRF CAMPINAS",
                      "historico": [
                        {
                          "situacao": "Ativa Ajuizada",
                          "valor": 15420.5,
                          "data_inscricao": "2020-03-15"
                        }
                      ]
                    },
                    {
                      "numero_inscricao": "80000000000002",
                      "fonte": "fgts",
                      "receita": "FGTS",
                      "ajuizado": false,
                      "data_inscricao": "2021-07-01",
                      "valor_atual": 8730.0,
                      "uf": "SP",
                      "unidade_responsavel": "SRTE/SP",
                      "entidade_responsavel": "CEF",
                      "historico": [
                        {
                          "situacao": "Ativa",
                          "valor": 8730.0,
                          "data_inscricao": "2021-07-01"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficios/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__beneficios_cpf__cpf_",
        "summary": "Beneficios sociais",
        "description": "Auxilio Brasil, Bolsa Familia, BPC, Auxilio Emergencial",
        "tags": [
          "Financeiro"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auxilio Brasil, Bolsa Familia, BPC, Auxilio Emergencial",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "auxilio_brasil": [
                    {
                      "competencia": "2023-01",
                      "valor": 600.0,
                      "parcela": 1
                    }
                  ],
                  "bolsa_familia": [
                    {
                      "competencia": "2022-12",
                      "valor": 400.0,
                      "parcela": 1
                    }
                  ],
                  "auxilio_emergencial": [
                    {
                      "competencia": "2020-04",
                      "valor": 600.0,
                      "parcela": 1
                    }
                  ],
                  "bpc": [
                    {
                      "tipo": "Idoso",
                      "valor": 1518.0,
                      "data_inicio": "2020-01-15"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veiculos/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__veiculos_cpf__cpf_",
        "summary": "Veiculos",
        "description": "Veiculos registrados no CPF",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Veiculos registrados no CPF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "veiculos": [
                    {
                      "placa": "ABC1D23",
                      "placa_antiga": "ABC1234",
                      "chassi": "9BWAG45N1YT123456",
                      "renavam": "12345678901",
                      "modelo": "FIAT/STRADA TREK CE",
                      "marca": "FIAT",
                      "ano_fabricacao": 2021,
                      "ano_modelo": 2022,
                      "cor": "Prata",
                      "combustivel": "Flex",
                      "municipio": "São Paulo",
                      "uf": "SP",
                      "tipo_veiculo": "Automóvel",
                      "especie_veiculo": "Passageiro",
                      "situacao_veiculo": "Circulação",
                      "potencia": "130",
                      "cilindradas": "1300",
                      "restricoes": [
                        "Alienação Fiduciária"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__imoveis_cpf__cpf_",
        "summary": "Imoveis",
        "description": "Imoveis urbanos do CPF",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Imoveis urbanos do CPF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "imoveis": [
                    {
                      "inscricao": "031.044.0094-1",
                      "fonte": "prefeitura_sp",
                      "localizacao": {
                        "logradouro": "Rua Propriedade",
                        "numero": "456",
                        "complemento": "",
                        "bairro": "Vila Mariana",
                        "cidade": "São Paulo",
                        "uf": "SP",
                        "cep": "04101000"
                      },
                      "terreno": {
                        "area": 250.0
                      },
                      "propriedade": {
                        "areaConstruida": 150.0,
                        "anoConstrucao": 2005,
                        "tipoImovel": "Residencial"
                      },
                      "proprietario": {
                        "nome": "João Silva",
                        "documento": "123.456.789-01"
                      },
                      "valoracao": {
                        "valorVenalIptu": 500000.0,
                        "valorIptu": 2500.0
                      },
                      "fontes": [
                        "IPTU São Paulo"
                      ],
                      "images": {
                        "fachada": null,
                        "satelite": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aeronaves/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__aeronaves_cpf__cpf_",
        "summary": "Aeronaves e drones",
        "description": "Aeronaves e drones registrados no CPF",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aeronaves e drones registrados no CPF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "avioes": [
                    {
                      "marca": "PT-ABC",
                      "modelo": "EMB-110",
                      "fabricante": "Embraer",
                      "tipo": "Avião",
                      "categoria": "TPP",
                      "proprietario": "João Silva",
                      "uf": "SP",
                      "ano_fabricacao": "2010",
                      "certificado_matricula": "12345",
                      "numero_serie": "110-001",
                      "classe": "CLT",
                      "pmd": "5700",
                      "tripulacao_minima": "2",
                      "passageiros_maximo": "19",
                      "tipo_motor": "Turboélice",
                      "quantidade_motores": "2"
                    }
                  ],
                  "drones": [
                    {
                      "codigo_aeronave": "PR-DRONE123",
                      "modelo": "DJI Phantom 4 Pro",
                      "fabricante": "DJI",
                      "tipo_uso": "Recreação",
                      "operador": "João Silva",
                      "cpf_cnpj": "123.456.789-01",
                      "data_validade": "2025-12-31",
                      "numero_serie": "ABC123456",
                      "peso_maximo": "1.388 kg",
                      "ramo_atividade": "Fotografia"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/patentes/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__patentes_cpf__cpf_",
        "summary": "Patentes",
        "description": "Patentes e marcas registradas",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patentes e marcas registradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "patentes": [
                    {
                      "numero_inpi": "BR1020200001234",
                      "titulo": "Sistema de automação para irrigação agrícola",
                      "natureza": "Patente de Invenção",
                      "data_deposito": "2020-01-15",
                      "data_publicacao": "2021-07-20"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rural/cpf/{cpf}": {
      "get": {
        "operationId": "pessoas__rural_cpf__cpf_",
        "summary": "Perfil rural",
        "description": "Imoveis rurais, fiscalizacao ambiental, transportes florestais",
        "tags": [
          "Patrimonio"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Imoveis rurais, fiscalizacao ambiental, transportes florestais",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sncr": [
                    {
                      "codigo_imovel": "9200123456",
                      "nome_imovel": "Fazenda Boa Vista",
                      "municipio": "Ribeirão Preto",
                      "uf": "SP",
                      "area_total": 500.5,
                      "modulos_fiscais": 25.0,
                      "cod_ibge": "3543402",
                      "nome_detentor": "João Silva",
                      "cpf_cnpj": "123.456.789-01",
                      "tipo_detentor": "Proprietário",
                      "fracao": 100.0,
                      "condicao_detentor": "Proprietário"
                    }
                  ],
                  "cafir": [
                    {
                      "nirf": "1234567890",
                      "area_total": 500.5,
                      "codigo_incra": "9200123456",
                      "nome_imovel": "Fazenda Boa Vista",
                      "situacao": "Ativo",
                      "logradouro": "Estrada Rural km 5",
                      "distrito": "Distrito Rural",
                      "uf": "SP",
                      "municipio": "Ribeirão Preto",
                      "cep": "14000000",
                      "data_atualizacao": "2023-01-15",
                      "imune_isento": "Não",
                      "codigo_sncr": "9200123456"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pessoas/email/{email}": {
      "get": {
        "operationId": "getPessoasByEmail",
        "summary": "CPFs por email",
        "description": "Busca reversa: retorna CPFs associados a um endereco de email.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Endereco de email",
            "schema": {
              "type": "string",
              "example": "usuario@gmail.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CPFs associados ao email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailReversoResponse"
                },
                "example": {
                  "email": "joao@gmail.com",
                  "pessoas": [
                    {
                      "documento": "123.456.789-01",
                      "tipo_documento": "CPF",
                      "nome": "João Silva de Oliveira",
                      "data_nascimento": "1990-01-15",
                      "genero": "Masculino",
                      "falecido": false,
                      "obito": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enderecos/cpf/{cpf}": {
      "get": {
        "operationId": "lookupEnderecosByCpf",
        "summary": "Enderecos por CPF",
        "description": "Retorna todos os enderecos associados ao CPF.",
        "tags": [
          "Enderecos"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de enderecos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documento": "123.456.789-01",
                  "tipo_documento": "CPF",
                  "enderecos": [
                    {
                      "logradouro": "Rua das Flores",
                      "numero": "123",
                      "complemento": "Apto 45",
                      "bairro": "Centro",
                      "cidade": "São Paulo",
                      "uf": "SP",
                      "cep": "01310-100"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enderecos/cnpj/{cnpj}": {
      "get": {
        "operationId": "getEnderecosByCnpj",
        "summary": "Enderecos por CNPJ",
        "description": "Retorna todos os enderecos dos estabelecimentos vinculados ao CNPJ.",
        "tags": [
          "Enderecos"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de enderecos dos estabelecimentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documento": "12.345.678/0001-99",
                  "tipo_documento": "CNPJ",
                  "enderecos": [
                    {
                      "logradouro": "Rua das Flores",
                      "numero": "123",
                      "complemento": "Apto 45",
                      "bairro": "Centro",
                      "cidade": "São Paulo",
                      "uf": "SP",
                      "cep": "01310-100"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
