{
  "openapi": "3.0.3",
  "info": {
    "title": "Webhooks API",
    "description": "Destinos, assinaturas, entregas, novas tentativas e replay de eventos.",
    "version": "1.0"
  },
  "servers": [{ "url": "https://221b-api.sherlocker.com.br/api/v1" }],
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } },
    "parameters": {
      "EndpointId": {
        "name": "endpoint_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" }
      },
      "DeliveryId": {
        "name": "delivery_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": { "type": "string" }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      }
    },
    "schemas": {
      "WebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "url",
          "event_types",
          "status",
          "secret_hint",
          "secret_version",
          "health",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "object": { "type": "string", "enum": ["webhook_endpoint"] },
          "name": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "event_types": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["active", "disabled"] },
          "secret_hint": { "type": "string" },
          "secret_version": { "type": "integer" },
          "signing_secret": {
            "type": "string",
            "description": "Exibido somente na criação e na rotação."
          },
          "health": {
            "type": "object",
            "properties": {
              "consecutive_failures": { "type": "integer" },
              "last_success_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "last_failure_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "object": { "type": "string", "enum": ["webhook_delivery"] },
          "endpoint_id": { "type": "string", "format": "uuid" },
          "event_id": { "type": "string" },
          "event_type": { "type": "string" },
          "sequence": { "type": "integer" },
          "resource_id": { "type": "string" },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivering",
              "retry_scheduled",
              "delivered",
              "dead_letter",
              "skipped"
            ]
          },
          "attempts": { "type": "integer" },
          "replay_count": { "type": "integer" },
          "response_status": { "type": "integer", "nullable": true },
          "last_error_code": { "type": "string", "nullable": true },
          "delivered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "next_attempt_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "next_cursor": { "type": "string", "nullable": true },
          "has_more": { "type": "boolean" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["status", "code", "detail", "request_id", "retryable"],
        "properties": {
          "status": { "type": "integer" },
          "code": { "type": "string" },
          "detail": { "type": "string" },
          "request_id": { "type": "string" },
          "retryable": { "type": "boolean" }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Erro no formato application/problem+json",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "paths": {
    "/webhook-endpoints": {
      "post": {
        "summary": "Criar destino de webhook",
        "description": "Registra um destino HTTPS e revela o segredo de assinatura uma única vez.",
        "operationId": "createWebhookEndpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "url", "event_types"],
                "properties": {
                  "name": { "type": "string", "maxLength": 255 },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "event_types": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": { "type": "string", "maxLength": 96 }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Destino criado com signing_secret",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/Error" },
          "422": { "$ref": "#/components/responses/Error" }
        }
      },
      "get": {
        "summary": "Listar destinos de webhook",
        "description": "Lista destinos configurados no workspace.",
        "operationId": "listWebhookEndpoints",
        "responses": {
          "200": {
            "description": "Destinos configurados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/webhook-endpoints/{endpoint_id}": {
      "get": {
        "summary": "Consultar destino de webhook",
        "description": "Retorna configuração, versão do segredo e saúde das entregas.",
        "operationId": "getWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "200": {
            "description": "Destino encontrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/Error" }
        }
      },
      "patch": {
        "summary": "Atualizar destino de webhook",
        "description": "Altera nome, URL, tipos de evento ou estado do destino.",
        "operationId": "updateWebhookEndpoint",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "maxLength": 255 },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "event_types": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": { "type": "string" }
                  },
                  "status": { "type": "string", "enum": ["active", "disabled"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Destino atualizado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/Error" },
          "422": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/webhook-endpoints/{endpoint_id}/rotate-secret": {
      "post": {
        "summary": "Rotacionar segredo do webhook",
        "description": "Substitui o segredo de assinatura e revela a nova versão uma única vez.",
        "operationId": "rotateWebhookSecret",
        "parameters": [{ "$ref": "#/components/parameters/EndpointId" }],
        "responses": {
          "200": {
            "description": "Segredo rotacionado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookEndpoint" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/webhook-endpoints/{endpoint_id}/deliveries": {
      "get": {
        "summary": "Listar entregas do webhook",
        "description": "Lista entregas, novas tentativas e itens esgotados por cursor e estado.",
        "operationId": "listWebhookDeliveries",
        "parameters": [
          { "$ref": "#/components/parameters/EndpointId" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "delivering",
                "retry_scheduled",
                "delivered",
                "dead_letter",
                "skipped"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de entregas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Delivery" }
                    },
                    "page": { "$ref": "#/components/schemas/Page" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/webhook-endpoints/{endpoint_id}/deliveries/{delivery_id}/replay": {
      "post": {
        "summary": "Reenviar entrega do webhook",
        "description": "Coloca novamente na fila uma entrega elegível, preservando o evento original.",
        "operationId": "replayWebhookDelivery",
        "parameters": [
          { "$ref": "#/components/parameters/EndpointId" },
          { "$ref": "#/components/parameters/DeliveryId" }
        ],
        "responses": {
          "202": {
            "description": "Reenvio aceito",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Delivery" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/Error" },
          "409": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  }
}
