{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Regularidade API",
    "description": "Verificacao de compliance e restricoes: IBAMA, sancoes nacionais e internacionais, Banco Central e protestos.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "IbamaItem": {
        "type": "object",
        "properties": {
          "seq_tad": {
            "type": "string",
            "description": "Número do TAD"
          },
          "nome_embargado": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "data_embargo": {
            "type": "string",
            "description": "Data ISO (YYYY-MM-DD)"
          },
          "area_embargada": {
            "type": "number",
            "description": "Área em hectares"
          },
          "bioma": {
            "type": "string"
          },
          "auto_infracao": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          }
        }
      },
      "BancoCentralItem": {
        "type": "object",
        "properties": {
          "pas": {
            "type": "string",
            "description": "Número do PAS"
          },
          "nome": {
            "type": "string"
          },
          "cpf_masked": {
            "type": "string",
            "description": "CPF parcialmente mascarado"
          },
          "penalidade": {
            "type": "string"
          },
          "prazo_anos": {
            "type": "number"
          },
          "inicio_cumprimento": {
            "type": "string",
            "description": "Data ISO"
          },
          "prazo_final": {
            "type": "string",
            "description": "Data ISO"
          }
        }
      },
      "SancaoInternacionalItem": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "description": "Fonte (OFAC, EU, UN, etc.)"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Individual ou Entity"
          },
          "programs": {
            "type": "string"
          },
          "remarks": {
            "type": "string"
          }
        }
      },
      "TrabalhoEscravoItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "ano_acao_fiscal": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "empregador_documento": {
            "type": "string",
            "description": "CNPJ formatado do empregador"
          },
          "empregador_nome": {
            "type": "string"
          },
          "estabelecimento": {
            "type": "string"
          },
          "trabalhadores_envolvidos": {
            "type": "number"
          },
          "cnae": {
            "type": "string"
          },
          "decisao_administrativa": {
            "type": "string",
            "description": "Data ISO"
          },
          "inclusao_cadastro": {
            "type": "string",
            "description": "Data ISO"
          }
        }
      },
      "ModuleResult": {
        "type": "object",
        "required": [
          "found"
        ],
        "properties": {
          "found": {
            "type": "boolean",
            "description": "Se foram encontrados registros"
          },
          "data": {
            "type": "array",
            "description": "Dados do módulo (presente quando found=true)"
          },
          "error": {
            "type": "string",
            "description": "Mensagem de erro (presente quando a consulta falhou)"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "example": "CPF invalido"
              }
            }
          }
        }
      },
      "RegularidadeCpfResponse": {
        "type": "object",
        "description": "Módulos disponíveis para CPF",
        "properties": {
          "ibama": {
            "$ref": "#/components/schemas/ModuleResult"
          },
          "sancao-nacional": {
            "$ref": "#/components/schemas/ModuleResult"
          },
          "banco-central": {
            "$ref": "#/components/schemas/ModuleResult"
          },
          "sancao-internacional": {
            "$ref": "#/components/schemas/ModuleResult"
          }
        }
      },
      "RegularidadeCnpjResponse": {
        "type": "object",
        "description": "Módulos disponíveis para CNPJ",
        "properties": {
          "ibama": {
            "$ref": "#/components/schemas/ModuleResult"
          },
          "sancao-nacional": {
            "$ref": "#/components/schemas/ModuleResult"
          },
          "sancao-internacional": {
            "$ref": "#/components/schemas/ModuleResult"
          },
          "trabalho-escravo": {
            "$ref": "#/components/schemas/ModuleResult"
          }
        }
      }
    }
  },
  "paths": {
    "/regularidade/cpf/{cpf}": {
      "get": {
        "operationId": "getRegularidadeByCpf",
        "summary": "Restricoes e sancoes de uma pessoa",
        "description": "Consulta multiplos modulos de regularidade para uma pessoa fisica. Cada modulo retorna found=true se ha restricoes.",
        "tags": [
          "Regularidade"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF do titular (com ou sem formatacao)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          },
          {
            "name": "modulos",
            "in": "query",
            "required": false,
            "description": "Módulos a consultar separados por vírgula. Opções: ibama, sancao-nacional, banco-central, sancao-internacional. Se omitido, consulta todos.",
            "schema": {
              "type": "string",
              "example": "ibama,protestos"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "required": false,
            "description": "Nome (necessario para banco-central e sancao-nacional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado por modulo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegularidadeCpfResponse"
                },
                "example": {
                  "ibama": {
                    "found": true,
                    "data": [
                      {
                        "seq_tad": "12345",
                        "nome_embargado": "João Silva",
                        "uf": "SP",
                        "municipio": "Ribeirão Preto",
                        "data_embargo": "2020-01-15",
                        "area_embargada": 50.0,
                        "bioma": "Cerrado",
                        "auto_infracao": "9876543",
                        "descricao": "Desmatamento ilegal em área de preservação permanente"
                      }
                    ]
                  },
                  "sancao-nacional": {
                    "found": true,
                    "data": [
                      {
                        "nome": "João Silva",
                        "cnpj_cpf": "123.456.789-01",
                        "orgao_sancionador": "CGU",
                        "tipo_sancao": "Impedimento",
                        "data_inicio_sancao": "2021-03-10",
                        "data_fim_sancao": "2026-03-10"
                      }
                    ]
                  },
                  "banco-central": {
                    "found": true,
                    "data": [
                      {
                        "pas": "RJ2020/0001",
                        "nome": "João Silva",
                        "cpf_masked": "***456789**",
                        "penalidade": "Inabilitação",
                        "prazo_anos": 5,
                        "inicio_cumprimento": "2020-06-01",
                        "prazo_final": "2025-06-01"
                      }
                    ]
                  },
                  "sancao-internacional": {
                    "found": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/regularidade/cnpj/{cnpj}": {
      "get": {
        "operationId": "getRegularidadeByCnpj",
        "summary": "Restricoes e sancoes de uma empresa",
        "description": "Consulta multiplos modulos de regularidade para uma empresa.",
        "tags": [
          "Regularidade"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (com ou sem formatacao)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          },
          {
            "name": "modulos",
            "in": "query",
            "required": false,
            "description": "Módulos a consultar separados por vírgula. Opções: ibama, sancao-nacional, sancao-internacional, trabalho-escravo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado por modulo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegularidadeCnpjResponse"
                },
                "example": {
                  "ibama": {
                    "found": true,
                    "data": [
                      {
                        "seq_tad": "67890",
                        "nome_embargado": "Madeireira Norte Ltda",
                        "uf": "PA",
                        "municipio": "Altamira",
                        "data_embargo": "2022-08-20",
                        "area_embargada": 150.0,
                        "bioma": "Amazônia",
                        "auto_infracao": "1234567",
                        "descricao": "Exploração ilegal de madeira"
                      }
                    ]
                  },
                  "sancao-nacional": {
                    "found": true,
                    "data": [
                      {
                        "nome": "Construtora ABC Ltda",
                        "cnpj_cpf": "12.345.678/0001-99",
                        "orgao_sancionador": "CGU",
                        "tipo_sancao": "Inidoneidade",
                        "data_inicio_sancao": "2023-01-15",
                        "data_fim_sancao": "2028-01-15"
                      }
                    ]
                  },
                  "sancao-internacional": {
                    "found": true,
                    "data": [
                      {
                        "source": "OFAC",
                        "name": "Construtora ABC Ltda",
                        "type": "Entity",
                        "programs": "SDNTK",
                        "remarks": "Listed for sanctions evasion"
                      }
                    ]
                  },
                  "trabalho-escravo": {
                    "found": true,
                    "data": [
                      {
                        "id": 2,
                        "ano_acao_fiscal": "2024",
                        "uf": "MT",
                        "empregador_documento": "48.937.720/0001-04",
                        "empregador_nome": "ROBERTO DOS SANTOS",
                        "estabelecimento": "MT 235, ZONA RURAL, COMODORO/MT",
                        "trabalhadores_envolvidos": 2,
                        "cnae": "2391-5/03",
                        "decisao_administrativa": "2024-10-08",
                        "inclusao_cadastro": "2025-04-09"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
