{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Trabalhista API",
    "description": "Verificacao de participacao no PAT (Programa de Alimentacao do Trabalhador) por CNPJ.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "PatBeneficiaria": {
        "type": "object",
        "description": "Empresa beneficiaria do PAT. Todos os campos sao string (nunca null); campos numericos vem como string.",
        "properties": {
          "cnpj": {
            "type": "string"
          },
          "razao_social": {
            "type": "string"
          },
          "matriz_filial": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "registro": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "data_cadastro": {
            "type": "string"
          },
          "situacao": {
            "type": "string"
          },
          "trab_ate_5sm": {
            "type": "string",
            "description": "Trabalhadores que recebem ate 5 salarios minimos (numero em string)"
          },
          "trab_acima_5sm": {
            "type": "string",
            "description": "Trabalhadores que recebem acima de 5 salarios minimos (numero em string)"
          },
          "total_trabalhadores": {
            "type": "string",
            "description": "Total de trabalhadores (numero em string)"
          }
        }
      },
      "PatFacilitadora": {
        "type": "object",
        "description": "Empresa facilitadora do PAT. Todos os campos sao string (nunca null).",
        "properties": {
          "cnpj": {
            "type": "string"
          },
          "razao_social": {
            "type": "string"
          },
          "matriz_filial": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "registro": {
            "type": "string"
          },
          "data_cadastro": {
            "type": "string"
          },
          "situacao": {
            "type": "string"
          }
        }
      },
      "PatFornecedora": {
        "type": "object",
        "description": "Empresa fornecedora do PAT. Todos os campos sao string (nunca null).",
        "properties": {
          "cnpj": {
            "type": "string"
          },
          "razao_social": {
            "type": "string"
          },
          "matriz_filial": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "registro": {
            "type": "string"
          },
          "data_cadastro": {
            "type": "string"
          },
          "situacao": {
            "type": "string"
          }
        }
      },
      "TrabalhistaResponse": {
        "type": "object",
        "description": "Participacao da empresa no PAT, agrupada por papel. As tres listas estao sempre presentes (vazias quando nao ha registro).",
        "properties": {
          "beneficiarias": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatBeneficiaria"
            }
          },
          "facilitadoras": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatFacilitadora"
            }
          },
          "fornecedoras": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatFornecedora"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/trabalhista/cnpj/{cnpj}": {
      "get": {
        "operationId": "getTrabalhistaByCnpj",
        "summary": "Irregularidades trabalhistas de uma empresa",
        "description": "Verifica a participacao da empresa no PAT (Programa de Alimentacao do Trabalhador) como beneficiaria, facilitadora ou fornecedora.",
        "tags": [
          "Trabalhista"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (com ou sem formatacao)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado da consulta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrabalhistaResponse"
                },
                "example": {
                  "beneficiarias": [
                    {
                      "cnpj": "12345678000199",
                      "razao_social": "Silva Comércio LTDA",
                      "matriz_filial": "Matriz",
                      "uf": "SP",
                      "registro": "123456",
                      "municipio": "São Paulo",
                      "data_cadastro": "2020-01-15",
                      "situacao": "Ativo",
                      "trab_ate_5sm": "120",
                      "trab_acima_5sm": "30",
                      "total_trabalhadores": "150"
                    }
                  ],
                  "facilitadoras": [],
                  "fornecedoras": []
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}