{
  "openapi": "3.0.0",
  "info": {
    "title": "Sherlocker Veiculos API",
    "description": "Levantamento de veiculos registrados no DENATRAN. Busca por CPF ou CNPJ do proprietario, ou identificacao por placa.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "schemas": {
      "Veiculo": {
        "type": "object",
        "properties": {
          "documento": {
            "type": "string",
            "description": "CPF ou CNPJ do proprietario (apenas digitos, sem formatacao)"
          },
          "tipo": {
            "type": "string",
            "enum": ["PF", "PJ"],
            "description": "PF (pessoa fisica) ou PJ (pessoa juridica)"
          },
          "nome_proprietario": {
            "type": "string"
          },
          "ano_documento": {
            "type": "integer",
            "description": "Ano do documento/registro"
          },
          "placa": {
            "type": "string",
            "description": "Placa atual"
          },
          "placa_antiga": {
            "type": "string",
            "description": "Placa formato antigo, sem hifen (ex: ABC1234)"
          },
          "placa_nova": {
            "type": "string",
            "description": "Placa formato Mercosul (string vazia se nao houver)"
          },
          "renavam": {
            "type": "string"
          },
          "chassi": {
            "type": "string"
          },
          "ano_fabricacao": {
            "type": "integer"
          },
          "ano_modelo": {
            "type": "integer",
            "nullable": true,
            "description": "Ano do modelo (null quando desconhecido)"
          },
          "marca": {
            "type": "string"
          },
          "modelo": {
            "type": "string"
          },
          "cor": {
            "type": "string"
          },
          "combustivel": {
            "type": "string"
          },
          "tipo_veiculo": {
            "type": "string",
            "description": "Automovel, Motocicleta, Caminhao, etc"
          },
          "especie_veiculo": {
            "type": "string"
          },
          "potencia": {
            "type": "string"
          },
          "cilindradas": {
            "type": "string"
          },
          "quantidade_passageiro": {
            "type": "string"
          },
          "municipio": {
            "type": "string"
          },
          "uf": {
            "type": "string"
          },
          "situacao_veiculo": {
            "type": "string",
            "description": "Regular, Irregular, Roubo/Furto, Baixado, etc"
          },
          "nacionalidade": {
            "type": "string",
            "description": "Nacional ou Importado"
          },
          "carroceria": {
            "type": "string",
            "description": "Tipo de carroceria (string vazia se nao houver)"
          },
          "tipo_montagem": {
            "type": "string"
          },
          "peso_bruto_total": {
            "type": "string"
          },
          "cap_maxima_tracao": {
            "type": "string"
          },
          "capacidade_carga": {
            "type": "string"
          },
          "motor": {
            "type": "string"
          },
          "caixa_cambio": {
            "type": "string",
            "description": "Numero da caixa de cambio (string vazia se nao houver)"
          },
          "situacao_chassi": {
            "type": "string",
            "description": "Normal, Remarcado, etc"
          },
          "eixos": {
            "type": "string"
          },
          "media_preco": {
            "type": "string",
            "description": "Media de preco FIPE (string vazia se nao houver)"
          },
          "updated_at": {
            "type": "integer",
            "description": "Timestamp da ultima atualizacao do registro"
          },
          "restricoes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Lista de restricoes do veiculo (ex: Alienacao Fiduciaria)"
          }
        }
      },
      "VeiculosResponse": {
        "type": "object",
        "properties": {
          "veiculos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Veiculo"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "erro": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo do erro (ex: VALIDATION_ERROR, NOT_FOUND, UNAUTHORIZED)",
                "example": "VALIDATION_ERROR"
              },
              "mensagem": {
                "type": "string",
                "description": "Mensagem descritiva do erro",
                "example": "CPF invalido"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/veiculos/cpf/{cpf}": {
      "get": {
        "operationId": "getVeiculosByCpf",
        "summary": "Veiculos de uma pessoa",
        "description": "Retorna todos os veiculos registrados em nome de uma pessoa fisica.",
        "tags": [
          "Veiculos"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "required": true,
            "description": "CPF do proprietario (11 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678901"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de veiculos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VeiculosResponse"
                },
                "example": {
                  "veiculos": [
                    {
                      "documento": "91805040600",
                      "tipo": "PF",
                      "nome_proprietario": "HELENICE LUZIA PEREZ",
                      "ano_documento": 2025,
                      "placa": "QPS0133",
                      "placa_antiga": "QPS0133",
                      "placa_nova": "",
                      "renavam": "1173451703",
                      "chassi": "93YRBB005KJ664188",
                      "ano_fabricacao": 2018,
                      "ano_modelo": 2019,
                      "marca": "RENAULT",
                      "modelo": "KWID ZEN 10MT",
                      "cor": "Branca",
                      "combustivel": "Alcool / Gasolina",
                      "tipo_veiculo": "Automovel",
                      "especie_veiculo": "Passageiro",
                      "potencia": "70",
                      "cilindradas": "999",
                      "quantidade_passageiro": "5",
                      "municipio": "Belo Horizonte",
                      "uf": "MG",
                      "situacao_veiculo": "Regular",
                      "nacionalidade": "Nacional",
                      "carroceria": "",
                      "tipo_montagem": "Completa",
                      "peso_bruto_total": "116",
                      "cap_maxima_tracao": "116",
                      "capacidade_carga": "0",
                      "motor": "B4DA402Q084089",
                      "caixa_cambio": "",
                      "situacao_chassi": "Normal",
                      "eixos": "2",
                      "media_preco": "",
                      "updated_at": 0,
                      "restricoes": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veiculos/cnpj/{cnpj}": {
      "get": {
        "operationId": "getVeiculosByCnpj",
        "summary": "Frota de uma empresa",
        "description": "Retorna todos os veiculos registrados em nome de uma empresa.",
        "tags": [
          "Veiculos"
        ],
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ da empresa (14 digitos)",
            "schema": {
              "type": "string",
              "example": "12345678000199"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de veiculos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VeiculosResponse"
                },
                "example": {
                  "veiculos": [
                    {
                      "documento": "12345678000199",
                      "tipo": "PJ",
                      "nome_proprietario": "SILVA COMERCIO LTDA",
                      "ano_documento": 2024,
                      "placa": "DEF2G34",
                      "placa_antiga": "DEF2345",
                      "placa_nova": "",
                      "renavam": "98765432101",
                      "chassi": "9BWHE21JX24012345",
                      "ano_fabricacao": 2020,
                      "ano_modelo": 2021,
                      "marca": "VW",
                      "modelo": "SAVEIRO ROBUST CS",
                      "cor": "Branca",
                      "combustivel": "Flex",
                      "tipo_veiculo": "Caminhonete",
                      "especie_veiculo": "Carga",
                      "potencia": "104",
                      "cilindradas": "1600",
                      "quantidade_passageiro": "2",
                      "municipio": "Sao Paulo",
                      "uf": "SP",
                      "situacao_veiculo": "Regular",
                      "nacionalidade": "Nacional",
                      "carroceria": "",
                      "tipo_montagem": "Completa",
                      "peso_bruto_total": "1800",
                      "cap_maxima_tracao": "1800",
                      "capacidade_carga": "650",
                      "motor": "CWS123456",
                      "caixa_cambio": "",
                      "situacao_chassi": "Normal",
                      "eixos": "2",
                      "media_preco": "",
                      "updated_at": 0,
                      "restricoes": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veiculos/placa/{placa}": {
      "get": {
        "operationId": "getVeiculoByPlaca",
        "summary": "Identificar veiculo por placa",
        "description": "Busca reversa: identifica o veiculo e seu proprietario a partir da placa. Aceita formato antigo (ABC1234) e Mercosul (ABC1D23).",
        "tags": [
          "Veiculos"
        ],
        "parameters": [
          {
            "name": "placa",
            "in": "path",
            "required": true,
            "description": "Placa do veiculo",
            "schema": {
              "type": "string",
              "example": "ABC1234"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados do veiculo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VeiculosResponse"
                },
                "example": {
                  "veiculos": [
                    {
                      "documento": "91805040600",
                      "tipo": "PF",
                      "nome_proprietario": "HELENICE LUZIA PEREZ",
                      "ano_documento": 2025,
                      "placa": "QPS0133",
                      "placa_antiga": "QPS0133",
                      "placa_nova": "",
                      "renavam": "1173451703",
                      "chassi": "93YRBB005KJ664188",
                      "ano_fabricacao": 2018,
                      "ano_modelo": 2019,
                      "marca": "RENAULT",
                      "modelo": "KWID ZEN 10MT",
                      "cor": "Branca",
                      "combustivel": "Alcool / Gasolina",
                      "tipo_veiculo": "Automovel",
                      "especie_veiculo": "Passageiro",
                      "potencia": "70",
                      "cilindradas": "999",
                      "quantidade_passageiro": "5",
                      "municipio": "Belo Horizonte",
                      "uf": "MG",
                      "situacao_veiculo": "Regular",
                      "nacionalidade": "Nacional",
                      "carroceria": "",
                      "tipo_montagem": "Completa",
                      "peso_bruto_total": "116",
                      "cap_maxima_tracao": "116",
                      "capacidade_carga": "0",
                      "motor": "B4DA402Q084089",
                      "caixa_cambio": "",
                      "situacao_chassi": "Normal",
                      "eixos": "2",
                      "media_preco": "",
                      "updated_at": 0,
                      "restricoes": ["Alienacao Fiduciaria"]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parametro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}