{
  "openapi": "3.1.0",
  "info": {
    "title": "Mycroft API",
    "description": "API de análise de crédito transparente para FIDCs brasileiros",
    "version": "1.0.0",
    "contact": {
      "name": "Mycroft",
      "url": "https://mycroft.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.mycroft.com.br/api",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/operations": {
      "post": {
        "operationId": "createOperation",
        "summary": "Criar operação de análise",
        "description": "Envia um arquivo CNAB 400 para análise de crédito. A operação é enfileirada e processada assincronamente. Use GET /v1/operations/{id} para acompanhar o status.",
        "tags": ["Operações"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "cedenteCnpj"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo remessa CNAB 400 (.rem ou .txt)"
                  },
                  "cedenteCnpj": {
                    "type": "string",
                    "description": "CNPJ do cedente (14 dígitos ou formatado: 11.222.333/0001-81)",
                    "example": "11222333000181"
                  },
                  "engineId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do motor de regras. Se omitido, usa o template padrão.",
                    "default": "template-padrao"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Operação aceita e enfileirada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationCreated"
                },
                "example": {
                  "operationId": "550e8400-e29b-41d4-a716-446655440000",
                  "status": "queued",
                  "createdAt": "2026-03-08T12:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação (arquivo inválido, CNPJ inválido, engine inexistente)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "type": "https://mycroft.com.br/problems/validation-error",
                  "title": "Validation Error",
                  "status": 400,
                  "detail": "Um ou mais campos são inválidos",
                  "errors": [
                    {
                      "field": "cedenteCnpj",
                      "message": "CNPJ inválido: deve conter 14 dígitos"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "example": {
                  "type": "https://mycroft.com.br/problems/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "Token de autenticação ausente ou inválido"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/{id}": {
      "get": {
        "operationId": "getOperationStatus",
        "summary": "Consultar status da operação",
        "description": "Retorna o status atual e contadores de uma operação. Use para polling até status ser 'completed' ou 'failed'.",
        "tags": ["Operações"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID da operação retornado no POST"
          }
        ],
        "responses": {
          "200": {
            "description": "Status da operação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "status": "completed",
                  "fileName": "bordero-2026-03.rem",
                  "fileSize": 45678,
                  "engineId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "tituloCount": 42,
                  "approvedCount": 35,
                  "blockedCount": 5,
                  "alertCount": 2,
                  "createdAt": "2026-03-08T12:00:00.000Z",
                  "queuedAt": "2026-03-08T12:00:00.100Z",
                  "processingAt": "2026-03-08T12:00:01.500Z",
                  "completedAt": "2026-03-08T12:00:03.200Z",
                  "error": null
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Operação não encontrada",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "example": {
                  "type": "https://mycroft.com.br/problems/not-found",
                  "title": "Not Found",
                  "status": 404,
                  "detail": "Operação não encontrada: 550e8400-e29b-41d4-a716-446655440000"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operations/{id}/result": {
      "get": {
        "operationId": "getOperationResult",
        "summary": "Obter resultado da análise",
        "description": "Retorna o resultado hierárquico da análise (cedente → sacados → títulos). Só disponível quando status é 'completed'.",
        "tags": ["Operações"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID da operação"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["issues", "all"],
              "default": "issues"
            },
            "description": "'issues' retorna apenas entidades com problemas. 'all' retorna a árvore completa."
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado da análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                },
                "example": {
                  "operationId": "550e8400-e29b-41d4-a716-446655440000",
                  "engineId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "engineName": "Template Padrão",
                  "timestamp": "2026-03-08T12:00:03.200Z",
                  "cedente": {
                    "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
                    "cnpj": "11222333000181",
                    "razaoSocial": "Distribuidora ABC Ltda",
                    "status": "alerted",
                    "issues": [
                      {
                        "ruleId": "R12",
                        "ruleName": "Primeira Operação",
                        "category": "alert",
                        "status": "alerted",
                        "message": "Cedente sem histórico anterior de operações",
                        "detail": {
                          "field": "historico",
                          "actual": "0 operações anteriores"
                        }
                      }
                    ],
                    "sacados": [
                      {
                        "id": "d4e5f6a7-b8c9-0123-def4-56789abcdef0",
                        "cnpjCpf": "44555666000199",
                        "razaoSocial": "Comercial XYZ S.A.",
                        "tipo": "PJ",
                        "status": "blocked",
                        "issues": [
                          {
                            "ruleId": "R2",
                            "ruleName": "Protestos",
                            "category": "blocking",
                            "status": "blocked",
                            "message": "Sacado possui protestos acima do limiar permitido",
                            "detail": {
                              "field": "protestos",
                              "actual": "3 protestos",
                              "threshold": "2 protestos"
                            }
                          }
                        ],
                        "titulos": [
                          {
                            "id": "e5f6a7b8-c9d0-1234-ef56-789abcdef012",
                            "numero": "DUP-2026-001",
                            "valor": 15750.50,
                            "dataVencimento": "2026-04-15",
                            "nfeChave": "35260311222333000181550010000001231234567890",
                            "status": "blocked",
                            "issues": [
                              {
                                "ruleId": "R5",
                                "ruleName": "Duplicata Vencimento",
                                "category": "blocking",
                                "status": "blocked",
                                "message": "Data de vencimento inferior a 5 dias úteis",
                                "detail": {
                                  "field": "dataVencimento",
                                  "actual": "2026-04-15",
                                  "expected": "mínimo 5 dias úteis"
                                }
                              }
                            ]
                          },
                          {
                            "id": "f6a7b8c9-d0e1-2345-f678-9abcdef01234",
                            "numero": "DUP-2026-002",
                            "valor": 8320.00,
                            "dataVencimento": "2026-06-20",
                            "nfeChave": null,
                            "status": "approved",
                            "issues": []
                          }
                        ]
                      }
                    ]
                  },
                  "summary": {
                    "totalTitulos": 42,
                    "approved": 35,
                    "blocked": 5,
                    "alerted": 2,
                    "totalValue": 523480.75,
                    "approvedValue": 412300.50,
                    "blockedValue": 87650.25,
                    "alertedValue": 23530.00,
                    "sacados": {
                      "total": 12,
                      "withIssues": 4
                    },
                    "cedente": {
                      "status": "alerted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Operação não encontrada",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Operação ainda não completou",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "example": {
                  "type": "https://mycroft.com.br/problems/conflict",
                  "title": "Conflict",
                  "status": 409,
                  "detail": "Operação ainda não completou. Status atual: processing"
                }
              }
            }
          }
        }
      }
    },
    "/v1/engines": {
      "get": {
        "operationId": "listEngines",
        "summary": "Listar motores de regras",
        "description": "Retorna todos os motores de regras disponíveis, incluindo templates e customizados.",
        "tags": ["Motores de Regras"],
        "responses": {
          "200": {
            "description": "Lista de motores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineList"
                },
                "example": {
                  "engines": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Template Padrão",
                      "description": "Motor de regras padrão com as 15 regras de crédito FIDC",
                      "isTemplate": true,
                      "ruleCount": 15
                    },
                    {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "name": "Motor Conservador",
                      "description": "Motor customizado com limiares mais restritivos",
                      "isTemplate": false,
                      "ruleCount": 15
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEngine",
        "summary": "Criar motor de regras",
        "description": "Cria um motor de regras customizado com configuração própria de regras, ou clona de um motor existente.",
        "tags": ["Motores de Regras"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEngineRequest"
              },
              "example": {
                "name": "Motor Conservador",
                "description": "Motor com limiares mais restritivos para operações de alto risco",
                "cloneFrom": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Motor criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineDetail"
                },
                "example": {
                  "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                  "name": "Motor Conservador",
                  "description": "Motor com limiares mais restritivos para operações de alto risco",
                  "isTemplate": false,
                  "ruleCount": 15,
                  "rules": [
                    {
                      "id": "R1",
                      "name": "CNPJ Status",
                      "severity": "blocking",
                      "enabled": true
                    },
                    {
                      "id": "R2",
                      "name": "Protestos",
                      "severity": "blocking",
                      "enabled": true
                    },
                    {
                      "id": "R11",
                      "name": "Score Baixo",
                      "severity": "alert",
                      "enabled": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Motor de origem (cloneFrom) não encontrado",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/engines/{id}": {
      "get": {
        "operationId": "getEngine",
        "summary": "Detalhe do motor de regras",
        "description": "Retorna detalhes de um motor incluindo todas as configurações de regras.",
        "tags": ["Motores de Regras"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do motor de regras"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do motor com regras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineDetail"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "name": "Motor Padrão Mycroft",
                  "description": "Motor de regras padrão com todas as 15 regras habilitadas",
                  "isTemplate": true,
                  "ruleCount": 15,
                  "rules": [
                    {
                      "id": "R1",
                      "name": "CNPJ Status",
                      "severity": "blocking",
                      "enabled": true
                    },
                    {
                      "id": "R2",
                      "name": "Protestos",
                      "severity": "blocking",
                      "enabled": true
                    },
                    {
                      "id": "R11",
                      "name": "Score Baixo",
                      "severity": "alert",
                      "enabled": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Motor não encontrado",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateEngine",
        "summary": "Atualizar motor de regras",
        "description": "Atualiza nome, descrição ou regras de um motor customizado. Motores template não podem ser modificados.",
        "tags": ["Motores de Regras"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do motor de regras"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEngineRequest"
              },
              "example": {
                "name": "Motor Conservador v2",
                "rules": [
                  {
                    "id": "R1",
                    "name": "CNPJ Status",
                    "severity": "blocking",
                    "enabled": true
                  },
                  {
                    "id": "R11",
                    "name": "Score Baixo",
                    "severity": "blocking",
                    "enabled": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Motor atualizado com detalhes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineDetail"
                },
                "example": {
                  "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                  "name": "Motor Customizado FIDC Alpha",
                  "description": "Motor com regras ajustadas para operacoes de maior risco",
                  "isTemplate": false,
                  "ruleCount": 12,
                  "rules": [
                    {
                      "id": "R1",
                      "name": "CNPJ Status",
                      "severity": "blocking",
                      "enabled": true
                    },
                    {
                      "id": "R2",
                      "name": "Protestos",
                      "severity": "blocking",
                      "enabled": true
                    },
                    {
                      "id": "R11",
                      "name": "Score Baixo",
                      "severity": "alert",
                      "enabled": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Motor não encontrado",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEngine",
        "summary": "Deletar motor de regras",
        "description": "Remove um motor customizado. Motores template ou referenciados por operações não podem ser deletados.",
        "tags": ["Motores de Regras"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID do motor de regras"
          }
        ],
        "responses": {
          "204": {
            "description": "Motor deletado"
          },
          "401": {
            "description": "Token de autenticação ausente ou inválido",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Motor não encontrado",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Motor referenciado por operações existentes",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "example": {
                  "type": "https://mycroft.com.br/problems/conflict",
                  "title": "Conflict",
                  "status": 409,
                  "detail": "Motor não pode ser deletado pois é referenciado por 3 operações"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "OperationCreated": {
        "type": "object",
        "required": ["operationId", "status", "createdAt"],
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid",
            "description": "ID único da operação criada"
          },
          "status": {
            "type": "string",
            "enum": ["queued"],
            "description": "Status inicial da operação"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora de criação"
          }
        }
      },
      "OperationStatus": {
        "type": "object",
        "required": ["id", "status", "fileName", "fileSize", "engineId", "createdAt"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "processing", "completed", "failed"],
            "description": "Status atual da operação"
          },
          "fileName": {
            "type": "string",
            "description": "Nome do arquivo enviado"
          },
          "fileSize": {
            "type": "integer",
            "description": "Tamanho do arquivo em bytes"
          },
          "engineId": {
            "type": "string",
            "format": "uuid",
            "description": "ID do motor de regras utilizado"
          },
          "tituloCount": {
            "type": ["integer", "null"],
            "description": "Total de títulos encontrados no arquivo"
          },
          "approvedCount": {
            "type": ["integer", "null"],
            "description": "Títulos aprovados"
          },
          "blockedCount": {
            "type": ["integer", "null"],
            "description": "Títulos bloqueados"
          },
          "alertCount": {
            "type": ["integer", "null"],
            "description": "Títulos com alerta"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "queuedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "processingAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "completedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "error": {
            "type": ["string", "null"],
            "description": "Mensagem de erro (quando status é 'failed')"
          }
        }
      },
      "AnalysisResult": {
        "type": "object",
        "required": ["operationId", "engineId", "engineName", "timestamp", "cedente", "summary"],
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "engineId": {
            "type": "string",
            "format": "uuid"
          },
          "engineName": {
            "type": "string",
            "description": "Nome do motor de regras utilizado"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora do resultado"
          },
          "cedente": {
            "$ref": "#/components/schemas/Cedente"
          },
          "summary": {
            "$ref": "#/components/schemas/Summary"
          }
        }
      },
      "Cedente": {
        "type": "object",
        "required": ["id", "cnpj", "razaoSocial", "status", "issues", "sacados"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ do cedente (14 dígitos)"
          },
          "razaoSocial": {
            "type": "string",
            "description": "Razão social do cedente"
          },
          "status": {
            "$ref": "#/components/schemas/EntityStatus"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            }
          },
          "sacados": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sacado"
            }
          }
        }
      },
      "Sacado": {
        "type": "object",
        "required": ["id", "cnpjCpf", "razaoSocial", "tipo", "status", "issues", "titulos"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "cnpjCpf": {
            "type": "string",
            "description": "CNPJ ou CPF do sacado"
          },
          "razaoSocial": {
            "type": "string",
            "description": "Razão social ou nome do sacado"
          },
          "tipo": {
            "type": "string",
            "enum": ["PJ", "PF"],
            "description": "Pessoa Jurídica ou Pessoa Física"
          },
          "status": {
            "$ref": "#/components/schemas/EntityStatus"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            }
          },
          "titulos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Titulo"
            }
          }
        }
      },
      "Titulo": {
        "type": "object",
        "required": ["id", "numero", "valor", "dataVencimento", "status", "issues"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "numero": {
            "type": "string",
            "description": "Número do título (duplicata)"
          },
          "valor": {
            "type": "number",
            "format": "double",
            "description": "Valor do título em reais"
          },
          "dataVencimento": {
            "type": "string",
            "format": "date",
            "description": "Data de vencimento do título"
          },
          "nfeChave": {
            "type": ["string", "null"],
            "description": "Chave NFe de 44 dígitos. Null se não informada."
          },
          "status": {
            "$ref": "#/components/schemas/EntityStatus"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            }
          }
        }
      },
      "Issue": {
        "type": "object",
        "required": ["ruleId", "ruleName", "category", "status", "message", "detail"],
        "properties": {
          "ruleId": {
            "type": "string",
            "description": "Identificador da regra (R1 a R15)"
          },
          "ruleName": {
            "type": "string",
            "description": "Nome descritivo da regra"
          },
          "category": {
            "type": "string",
            "enum": ["blocking", "alert"],
            "description": "Categoria da regra: blocking reprova, alert apenas alerta"
          },
          "status": {
            "type": "string",
            "enum": ["blocked", "alerted"],
            "description": "Status resultante da aplicação da regra"
          },
          "message": {
            "type": "string",
            "description": "Mensagem descritiva do problema encontrado"
          },
          "detail": {
            "$ref": "#/components/schemas/IssueDetail"
          }
        }
      },
      "IssueDetail": {
        "type": "object",
        "required": ["field", "actual"],
        "properties": {
          "field": {
            "type": "string",
            "description": "Campo que causou o problema"
          },
          "actual": {
            "description": "Valor encontrado"
          },
          "expected": {
            "description": "Valor esperado (quando aplicável)"
          },
          "threshold": {
            "description": "Limiar configurado (para regras de range)"
          }
        }
      },
      "Summary": {
        "type": "object",
        "required": ["totalTitulos", "approved", "blocked", "alerted", "totalValue", "approvedValue", "blockedValue", "alertedValue", "sacados", "cedente"],
        "properties": {
          "totalTitulos": {
            "type": "integer",
            "description": "Total de títulos analisados"
          },
          "approved": {
            "type": "integer",
            "description": "Títulos aprovados"
          },
          "blocked": {
            "type": "integer",
            "description": "Títulos bloqueados"
          },
          "alerted": {
            "type": "integer",
            "description": "Títulos com alerta"
          },
          "totalValue": {
            "type": "number",
            "format": "double",
            "description": "Valor total dos títulos (R$)"
          },
          "approvedValue": {
            "type": "number",
            "format": "double"
          },
          "blockedValue": {
            "type": "number",
            "format": "double"
          },
          "alertedValue": {
            "type": "number",
            "format": "double"
          },
          "sacados": {
            "type": "object",
            "required": ["total", "withIssues"],
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total de sacados"
              },
              "withIssues": {
                "type": "integer",
                "description": "Sacados com problemas"
              }
            }
          },
          "cedente": {
            "type": "object",
            "required": ["status"],
            "properties": {
              "status": {
                "$ref": "#/components/schemas/EntityStatus"
              }
            }
          }
        }
      },
      "EntityStatus": {
        "type": "string",
        "enum": ["approved", "blocked", "alerted"],
        "description": "Status de uma entidade após análise"
      },
      "EngineList": {
        "type": "object",
        "required": ["engines"],
        "properties": {
          "engines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EngineSummary"
            }
          }
        }
      },
      "EngineSummary": {
        "type": "object",
        "required": ["id", "name", "isTemplate", "ruleCount"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Nome do motor"
          },
          "description": {
            "type": ["string", "null"],
            "description": "Descrição do motor"
          },
          "isTemplate": {
            "type": "boolean",
            "description": "Se é um motor template (não editável)"
          },
          "ruleCount": {
            "type": "integer",
            "description": "Número de regras configuradas"
          }
        }
      },
      "EngineDetail": {
        "type": "object",
        "required": ["id", "name", "isTemplate", "ruleCount", "rules"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": ["string", "null"]
          },
          "isTemplate": {
            "type": "boolean"
          },
          "ruleCount": {
            "type": "integer"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleConfig"
            },
            "description": "Lista de configurações de regras do motor"
          }
        }
      },
      "RuleConfig": {
        "type": "object",
        "required": ["id", "name", "severity", "enabled"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador da regra (R1 a R15)"
          },
          "name": {
            "type": "string",
            "description": "Nome da regra"
          },
          "severity": {
            "type": "string",
            "enum": ["blocking", "alert"],
            "description": "Severidade: blocking reprova, alert apenas alerta"
          },
          "enabled": {
            "type": "boolean",
            "description": "Se a regra está ativa"
          }
        }
      },
      "CreateEngineRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Nome do motor"
          },
          "description": {
            "type": "string",
            "default": "",
            "description": "Descrição do motor"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleConfig"
            },
            "description": "Configuração de regras. Obrigatório se cloneFrom não for informado."
          },
          "cloneFrom": {
            "type": "string",
            "format": "uuid",
            "description": "ID do motor a ser clonado. Mutuamente exclusivo com 'rules'."
          }
        }
      },
      "UpdateEngineRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Novo nome do motor"
          },
          "description": {
            "type": "string",
            "description": "Nova descrição do motor"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleConfig"
            },
            "description": "Nova configuração de regras"
          }
        }
      },
      "ProblemDetail": {
        "type": "object",
        "description": "Formato de erro RFC 7807 Problem Details",
        "required": ["type", "title", "status", "detail"],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URI que identifica o tipo de problema"
          },
          "title": {
            "type": "string",
            "description": "Resumo do problema"
          },
          "status": {
            "type": "integer",
            "description": "Código HTTP de status"
          },
          "detail": {
            "type": "string",
            "description": "Descrição detalhada do problema"
          },
          "instance": {
            "type": "string",
            "description": "URI da instância específica do problema"
          }
        }
      },
      "ValidationError": {
        "description": "Erro de validação com detalhes por campo",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProblemDetail"
          },
          {
            "type": "object",
            "required": ["errors"],
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["field", "message"],
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Campo com erro"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensagem de validação"
                    }
                  }
                },
                "description": "Lista de erros por campo"
              }
            }
          }
        ]
      }
    }
  }
}
